[2018-06-01 19:30] kathreenriel commented on #456
Let me figure out how this keeps happening...if I can

[2018-06-01 19:39] kathreenriel commented on #415
This works as expected. The call to action text is not as prominent on a mobile device.

[2018-06-01 19:39] #415 closed

[2018-06-01 19:41] #405 closed

[2018-06-01 20:02] kathreenriel commented on #456
I think this happens when I have multiple tabs open under the same user at the cert site. I've tried replicating but cannot.

[2018-06-01 20:03] alex-418 commented on #396
Completed via https://github.com/BCcampus/custom-wp-notify/pull/37

[2018-06-01 20:11] bdolor commented on #422
the requirements in this ticket have been fulfilled - captured responsiveness issue in https://github.com/BCcampus/eypd/issues/462

[2018-06-01 20:16] kathreenriel commented on #456
AH HA I figured it out! When I log in in Chrome this is the screen it takes me to
<img width="1079" alt="screen shot 2018-06-01 at 1 14 45 pm" src="https://user-images.githubusercontent.com/16693738/40861429-ea7268de-659d-11e8-8ee8-0614dde13d9e.png">

[2018-06-01 21:59] #423 closed

[2018-06-01 22:00] #424 closed

[2018-06-01 22:58] kathreenriel commented on #396
The "select all" option does not work on Chrome on my iPhone 7
![image-1](https://user-images.githubusercontent.com/16693738/40866811-ad39f902-65b4-11e8-8ae0-72da8eea659e.jpg)

[2018-06-01 23:02] kathreenriel commented on #456
It doesn't seem to allow non-logged in users to see other people's pages. Moving to done.

[2018-06-01 23:03] #456 closed

[2018-06-01 23:21] #422 closed

[2018-06-06 19:43] mandily-p commented on #410
I'm not sure who officially has the say here, but I'm all for putting it on it's own page and moving it to a table format.

[2018-06-11 17:50] mandily-p opened #463 "myEYPD: "&amp" instead of "&" is showing up in the event summary legend"
### Description
ASCI characters are showing up instead of the ampersand sign in the

**Expected behaviour**
Just an `&` should be displayed

**Actual behaviour**
`&amp` is being displayed instead.

### Steps to reproduce the problem
1. Add `professional ethics & practice` to your current events
2. Wait for that event to become a past event
3. See this category represented in the donut legend

![sc

[2018-06-11 17:54] mandily-p opened #464 "myEYPD: Clicking on the arrows of the accordion do not collapse/expand the accordion"
### Description
Clicking on the caret arrows of the accordion do not collapse/expand the accordion. But it does change the text from expand to collapse

**Expected behaviour**
When the user clicks on the arrow, it should collapse or expand the content underneath it. (similar to how clicking on the text works)

**Actual behaviour**
Clicking on the caret arrows of the accordion do not collapse/expan

[2018-06-11 23:43] mandily-p opened #465 "myEYPD: active state of accordion button should not have a shadow"
### Description
When the user clicks on the expand/collapse link there appears to be a box around the text.

**Expected behaviour**
There should be no box or shadow around the text in any state

**Actual behaviour**
There is a shadow around the text in active state.

This class needs to be overwritten.
[code]
### Steps to reproduce the problem
- Navigate to the myEYPD page
- Click and hold on the

[2018-06-19 22:45] paulagaube commented on #91
As Northwest Community College is now known as Coast Mountain College, please replace "nwcc.bc.ca" with "coastmountaincollege.ca" as an approved domain on the Earlyyearsbc.ca and eypd.bccampus.ca sites.
(I don't think we need to keep "nwcc.bc.ca" because employees there will be using the new domain name.)

[2018-06-20 18:24] mandily-p opened #466 "Unique nav links for non-logged in/logged in learners/logged in organizers"
### Description
The main navigation is always visible, but can only be used if a user is logged in.

**Expected behaviour**
If a user is not logged in, they **should not** see the main nav links.
If a user is logged in, they **should** see the main nav links.
Depending on whether a user is a learner or an organizer, they would see their own respective navigation.

**Actual behaviour**
A user sees

[2018-06-22 17:48] kathreenriel commented on #396
To revisions needed:

1. If user manually selects all the interests, the select all box should automatically be selected.
2. If user clicks the box beside "select all" and then deselects one or more professional interests then the "select all" box should automatically be deselected.

[2018-06-22 17:52] kathreenriel opened #467 "myEYPD page: Navigation back to homepage on mobile device"
When a user clicks on myEYPD on a mobile device an opens the page, currently there is no way for the user to navigate back to the homepage from the myEYPD page to the home page.

Make the header consistent with mobile devices so that they user can click on the EYPD logo to navigate back to the homepage from the myEYPD page.

### Steps to reproduce the problem

[First Step, Second Step, etc]

### S

[2018-06-22 17:56] kathreenriel opened #468 "My Professional Interests Page: Event Listings"
Currently, a listing of events that match a users interests appear on the My Professional Interests Page.
**Expected behaviour**
Create a table view similar to the Upcoming Events and Past Events that includes
- Location below the event title
- Date and time
- Length of time
- Cost
- Links "Registration link" or "Contact to register"
![screen shot 2018-06-25 at 9 43 27 am](https://user-images.gith

[2018-06-22 18:01] kathreenriel opened #469 "myEYPD Page: Expand to see All Past Events"
### Description

The triangle beside expand to "Expand To See All Past Events" does not work

**Expected behaviour**

When user clicks on the arrow the table expands

**Actual behaviour**

When user clicks on the triangle, it rotates but the table does not appear.

[First Step, Second Step, etc]

### System Information

- EYPD: [Enter Version here]
- WordPress: [Enter WP Version number here]
<img

[2018-06-22 18:06] kathreenriel opened #470 "MyEYPD page: Description at top"
Put back the description at the top of the page.
<img width="757" alt="screen shot 2018-06-22 at 11 05 58 am" src="https://user-images.githubusercontent.com/16693738/41791982-46590a94-760c-11e8-964d-ff95b04bd3de.png">

[2018-06-22 18:10] kathreenriel opened #471 "myEYPD Page: Date picker field label"
Add a field label above the date picker field
![screen shot 2018-06-24 at 4 46 48 pm](https://user-images.githubusercontent.com/20425828/41824990-5001b28a-77ce-11e8-9b95-f93bf20fe398.png)

[2018-06-22 18:21] kathreenriel opened #472 "myEYPD Page: Professional Interests"
Change the title of save button to Save Selected Interests
<img width="261" alt="screen shot 2018-06-22 at 11 20 17 am" src="https://user-images.githubusercontent.com/16693738/41792627-5cfaee50-760e-11e8-8154-43c9cd1ac186.png">

[2018-06-22 22:19] #469 closed

[2018-06-22 22:30] kathreenriel opened #473 "myEYPD page: Past Events title"
Add the word, Attended to the Past Events subtitle

Make the font size 1em/16px for the words in brackets.

![screen shot 2018-06-24 at 5 14 11 pm](https://user-images.githubusercontent.com/20425828/41825274-5f6335ce-77d2-11e8-86d9-79f4231ac9c4.png)

[2018-06-22 22:34] kathreenriel opened #474 "myEYPD content: Change subtitles"
Change the following subtitles:
1. Upcoming Events - My Upcoming Events
2. Past Events - My Past Events

[2018-06-22 22:39] paulagaube commented on #467
Alternately, what about adding a "Home" text link on the same blue line as "Log in" and "Sign Up"?
(image to come)

[2018-06-22 23:15] kathreenriel opened #475 "myEYPD Page: Upcoming Events"
Add a registration link (if one is included in the event description) to the listings under Upcoming Events I'm interested in.
If no registration link exists, display "Contact Organizer to Register" and link back to the event details page with the organizer contact info in view.

![screen shot 2018-06-24 at 9 14 26 pm](https://user-images.githubusercontent.com/20425828/41830124-cb73b650-77f3-11e8-

[2018-06-23 00:02] #460 closed

[2018-06-23 00:03] kathreenriel commented on #396
This is related to #457

[2018-06-23 00:07] #413 closed

[2018-06-24 23:11] mandily-p commented on #475
I'd like to see a simple "Register online" link instead of the url.

[2018-06-24 23:13] mandily-p opened #476 "myEYPD: Take user to myEYPD when they login"
**Expected behaviour**
When the user logs in to their account, immediately take them to the myEYPD page.

**Actual behaviour**
The user is currently brought back to the home page.

[2018-06-24 23:21] mandily-p opened #477 "myEYPD: Certificate expiry message and colour"
**Expected behaviour**

When the user's expiry date has past, display a message telling them how to fix it and bring attention to it by colouring it red.

**Copy**
Your certificate has expired. Please update your account with a new expiry date.

**Current**
![screen shot 2018-06-24 at 4 20 09 pm](https://user-images.githubusercontent.com/20425828/41824746-80fafd46-77ca-11e8-9959-ccbb13c50552.png)

[2018-06-24 23:31] mandily-p opened #478 "EYPD home: Number of events"
Add the number of events in the system above the search field so that users are confident that there's enough events in the system to make it worth their while to use it.

**Copy**
There are [number] upcoming events

**Styling**
font-weight: bold;
margin-top: 3em

![screen shot 2018-06-24 at 4 28 48 pm](https://user-images.githubusercontent.com/20425828/41824838-ec941b04-77cb-11e8-81f4-339e42796b5

[2018-06-25 00:25] mandily-p opened #479 "myEYPD: Total attended/did not attend events"
Add the number in brackets after each column header in the 'attended,' and 'did not attend' columns so it’s contextual.

![screen shot 2018-06-24 at 5 21 48 pm](https://user-images.githubusercontent.com/20425828/41825349-8cb025a4-77d3-11e8-998c-d6e60c4520d9.png)

[2018-06-25 00:47] mandily-p commented on #472
@alex-418 or @bdolor Is it possible to combine these two functions into a "save and recommend events" button? Or can we use ajax to save the list, but require user input to generate the event page?

[2018-06-25 01:01] mandily-p opened #480 "EYPD: Add multiple images when creating an event"
Users would like the ability to add multiple images to an event. This could include photos from previous events, a photo of the speaker, participants interacting with each other etc.

Display a confirmation message when the image has been successfully uploaded and attached.

[2018-06-25 01:12] mandily-p commented on #408
I'd love to get this into the next sprint as it's own page that the organizers can access under their profile!

[2018-06-25 01:29] mandily-p opened #481 "EYPD: Relocate myEYPD sidebar items into main nav"
Add the items in the myEYPD sidebar into the main navigation. All of these options are better located under the user's profile pic in the top right of the page. This will also open up the page for better use of space with the rest of the content.

[2018-06-25 01:53] mandily-p opened #482 "myEYPD: Remove left navigation"
This ticket has evolved. @kathreenriel has written the revision to this ticket

**Description:**
With the activation of users profile now visible to administrators the links in the left navigation have also increased on for registered users myEYPD page.
**The Problem:**
With 13 additional links now visible to the user, the myEYPD appears to be more cluttered with text.
**The User Story:**
As produ

[2018-06-25 02:01] mandily-p opened #483 "myEYPD: Add total hours to center of training wheel"
Add the total hours completed to the center of the training wheel.

font-size: 14px;

![screen shot 2018-06-24 at 6 58 13 pm](https://user-images.githubusercontent.com/20425828/41826810-097bf6d2-77e1-11e8-8be0-59e7fe267099.png)

[2018-06-25 02:45] mandily-p opened #484 "myEYPD: Select all checkbox functionality on professional interests"
### Description
**Expected behaviour**
If all checkboxes are selected, the "select all" checkbox should automatically be ticked. If one or more of the checkboxes are unticked, the "select all" checkbox should automatically be unticked.

**Actual behaviour**
The select all checkbox is not selected when the page loads with all of the items checked.
The select all checkbox can be ticked with other it

[2018-06-25 03:56] mandily-p opened #485 "myEYPD: Move cert count down to top of blue box"
### Description
Move the certification count down to the top of the blue box.

**Current**
![screen shot 2018-06-24 at 8 52 00 pm](https://user-images.githubusercontent.com/20425828/41829669-f0400c3e-77f0-11e8-987f-55ceaa5d4a05.png)

**Desired**
![screen shot 2018-06-24 at 8 52 06 pm](https://user-images.githubusercontent.com/20425828/41829672-f0fd1a40-77f0-11e8-8fc4-f423d916d996.png)

**Note**
Yo

[2018-06-25 04:03] mandily-p opened #486 "myEYPD content: Add 'you' to personalize blue section"
### Description
Add the word "you have" and "you" to the text in the blue section to make it more clear that we're talking about the user's hours. One user in testing saw this section but didn't realize it was talking about **her** hours.

**Copy**
You have completed 30/40 certification hours.
You need 10 certification hours.

**Current**
![screen shot 2018-06-24 at 9 01 58 pm](https://user-images

[2018-06-25 04:34] mandily-p opened #487 "EYPD - Event list page: Add attending/plan to attend buttons"
### Description
Give users an at a glance way to tell if they're already planning on going to an event, and also let them add it to their events without needing to go into the details. Create buttons using the primary and secondary style in the last column of the table.

**Blocked by #468**
![screen shot 2018-06-25 at 9 44 25 am](https://user-images.githubusercontent.com/20425828/41863764-abff5414

[2018-06-25 16:39] bdolor commented on #467
just add the word 'home' for now

[2018-06-25 16:39] alex-418 commented on #468
Take out attending and plan to attend

[2018-06-25 16:54] mandily-p opened #488 "EYPD: Mobile - User profile overlaps user name in nav"
### Description

On mobile devices, the user profile overlaps the user name in the navigation. Please put the user's profile picture **
**Expected behaviour**

![screen shot 2018-06-25 at 9 31 42 am](https://user-images.githubusercontent.com/20425828/41864080-8cbb6bdc-785d-11e8-8c6b-a6798e0b4a0b.png)

**Actual behaviour**

![screen shot 2018-06-25 at 9 29 48 am](https://user-images.githubuserconte

[2018-06-25 17:03] alex-418 commented on #472
For MyEYPD Refinement Sprint Part 3, focusing only on updating the title of the button.

[2018-06-25 17:05] bdolor commented on #475
- `registration link` is the wording if an event organizer has added a link
- `contact organizer` is a link back to the event page.

[2018-06-25 17:07] paulagaube commented on #475
Title case please: Registration Link and Contact Organizer

[2018-06-25 17:09] #451 closed

[2018-06-25 17:12] #448 closed

[2018-06-25 17:15] paulagaube opened #489 "On SignUp to EarlyYearsbc.ca - Users asked for Activation Code and can't verify their account"
### Description

After completing Sign Up on EarlyYearsbc.ca or EYPD.bccampus.ca, Learners and Organizers are asked for an Activation Key before they can verify their account. The account stays in the Users > "Pending" list.

**Expected behaviour**

After a user completes and submits the Sign Up form as either an Organizer or a Learner, their account is added to the User list as "Pending" and an e

[2018-06-25 19:39] bdolor commented on #91
validate by domain plugin master branch has been updated and is live on prod. Paula is testing now.

[2018-06-25 23:28] paulagaube commented on #91
I was able to successfully create an test account ("pgaubeeditworks") with a domain name I added to the Validate by Domain plugin ("editworks.ca"), but the Role in the Profile is still "Subscriber" in this account and not "Editor" as expected. Sending this back to the Doing column.

(FYI, I did not receive the activation email so I manually Activated the account.)

[2018-06-25 23:33] paulagaube commented on #467
Thank you, this works on an iPhone!

[2018-06-26 15:58] kathreenriel commented on #479
@mandily-p just to clarify, the number represents the number of training events attended not the number of hours collected or not collected thus far correct?

[2018-06-26 16:05] kathreenriel opened #495 "myEYPD page: Calculate my Hours function"
### Description

When user makes changes to the Past Events that they have attended and clicks on "Calculate My Hours" the table closes and the page "jumps" to the top of the myEYPD page forcing the user to scroll down the page, click on "Expand to see all past events" and view the new total number of hours collected.

It would reduce the number of scrolls and clicks if the user may click on "Calc

[2018-06-26 16:53] bdolor commented on #489
An explanation is here: https://buddypress.trac.wordpress.org/ticket/6049 (tldr; some email clients/filters scan emails and follow links embedded in those emails which inadvertently activate an account.)

The fix was brought into buddypress 3.0 as far as I can tell.

The reason we're not seeing the fix is because commons-in-a-box currently has buddypress at v2.9.4

One workaround is to copy the to

[2018-06-26 17:05] bdolor commented on #91
The choice between Organizer and Learner was not marked as a required field as it is on the cert site. I updated production to make this a required field.

If a user signs up as a Learner, they will be allocated to the 'Subscriber' role (option is in the dashboard, Settings -> General 'New User Default Role'). If they sign up as an organizer they will be allocated to the 'Editor' role (option is i

[2018-06-26 19:22] alex-418 commented on #464
Please clear browser cache for fix to take effect.

[2018-06-26 19:32] kathreenriel commented on #464
@alex-418
This works in Safari and Chrome . It does not work in Firefox(60.0.2) on the Mac desktop.

[2018-06-26 19:34] bdolor commented on #489
@kathreenriel - that is correct. It's not ideal, but it works for now as a stop gap measure until c-in-a-box upgrades bp version.

[2018-06-26 19:35] kathreenriel commented on #91
@paulagaube would you validate this in the role a potential Organizer

[2018-06-26 19:37] kathreenriel commented on #489
@bdolor thanks for clarifying

[2018-06-26 19:38] kathreenriel commented on #489
@paulagaube This activation code requirement needs to be part of the confirmation email and the Help questions. Would you please draft copy for this?

[2018-06-26 20:28] alex-418 commented on #464
@kathreenriel please try clearing cache in Firefox once more? I'm also on Firefox(60.0.2) and Mac, working great here.

[2018-06-26 20:43] kathreenriel commented on #464
Sorry @alex-418 yes it works as expected.

[2018-06-26 20:44] mandily-p commented on #479
@kathreenriel That's correct. It's the number of events attended.

[2018-06-26 21:55] paulagaube commented on #489
Ok, I'm going to test this and draft something up. Also was going to add an FAQ for this.

[2018-06-26 23:15] bdolor commented on #468
resolved via https://github.com/BCcampus/custom-wp-notify/pull/40

[2018-06-27 21:11] kathreenriel commented on #477
The red colour of the text appears on my desktop when viewing this message but the text is in black when I view it on my phone.

[2018-06-27 21:12] alex-418 commented on #477
@kathreenriel clear phone browsers cache please and see if that resolves the issue.

[2018-06-27 21:44] kathreenriel commented on #477
AUGH you're right! Sorry @alex-418

[2018-06-27 23:16] kathreenriel commented on #475
@bdolor The delete link  is very close to the Registration Link when the screen is not maximized. On the phone it appears right next to the Registration Link
 is it possible to shift the Delete link  over a little to the right?

<img width="558" alt="delete" src="https://user-images.githubusercontent.com/16693738/42004569-32204e76-7a25-11e8-94dc-4c28826af755.png">

[2018-06-27 23:22] kathreenriel commented on #473
The letters appear to be the same size. I cleared my cache! Promise!
<img width="350" alt="screen shot 2018-06-27 at 4 21 38 pm" src="https://user-images.githubusercontent.com/16693738/42004794-499e4070-7a26-11e8-9893-5708a54845b5.png">

[2018-06-27 23:45] mandily-p commented on #475
In general it would be good to increase the left/right cell padding so we don't run into this problem in other areas too.

This works and helps keep the left edges aligned with the table headings:

padding: 1em 1em 1em 0;

[2018-06-27 23:54] mandily-p commented on #475
The data in the table is self explanatory - I don't think we need the table headers here.

@bdolor I'm also curious to know why you'd like to go with "registration link" and "contact organizer"?
Ideally I'd like to tell the user what to do to register. So "registration link" doesn't have a verb, and "link" is redundant because it is a link. Just as you wouldn't say "checkout button", you don't kno

[2018-06-28 01:51] bdolor commented on #475
@mandily-p I have no stake in the content game...will defer to @kathreenriel — was merely capturing what was discussed at the planning meeting.

[2018-06-28 02:56] paulagaube commented on #475
@mandily-p In our meeting on Monday, we decided to go with "Registration Link" because that is the same text used on the Post an Event form that Organizers use. It may not be perfect, but we chose this to use consistent language on the site (and was not Brad's singular decision). If we change that text on the Post an Event form, let's change it on the Upcoming Events list too. For now, this is con

[2018-06-28 04:03] paulagaube opened #501 "Donut does not display when certification hours exceeds required 40 hours."
### Description

Donut does not display for a Learner when the total certification hours exceeds required 40 hours.

![learner-exceeds-certificate-no-donut](https://user-images.githubusercontent.com/26391359/42012341-86fb142c-7a4c-11e8-8178-2158f861917e.png)

**Expected behaviour**

Full donut will show 40 hours completed.

**Actual behaviour**

No donut shows.

### Steps to reproduce the problem

[2018-06-28 21:02] kathreenriel commented on #475
<img width="653" alt="screen shot 2018-06-28 at 2 00 45 pm" src="https://user-images.githubusercontent.com/16693738/42060507-ebcacdd6-7adb-11e8-8c9d-a0e1e60ccef8.png">

[2018-06-28 21:03] kathreenriel commented on #475
The external link icon doesn't show up on all the Contact Organizer labels ( on Firefox and Safari)
and yes....I cleared my cache...several times...ay yaya

[2018-06-28 21:16] bdolor commented on #475
There were a few voices in the choir on this one, so could only take a guess as to what the final decision was/is/could be...for now, the expected behaviour is to have an external link icon show up when there is an external link to go to, and for it not to show up if no link was provided (in which case it just links back to the event). In both cases, there is a link and in both cases the wording i

[2018-06-28 21:17] kathreenriel commented on #475
Oh okay...I get it. Yes, I got to the choir practice late on this one.

[2018-06-28 21:17] kathreenriel commented on #475
Will move back to validating

[2018-06-28 21:18] paulagaube commented on #475
We were just warming up our vocal chords I think. :)

[2018-06-28 21:20] kathreenriel commented on #475
@bdolor btw love the trash can image.

[2018-06-28 21:23] kathreenriel commented on #475
<img width="696" alt="notexternallink" src="https://user-images.githubusercontent.com/16693738/42061396-de09b2d6-7ade-11e8-8265-c7ee46fc50e9.png">

[2018-06-28 21:50] bdolor commented on #475
as discussed on the phone, this is more than likely a false positive. The value of the registration link for the 'event for everyone' event is `eypd.bccampus.ca`. Since the event lives on the same domain (eypd.bccampus.ca) it presents as an external link with the icon, but takes the user back to the same domain. I believe this is an anomaly and we can safely assume that organizers will not be putt

[2018-06-28 22:23] kathreenriel commented on #473
great thank @alex-418

[2018-06-28 22:52] paulagaube commented on #489
@kathreenriel I created a draft of an FAQ (pasted below here), and I'm thinking about the confirmation email.

As well as tell people how to copy and paste the key, I'd like to give them the option to email earlyyears@bccampus.ca and then we can validate the account manually. (We do get copies of emails that say when people create a new account already.)

_Here is what I wrote in version 1 of the

[2018-06-28 22:54] kathreenriel commented on #495
Discussed this with Brad (June 28) and determined that once #482 is clarified we will consider the rendering of the table after user clicks on "Calculate My Hours"

[2018-06-28 22:56] kathreenriel commented on #501
This is an important observation. What to do when the donut is full?

[2018-06-29 01:04] mandily-p commented on #501
If user_hours >40, each hour represents 1/40th of the donut
Else each hour represents 360/total_hours.

Does that make sense?

[2018-06-29 04:21] paulagaube opened #504 "myEYPD: List of Upcoming and Past Events - Add ability to sort columns by date (oldest or most recent first)"
### Description

PG Wish List item - on myEYPD page, under the "Training" section, allow the table columns to be sorted by date (as well as alphabetically?).

**Expected behaviour**

On the myEYPD page, both **Upcoming Events** and **Past Events** are currently sorted Alphabetically by Event Description, regardless of when the event took place. I would like to be able to sort the events by date, e

[2018-06-29 04:37] mandily-p commented on #504
I second that!

[2018-06-29 04:39] mandily-p commented on #495
Another thing that might help (but is a different ticket) is remembering what state the user left that past events table in during their site visit and leaving it that way for the duration.

[2018-06-29 17:20] kathreenriel commented on #91
@paulagaube @alex-418 This plugin works for me. I added a telus.net domain name. Signed up as olive3 under kathreen@telus.net account, confirmed my account and was able to sign in as an Organizer and post events. I cannot replicate the problem. This issue appears to work as expected and I'm moving it to 'done'.

[2018-06-29 17:45] alex-418 opened #505 "Restrict Organizer access to the dashboard"
An organizer was able to access the dashboard by appending the URL with wp-admin, and created a recurring event which created over 300 events at once. Limit their access by redirecting anyone who doesn't have admin privileges to the homepage when they attempt to access the backend dashboard.

[2018-06-29 18:05] kathreenriel commented on #247
If I login as admin. Logout and stay in the same window and login as an organizer it takes me to the dashboard

[2018-06-29 18:11] alex-418 commented on #505
@kathreenriel found the setting which allowed the creation of recurring events on the front-end form:

![recurring](https://user-images.githubusercontent.com/17072191/42107589-d498db1a-7b8c-11e8-867c-dd261254b413.png)

I've turned this off on prod, so everything should be back to normal. Does that complete this issue, or would you still like me to re-direct everyone except admins if the manually e

[2018-06-29 18:21] alex-418 opened #506 "Events Manager: Set event recurrence to "no" by default"
### Description

This feature was set to "Yes" on cert and prod, and showed up on the front-end form. It was used by an organizer causing over 300 events to be created at once and flooding the homepage.

**Expected behaviour**

Default is set to "no"

**Actual behaviour**

This option is set to "Yes" by default

### Steps to reproduce the problem

1. Login as admin
2. Visit the Events Manager Sett

[2018-06-29 20:23] kathreenriel commented on #505
I think given this recurrent event was likely accessed from the front end this is complete thank you

[2018-06-29 20:55] alex-418 commented on #504
Modifying the order would impact other tables, look into splitting up the data so each table can be sorted independently, and the addition of a JS library to add to tables to enable the user to toogle the sorting order.

[2018-06-29 22:49] #488 closed

[2018-06-29 22:49] #91 closed

[2018-06-29 22:50] #505 closed

[2018-06-29 22:50] #486 closed

[2018-06-29 22:50] #475 closed

[2018-06-29 22:51] #473 closed

[2018-06-29 22:51] #479 closed

[2018-06-29 22:51] #477 closed

[2018-06-29 22:51] #471 closed

[2018-06-29 22:51] #472 closed

[2018-06-29 22:52] #467 closed

[2018-06-29 22:52] #468 closed

[2018-06-29 22:53] #464 closed

[2018-06-29 22:53] #463 closed

[2018-06-29 22:53] #465 closed

[2018-06-29 22:53] #470 closed

[2018-07-05 17:04] paulagaube commented on #91
Ok, all is well! Met with Brad this morning and he clarified how the Validate by Domain works.

- For a user's account role to automatically change from "subscriber" to "editor", the Organizer must enter the Activation Key from the email they receive. This will change their role to Editor, as long as their  account includes a valid domain name.
- If the account is "Pending" on the dashboard, and t

[2018-07-05 22:16] paulagaube opened #507 "Add explanatory text to the account-creation email (re: Activation Key)"
### Description
Add explanatory text to the account-creation email to tell users how to find their Activation Key and complete their account activation.

**Expected behaviour**

Informational text tells new user how to activate their account by either copying the Activation Key or contacting support for help.

**Actual behaviour**

The basic email says "Thanks for registering!" and includes a link

[2018-07-05 22:19] paulagaube commented on #489
Created issue to add text to activation auto-email new account holders receive: https://github.com/BCcampus/eypd/issues/507

[2018-08-06 16:47] #506 closed

[2018-08-06 16:52] #485 closed

[2018-08-06 16:58] kathreenriel commented on #480
Investigate how many  training events in the past year utilized a graphic in their post.

[2018-08-06 17:00] kathreenriel commented on #478
I wonder if the number of training events should be positioned above "Search for training events".

[2018-08-06 17:02] kathreenriel commented on #476
If the navigation redirected users to myEYPD there would need to be a prominent button (top center?) that would show users the option to just search for training.

[2018-08-07 16:42] #401 closed

[2018-08-07 16:45] #23 closed

[2018-08-08 18:55] bdolor opened #508 "google maps pricing evaluation"
### Description

Google has started charging for the use of its API. Events Manager functionality is integrated tightly with Google maps.

https://wp-events-plugin.com/documentation/google-maps/api-usage/
https://wp-events-plugin.com/blog/2018/07/17/google-maps-api-pricing-increases/
https://cloud.google.com/maps-platform/pricing/sheet/
https://cloud.google.com/maps-platform/user-guide/

**Expecte

[2018-08-08 22:18] #297 closed

[2018-08-08 22:18] #296 closed

[2018-08-08 22:58] kathreenriel commented on #327
Adds the following fields to user export:

Nickname
Location
Last Activity
Phone
Website
Registration Date
Last Activity Date
Certificate Expiry
Expiry Date

[2018-08-08 23:07] kathreenriel commented on #327
This will be a priority for the next August 2018 Sprint with attention to discussion here:
https://github.com/BCcampus/excel-export/issues/18

[2018-08-09 20:32] kathreenriel opened #509 "Homepage: Add "Find Events" to the to the top navigation in the"
### Description

Add a link Find Events to the horizontal navigation in the top right side of the homepage

**Expected behaviour**

When a user clicks on Find Events the link takes them to https://earlyyearsbc.ca/events/

<img width="582" alt="navigation" src="https://user-images.githubusercontent.com/16693738/43924217-e16838c4-9bd8-11e8-8957-d4868bdb17bc.png">

[2018-08-09 21:09] mandily-p commented on #509
Can we just use "Events" instead? Usually navigation is a list of pages, not CTA's. Text like "Find an event" or "Post an Event" are better for buttons.

Ideally, for me the end game navigation looks like this for an organizer. And without manage events for the learner.
![screen shot 2018-08-09 at 2 07 49 pm](https://user-images.githubusercontent.com/20425828/43925959-b09880d2-9bdd-11e8-97ee-c6b71

[2018-08-09 21:17] kathreenriel commented on #509
Where does Manage Events go?

Does  Manage Events mean extra clicks for the Organizer who wishes to post events?

[2018-08-09 21:35] paulagaube commented on #509
If we are changing the button/link names, then I would like to see the **myEYPD** link stay on the far right and have any buttons/links that are going to change (or be removed for Learners) get added to the left, so that myEYPD is in a constant/static position.
e.g.  >>  "Find Events"  "Manage Events" "myEYPD"
(or whatever the final text is)

[2018-08-10 17:51] kathreenriel commented on #509
Eventually I think a "Manage Events" section could replace Post An Event and Edit An Event. But we need a storyboard for this and consider that this link would only appear for Organizers not Learners.
@paulagaube Yes I agree that myEYPD should always be in the same location.

[2018-08-10 20:05] mandily-p commented on #509
@kathreenriel by storyboard do you mean a mockup or flow? I've only ever completed storyboards for animation or video projects.

WRT the position of myEYPD - Ideally it's the first link in the navigation (other than home) because users read left to right and we'd like them to treat their dashboard as their home base for everything else on the site. So it should be the first thing they see/read.

H

[2018-08-13 04:56] mandily-p commented on #264
In addition to just tracking hours in a table, It may also be worth investigating the work needed to allow users to upload the certificates that correspond with the events into the system. Even if it's just as a planning step for a future sprint.

[2018-08-13 07:09] mandily-p opened #510 "Site styling: About us page spacing"
The About Us page uses a bold, italicized paragraph style for the headings. Semantically these should be made into actual headings (it looks like h5 is the same font size) and a top-margin of 24px should be added. (or 1.5em or 25px - whatever works best with the base unit of measurements)

![screen shot 2018-08-13 at 12 03 45 am](https://user-images.githubusercontent.com/20425828/44017404-0a3f76d4

[2018-08-14 18:23] mandily-p opened #511 "Allow users to type www.earlyyearsbc.ca"
### Description
Users can't access the site if they type www.earlyyearsbc.ca

**Expected behaviour**
Users can access the site at www.earlyyearsbc.ca, https://earlyyearsbc.ca, and earlyyearsbc.ca
![screen shot 2018-08-14 at 11 22 03 am](https://user-images.githubusercontent.com/20425828/44110388-642c1a62-9fb4-11e8-9f6e-8d6f28cff063.png)

[2018-08-14 18:30] mandily-p opened #512 "Add OpenGraph tag for images posted on social media"
### Description
Now that we're posting on social media, it would be a good idea to make sure the previews that appear with the links that we post include the best representation of the content underneath that link. *I think* we do this with OpenGraph tags in our pages. Full disclosure that I don't fully understand the tech behind this or if it could be completed with a WP plugin.

**Expected behav

[2018-08-15 05:43] mandily-p opened #513 "Optimize: Limit content container width"
### Description
The line length text can get extremely long in a large browser window. This makes it harder to read, and also looks less professional.

**Expected behaviour**
I'd like to limit the width of the content container to 1100px and center it in the page, with the background colours extending to the sides of the screen. This will require restructuring some of the code. It's not a quick `m

[2018-08-15 05:46] mandily-p opened #514 "BUG: My profile page"
### Description
I'm not sure what's supposed to be on this page. But whatever it is, it's not working

**Expected behaviour**
@kathreenriel Can you comment on what this *should* look like please?

**Current view**
![screencapture-eypd-bccampus-ca-members-ahealey-profile-2018-08-14-22_45_05](https://user-images.githubusercontent.com/20425828/44133281-e095a30c-a013-11e8-8e9f-73b0a054f069.png)

[2018-08-16 21:19] kathreenriel opened #515 "Revise FAQs"
### Description

THe current Help needs to be updated both technically and in the content. **Expected behaviour**

[What you expect/want to happen]

**Actual behaviour**

[What actually happened]

### Steps to reproduce the problem

[First Step, Second Step, etc]

### System Information

- EYPD: [Enter Version here]
- WordPress: [Enter WP Version number here]

[2018-08-17 21:51] kathreenriel opened #516 "Homepage and Event Description Page: Add Facebook button to homepage"
EYPD has just launched a Facebook page a graphic and link to the EYPD Facebook page needs to be put on the homepage and event description page.

[2018-08-20 16:34] alex-418 commented on #489
Bug commons in a box to update BuddyPress https://wordpress.org/support/plugin/commons-in-a-box

[2018-08-20 16:39] mandily-p commented on #512
https://developers.facebook.com/docs/sharing/opengraph/

[2018-08-20 16:40] alex-418 commented on #512
These changes to the markup will requires pushing to production to test.

[2018-08-20 16:47] alex-418 commented on #327
Must tackle https://github.com/BCcampus/excel-export/issues/20 before I can proceed

[2018-08-20 17:15] alex-418 commented on #504
Sort by date for now, descending order.

[2018-08-20 17:25] mandily-p opened #517 "myEYPD: Allow users to add images of certificates to the events that they've attended"
### Description
Users need to submit certificates every five years to prove their hours. It would be great to give them one space to store everything.

**This needs more investigation to see what's technically feasible.**

[2018-08-20 17:27] mandily-p commented on #517
Blocked by #264

[2018-08-20 17:30] paulagaube commented on #511
Paula to create a JIRA issue and follow up with George.

[2018-08-20 17:38] paulagaube commented on #515
This is a duplicate of issue #350

[2018-08-20 17:45] paulagaube commented on #350
This is a Work in Progress: I disabled the Ultimate FAQ plugin as it wasn't displaying answers by category. Installed Arconix FAQ plugin, which allows an FAQ to be displayed on the Help page if the answer has been tagged with a "Group" (category). Here is the URL:  https://eypd.bccampus.ca/help/

[2018-08-20 18:12] paulagaube commented on #511
Created JIRA issue: https://jira.bccampus.ca/browse/SH-1246
Brian Case is investigating.

[2018-08-20 21:09] mandily-p commented on #509
It's my understanding that the menu is considered content and therefore @paulagaube or @kathreenriel would have edited it in the past. When I look at the admin vs the front end, the menu items don't align.

Can one of you tell me how and why it's done outside of the menu feature in Wordpress?

![screen shot 2018-08-20 at 2 07 08 pm](https://user-images.githubusercontent.com/20425828/44366712-64e17

[2018-08-20 21:11] alex-418 commented on #509
@mandily-p The answer is pop-overs, and different menus for logged-in vs logged out users. So that means this would be a development task instead.

[2018-08-20 21:22] mandily-p commented on #509
Ah. I never considered that! Thanks for heads up @alex-418. I could do a copy pasta for another menu item in the php file, but I don't know if there's any unit tests for the menu and if there are I can't write them. So I'll leave this up to you. :)

[2018-08-20 21:32] alex-418 commented on #509
@mandily-p no prob! For reference here's how the menu's generated, i'll be updating this function to make this change. https://github.com/BCcampus/eypd/blob/851e9780772ea3517e637407991aec9afbc9a330/functions.php#L793

(p.s. github tasks are self-assigned)

[2018-08-20 21:52] mandily-p commented on #509
Sweet! thanks for the teaching moment!

[2018-08-20 22:52] paulagaube commented on #474
Looks good to me!

[2018-08-20 22:58] paulagaube commented on #511
Redirection for both www.earlyyearsbc.ca and https://www.earlyyearsbc.ca/
go to https://earlyyearsbc.ca

I have tested. Will someone else test too, please?

[2018-08-20 23:31] alex-418 commented on #512
@mandily-p just realized our cert http://eypd.bccampus.ca is actually public facing, we can test FB links there. I've partially completed this via https://github.com/BCcampus/eypd/commit/8ca076f90f09ed9ba3a1c1b7c1b417e04b204797 by adding the Open Graph tag to the EYPD logo image. Can you please test by putting linking to http://eypd.bccampus.ca to see if that grabs the correct image? Right now, si

[2018-08-20 23:37] alex-418 commented on #509
Completed via https://github.com/BCcampus/eypd/commit/8bbb26c79926a7685822c64070c9beaae21c0165

[2018-08-21 16:13] alex-418 commented on #512
@mandily-p Please confirm the image is consistent whenever a link to the eypd.bccampus.ca website is posted to FB.

[2018-08-21 16:13] mandily-p commented on #512
It looks like the default image is actually the province's logo

![screen shot 2018-08-21 at 9 12 08 am](https://user-images.githubusercontent.com/20425828/44414358-6b272a00-a522-11e8-973f-7b16d2589344.png)

[2018-08-21 18:39] alex-418 commented on #512
@mandily-p @kathreenriel  Open Graph doesn't support SVG images, explains why it's not showing the correct image. Can I get an EYPD logo image in .png format please?

[2018-08-21 18:43] kathreenriel commented on #512
@mandily-p would you format and post a png image here?

[2018-08-21 19:25] mandily-p commented on #512
The EYPD logo is png. The hand is raster, there is no vector version.

[2018-08-21 19:35] alex-418 commented on #512
@mandily-p The theme uses SVG for the main logo... the only pngs are really small. I'm looking for a eypd-logo-final.png instead of svg. Do you see that as a png somewhere else in the theme or website? Here's the link to the SVG i'm talking about https://earlyyearsbc.ca/wp-content/themes/early-years/dist/images/eypd-logo-final.svg

Here's the theme image assets:
![assets](https://user-images.githu

[2018-08-21 19:46] mandily-p commented on #512
I made one of each for you. The hand technically isn't large enough, but I scaled it up so we could use the whole image at 200px square.

![eypd-logo-bc](https://user-images.githubusercontent.com/20425828/44425230-1db9b580-a540-11e8-88de-300bff1443f8.png)
![eypd-logo](https://user-images.githubusercontent.com/20425828/44425231-1e524c00-a540-11e8-8760-5bc8469b028c.png)

[2018-08-21 20:00] mandily-p opened #519 "Install YouTube thumbnail plugin"
### Description
There is a [brain development blog post](https://earlyyearsbc.ca/brain-development-and-behaviour/) that has a youtube playlist linked within it. In order to provide the best user experience for our site visitors, I'd like to present the playlist to them on default, instead of requiring them to click the teeny tiny playlist icon in the top left of the player.

I researched some open

[2018-08-21 20:10] alex-418 commented on #484
Completed via https://github.com/BCcampus/custom-wp-notify/commit/2bd0e8ad3c14c467e445ffb06590d00ca4904805
Note: Please clear browser cache to ensure the changes to the JavaScript file are applied.

[2018-08-21 20:11] mandily-p commented on #512
@alex-418 Are you investigating the preview text with this ticket too or should I make a new issue?

[2018-08-21 20:12] alex-418 commented on #512
@mandily-p I can do that here, working on it

[2018-08-21 20:26] kathreenriel commented on #509
Checked in Firefox, Safari, Chrome

[2018-08-21 20:28] kathreenriel commented on #511
Good for me too.

[2018-08-21 20:30] alex-418 commented on #512
@mandily-p Image, description, and image alt text added. Let me know if that works well?!
Happy to modify the copy if you can can provide... (it's limited to about 2 sentences).

Here's what it looks like:
![opengraph](https://user-images.githubusercontent.com/17072191/44427379-3fb63680-a546-11e8-87ee-9e546ae6df82.png)

[2018-08-21 20:37] kathreenriel commented on #484
Works on Chrome, Firefox, Safari, laptop and iPhone.

[2018-08-21 20:38] kathreenriel commented on #512
@mandily-p would you please validate this?

[2018-08-21 20:50] kathreenriel commented on #516
<img width="1157" alt="facebook insertion" src="https://user-images.githubusercontent.com/16693738/44428415-1c40bb00-a549-11e8-9dcd-1467269bedf8.png">
The Facebook link gets lost under Support. I agree its crowded but I think we need a graphic link

[2018-08-21 20:53] kathreenriel commented on #512
When I FB share an event on the event description page on EYPD this is what appears after clicking FB icon at the bottom of the page.
<img width="672" alt="screen shot 2018-08-21 at 1 52 56 pm" src="https://user-images.githubusercontent.com/16693738/44428569-9ffaa780-a549-11e8-888b-7aab455529a9.png">

[2018-08-21 20:55] alex-418 commented on #512
@kathreenriel Can you please try it in this tool and screen capture the result here? https://developers.facebook.com/tools/debug/

[2018-08-21 21:37] paulagaube opened #520 ""Plan to attend" button should always be present"
### Description

Not sure if this is a bug or not. Wanted to capture what I saw.

On an Event page, the words "N/A leave blank" appear where the "Plan to Attend" button should be, just below the "Categories" and above "Target Audience".

**Expected behaviour**

Show the Plan to Attend button so I can add this to myEYPD as a Learner or Organizer.

### Steps to reproduce the problem

I noticed this

[2018-08-21 21:45] alex-418 commented on #520
@paulagaube This is probably a symptom of brining this change in after this event was created. The "Plan to Attend" button is a feature of the Events Manager plugin that was disabled before.

[2018-08-21 22:33] mandily-p commented on #512
@alex-418 Can you edit the description so that training only has one "n" please. Otherwise it reads ok to me. @kathreenriel Are you ok with the description?

[2018-08-21 22:41] mandily-p commented on #512
Sharing the home page:
![screen shot 2018-08-21 at 3 34 46 pm](https://user-images.githubusercontent.com/20425828/44432659-cc1d2500-a557-11e8-89a8-4af4c9e9f90d.png)

And as Kathreen, I see the same when I post an event.

[2018-08-21 22:43] mandily-p opened #521 "BUG: Organizer cannot see the banner image that they've uploaded"
### Description
When an organizer is creating an event, they have the option to upload a banner image.

**Expected behaviour**
After selecting the banner image, they should be able to see it in the WYSIWYG editor.

**Actual behaviour**
After selecting the banner image, they can't see it in the WYSIWYG editor, nor do they get any other kind of confirmation that it's been attached.

**I don't see th

[2018-08-21 22:50] mandily-p opened #522 "BUG: Organizer cannot add an event with a $0 registration fee"
### Description
When adding a new event with a banner image to the cert site, I ran into an error when I tried to create an event with a `0` in the registration fee field.

**Expected behaviour**
Users should be able to enter 0 in the registration fee field.

**Actual behaviour**
I received an error `Registration Fee is required.`

### Steps to reproduce the problem
- Login using an organizer's ac

[2018-08-21 22:52] mandily-p opened #523 "Install a link checker on the site"
**User stories**
**As an organizer and website owner,**
I want to make sure that there are no broken links in our training events,
So that all interested learners can reach the content that every link provides (usually registration form)

**As a project owner** this supports the objectives of the EYPD project charter "to promote quality and workforce capacity" by offering information and specifica

[2018-08-21 22:56] mandily-p commented on #512
And the plot thickens....

It looks like WP actually shrinks down the banner images on the events so that they're too small for fb to recognize.

@alex-418 Is there a way to edit the theme so that all new photos being uploaded going forward will be an appropriate size for sharing?

![screen shot 2018-08-21 at 3 54 33 pm](https://user-images.githubusercontent.com/20425828/44433344-bf4e0080-a55a-11e

[2018-08-22 00:29] mandily-p commented on #512
@kathreenriel  About halfway through the thread: https://github.com/BCcampus/eypd/issues/512#issuecomment-414811704

[2018-08-22 15:48] kathreenriel commented on #516
@paulagaube I agree the FB link should open in a new tab

[2018-08-22 18:01] alex-418 commented on #519
@mandily-p  Here's the process we usually go through to evaluate new plugins, it helps reduce risk and technical debt. For example, if there's an update/change to either WP/Youtube API/This plugin and it stops working (inevitable)... we'll be at their mercy to fix it with an update. Otherwise we'd have to reverse engineer it and fix it, but by doing we'd loose ability to update it and have to now

[2018-08-22 18:39] mandily-p commented on #519
@alex-418 With regards to the second decision - Can I do what I need without a plugin? - I suspect you could code this yourself, but I don't have that skill. It's a bit more complicated than just adding everything in once for this blog post. Kathreen has mentioned that it would be nice to have this available for future promotion of Youtube lists as well.

Alex, how would you suggest to proceed fro

[2018-08-22 19:03] alex-418 opened #524 "Automatically create excerpts for events and pages"
### Description

Create excerpts for events, posts, and pages automatically from the content so this gets used as the description when sharing on social media (FB)

**Expected behaviour**

The website descriptions is used as the description for an event or page. Excerpts should exists for pages and posts to remedy this.

**Actual behaviour**

There are no excerpts.

[2018-08-22 19:08] alex-418 commented on #512
@kathreenriel @mandily-p  Resolved via https://github.com/BCcampus/eypd/commit/fc903ee4615edfe1a65b6e016fa78cbe9d77770b ... three lines of code turned into 2 functions with 60 lines of code... I had to add some logic to provide different information if it was a page vs post, and added 6 total tags. I've also added some logic so you'd have more control of what shows up in these FB links. Here's a b

[2018-08-22 20:18] alex-418 commented on #504
@kathreenriel requires further investigation to sort events tables independently based on the date. Moving to backlog as discussed.

[2018-08-22 20:38] kathreenriel commented on #512
Given that it will Amanda and I will publishing all of the posts in FB it sounds like we could ensure that we manually create an excerpt if we wish to post a specific event description page. For images we can manually create a feature image as well for specific events.

Way to go @alex-418 thanks for going down this long rabbit hole

[2018-08-22 20:39] alex-418 commented on #519
@mandily-p Please go ahead with evaluating, I think I'll be updating that process so it's clearer what we're concerned about from a technical/maintenance perspective, and separate that out from the tasks you guys can do to help expedite this type of decision.

[2018-08-22 22:14] alex-418 commented on #516
Completed via https://github.com/BCcampus/eypd/commit/405fbbb9d7de1a1326ccbe09efbdfd9f131d6a8a

[2018-08-23 16:26] mandily-p commented on #512
@alex-418 What would the text be here on prod?

![screen shot 2018-08-23 at 9 24 34 am](https://user-images.githubusercontent.com/20425828/44538571-92166500-a6b6-11e8-9807-f6e69a7d3023.png)

[2018-08-23 16:33] alex-418 commented on #512
@mandily-p Please see https://github.com/BCcampus/eypd/issues/512#issuecomment-415145404

[2018-08-23 16:37] alex-418 commented on #512
@mandily-p  This is the prod description, and where you could change it:
![prod_description](https://user-images.githubusercontent.com/17072191/44539041-fab21180-a6b7-11e8-965a-ae3677a9bb78.png)

[2018-08-23 16:37] mandily-p commented on #512
Better question: How do I find the prod site description?

[2018-08-23 16:37] mandily-p commented on #512
You beat me to it. Thanks @alex-418 !

[2018-08-23 23:18] mandily-p commented on #519
I sent an email to the developer to ask about impacts to the site. I wasn't sure how to get answers without going that route.

Here's a copy of the questions in that email:
- Does it access/send any of my data to a third party?
- Would the plugin affect page/site performance any more than embedding a native YouTube video?
- Are there any ads shown in the Wordpress admin when this is installed?

[2018-08-24 04:00] mandily-p commented on #512
This works and looks good to me! 👍

I'll let Kathreen decide if we need to update the prod text or can leave it as is.

[2018-08-24 05:13] mandily-p commented on #264
Here's a first draft mock. @kathreenriel What fields so you think we need to collect? I see the spreadsheet has location and facilitator, but the person who sent it to you didn't fill those in. I was thinking the building location and city would be helpful. What do you think?

The user would arrive at this modal by the link you can see peeking through underneath - A "Add an event I've attended." I

[2018-08-24 05:34] alex-418 commented on #264
@mandily-p nice, thanks for this I was thinking something similar. Here's some input for your consideration.

**Date picker:**
Should be straight forward to implement (we're already using one in the cert hours)

**Query select box replacement:**
I like this, but unsure of the value add without some sort of validation from users/research? And we should think about doing this consistently across the

[2018-08-24 05:47] alex-418 commented on #519
@mandily-p That's great, good idea to verify if we can get a response from the developer incase we ever needed support for this. Usually I could help answer those questions by looking at the source code, but this isn't an open source solution... so that would only possible after you've purchased it.

We could definitely code this functionality ourselves, just depends if it's worth the time based o

[2018-08-24 05:50] mandily-p commented on #264
**More notes on Select2**
I've used this in multiple projects before. It's always tested well with users and is a fairly low cost way to get a lot of options into a small space and have it still be manageable. The other option here would be listing out all of the categories in checkboxes.

**More notes on the Add another**
I envisioned showing the user a message that the event was added and cleari

[2018-08-24 05:55] alex-418 commented on #264
**Select2:**
Great, thanks for adding those notes on Select2... definitely more elegant that our current solution:
![select_list](https://user-images.githubusercontent.com/17072191/44567420-23252480-a727-11e8-80a6-efea0375cdf8.png)

**Add another**
Ok, great, so basically Submit the form in the background, add success message, and clear the fields. Shouldn't bee too difficult, will work on getting

[2018-08-24 16:10] mandily-p commented on #519
He was quick to respond!

1. The plugin uses Vimeo and YouTube API so we don't store or send any information. We are only using Vimeo and YouTube API
2. Similar performance
3. Since is a paid plugin, there's o ad on your WP admin. The only ad which might appear when you watch a video is the one added by YouTube, just like when you use an YouTube iframe The ad is not inserted by us but by YouTube a

[2018-08-24 16:39] paulagaube commented on #516
Looks good to me and opens in a new tab, thank you. Here are three PC browser images, FYI. Funny how the FB image on Internet Explorer is smaller. (I don't think that is an issue worth spending more time on.)
![eypd-footer-3-browsers](https://user-images.githubusercontent.com/26391359/44596604-a07d8300-a781-11e8-960d-667621c56880.png)

[2018-08-24 17:45] kathreenriel commented on #512
Okay, here's what I wrote on the production server tagline ( the cert server has a different purpose)

"Find professional development in the early years sector"

@mandily-p @paulagaube open to edits and suggestions

[2018-08-24 18:42] paulagaube commented on #507
@kathreenriel @mandily-p @alex-418 I am still manually approving/activating new user accounts on earlyyearsbc.ca, and rethinking this auto-email message that new signups/users receive.

The message currently says: "Thanks for registering!" and includes a link "To complete the activation of your account, go to the following link:" (and the link does not work).

What do you think about replacing the

[2018-08-24 19:03] alex-418 commented on #519
@kathreenriel would like to ensure it doesn't conflict with any existing functionality or plugins. That would require testing it on cert.

[2018-08-24 19:04] kathreenriel commented on #507
@paulagaube Yes, go ahead with the text you suggested above (sigh....) Looking forward to a implementing different process.

[2018-08-24 19:05] kathreenriel commented on #519
@alex-418 Thanks Alex. @mandily-p please set up the page on cert and test

[2018-08-24 21:30] mandily-p opened #525 "Organize list of agencies on the profile page"
### Description
There is a VERY long list of agencies to choose from when setting up an account. Users have a tendency to choose the first option that will work, instead of the option that is best for them.

**Expected behaviour**
I'd like to investigate organizing these options in a better way. We could either provide a progressive disclosure style double select box or organize the current select

[2018-08-24 21:44] kathreenriel commented on #525
@mandily-p shall we tackle this next week?

[2018-08-24 21:50] mandily-p commented on #525
Let's do it!

[2018-08-26 15:02] kathreenriel opened #526 "User Sign Up: Disable activation code requirements"
The current process directs users to their email, to click on an activation code to confirm their account details. The current activation code no longer works.
Deactivate this process. This may require installing a plugin.

This issue is connected with #527  in its description of what to put in place of an activation code via email.

[2018-08-26 15:23] kathreenriel opened #527 "Sign up/Login: Create modal box"
Currently, when a user signs up they are directed to a sign up page. Create a modal box that allows users to sign up with Facebook, Google or email.

1. "Track Your Professional Development" is inserted near the top of the modal box below the logo
2. Agreement to terms and conditions is by checkbox
3. Terms of Service is hyperlinked to Terms and Service page
4. Sign Up button  automatically regist

[2018-08-26 15:31] kathreenriel opened #528 "Revise the Sign up and Profile page"
The current sign up page has a high bounce rate and we need to work on reducing it. We think that we can get more people to sign up by creating an account with only an email and password needed, and leaving the rest of the information to be collected on the profile page. This page would be available at any time, not just when the user is signing up.

The only mandatory fields on either account are

[2018-08-26 15:50] kathreenriel opened #529 "Sign up form: Organization drop-down menu"
Current drop down menu of organizations on sign up form is very long. Reorganize drop-down menu so that organizations are grouped into broader categories that users may choose from.

Aboriginal
Child Development/Special Needs
CCRR
Community Organization?
Government
Independent Business
Health
Post-Secondary Institution
School District

[2018-08-26 16:00] kathreenriel opened #530 "EYPD Footer"
Current footer contains to much information and requires a reorganization.

Reorganize information according to the graphic.
<img width="666" alt="footer" src="https://user-images.githubusercontent.com/16693738/44630179-70171f80-a90e-11e8-9b3b-771604eca959.png">

[2018-08-27 03:37] mandily-p commented on #527
We might want to break this up into a couple of stories.

1. Create a modal with email and password sign up
2. Add social media sign ups

On another note - it looks like when I upgraded computers the icon font I use didn't load properly. That box with the question mark inside should be an eyeball to show the password in plain text. It would switch to the eyeball with a slash through it when the us

[2018-08-27 03:46] mandily-p commented on #528
@kathreenriel The mock was updated since I sent this one last week. I ended up creating two different ones - one for learner and one for organizer.

I was also chatting with a friend tonight about the bounce rate on the current signup form and she asked if all of the fields were needed and adhered to FOIPPA. You may be able to figure out what you're allowed to ask for and what not - here: https://

[2018-08-27 16:36] mandily-p commented on #528
For conversation during sprint planning, here's the updated mocks:

![profile learner](https://user-images.githubusercontent.com/20425828/44672212-a15e2100-a9dc-11e8-820b-c925128576b0.png)
![profile organizer](https://user-images.githubusercontent.com/20425828/44672213-a1f6b780-a9dc-11e8-9fc8-3d8889132cab.png)

[2018-08-27 16:47] mandily-p commented on #527
Login is pretty similar in the look, but with a couple of language changes at the bottom.

![login](https://user-images.githubusercontent.com/20425828/44672725-24cc4200-a9de-11e8-8b05-a355bd8a5a00.png)

[2018-08-27 16:49] mandily-p opened #531 "Sign up/Sign in: using social media accounts"
### Description
Users currently can only sign up and sign in with their email. We can increase conversion rates for signup by allowing users to use their social media accounts. (Industry average is 8% increase)

**Expected behaviour**
Allow users to sign up/login with Facebook and Google.

This is the second step of #527
<img width="715" alt="44629816-3f80b700-a909-11e8-9dfb-d6f1145d4f94" src="htt

[2018-08-27 17:00] mandily-p commented on #527
Old mockup (just for archiving purposes)
<img width="715" alt="44629816-3f80b700-a909-11e8-9dfb-d6f1145d4f94-1" src="https://user-images.githubusercontent.com/20425828/44673313-08310980-a9e0-11e8-8490-f1d0610577e1.png">

[2018-08-27 17:05] alex-418 opened #532 "Remove/move unecessary functionality and plugins associated with the sign-up process."
### Description

The new registration process ditches the buddy press sign-up form, validate by domain plugin, and any functionality associated with the fields are moved to the profile page.

[2018-08-27 22:43] mandily-p commented on #519
@kathreenriel Will someone be providing thumbnails and descriptions for each of these videos or are we (me?) supposed to be coming up with both?

[2018-08-27 23:09] mandily-p commented on #519
It looks like "responsive" and "mobile-friendly" meant that it works with touchscreens and shrinks down to fit small screens. Not that there's a unique mobile experience that would use the space better.
**Desktop**
![screen shot 2018-08-27 at 3 59 58 pm](https://user-images.githubusercontent.com/20425828/44691194-94f4bb00-aa12-11e8-9d2a-fd07a53d15c7.png)

**Mobile**
![screen shot 2018-08-27 at 4 0

[2018-08-27 23:19] mandily-p opened #533 "Reduce font size of headings on mobile"
### Description
The page title font size on mobile devices is huge! (48px high to be exact) It's the same as the desktop site. Sometimes that works, but not in this case. Let's shrink down that heading (and the h2 while we're at it so they're proportional) so it's more reasonable and each word doesn't fill a whole line on a mobile device.

**Expected behaviour**
[code]

This is what it currently l

[2018-08-27 23:56] mandily-p commented on #519
My best guess is yes because it's just a link I add into the plugin, so my guess is that it pulls from Youtube every time. It's not hosted on WP anywhere. I'm not sure how to test it to be sure though. @alex-418 Do you have any thoughts on this?

[2018-08-28 00:39] alex-418 commented on #526
Ready for validation. There was quite a bit to think about, so here's the sequence/workflow of how user registration now works. Just wanted to document this here and the registration flow.

**Solution:**
1. Added a [plugin](https://wordpress.org/plugins/bp-disable-activation-reloaded/) which handles removing the BuddyPress Activation. (I don't like the plugin much very much as it's very outdated,

[2018-08-28 15:58] kathreenriel commented on #526
@alex-418 Super
Re: B. Please change direction from profile page to homepage. All the current fields are mandatory so no need to go to the profile page.
Re Profile page (Select if you are an Organizer of training) user filled in the current form with the Organization - they don't need to do this since they selected an organization on the sign up page.
For future development: All users  Learners an

[2018-08-28 16:02] alex-418 commented on #526
@kathreenriel Right, got mixed up with the new registration workflow.

[2018-08-28 16:33] mandily-p opened #534 "User friendly layout of "edit events" page"
### Description
The delete and duplicate functionality of each event is smushed right up against the title of the event. We can make it more clear for users that this functionality exists, and also make the table easier to scan, by moving that functionality to the right side of each row and spelling out what it does.

**Current screen**
The current screen displays "Delete" underneath the title of

[2018-08-28 16:57] mandily-p opened #535 "Indicate "copy" when user duplicates event"
### Description
We give organizers the option of duplicating events, but we give no indication that the event they're creating has been duplicated. We need to reassure them that they aren't editing their original event, and also help reduce duplicate events in the system.

The improved design includes:
- remove `Edit event` and the quotation marks
- a visual tag that identifies a duplicated event

[2018-08-28 17:50] alex-418 commented on #526
@kathreenriel Completed via https://github.com/BCcampus/eypd/commit/2d9e70b94b2f19330dc0e9e1cb2965492664538e

Ended up being quite a chunk of work because BP extended profile fields ID's differ on cert/prod so I couldn't retrieve/check the value of these to do the redirection without updating the Field ID for each environment. Anyways, implemented a solution that searches for $_POST for a field va

[2018-08-28 18:47] kathreenriel commented on #526
Thanks @alex-418
For new Learner sign ups please re-direct  to **myEYPD** page not the home page.
<img width="575" alt="screen shot 2018-08-28 at 11 21 57 am" src="https://user-images.githubusercontent.com/16693738/44743570-b5c31c00-aab7-11e8-8032-005d7e97ee6d.png">

For new Organizers sign ups  there needs to a clearer explanation of acceptable email addresses (should I create a new issue?) Pleas

[2018-08-28 19:17] kathreenriel commented on #529
<img width="512" alt="sector" src="https://user-images.githubusercontent.com/16693738/44745325-3edc5200-aabc-11e8-873d-c83e0f60d712.png">

@paulagaube @mandily-p What do you think of this alternative to menus and submenus?

[2018-08-28 19:19] paulagaube commented on #512
I tested adding https://eypd.bccampus.ca to a Facebook post and the post looks good with the EYPD hand image.

I know this hasn't been done yet, but I also tried to add https://earlyyearsbc.ca and there is no image, only the URL for the website. Nothing damaging there. :)

[2018-08-28 19:29] paulagaube commented on #529
I like this @kathreenriel. I like that people can type in their "other" sector so we can track and add categories later if we need to.

Would we still also ask where our users work? (Name of organization or company?)

I am thinking about the information the advisory committee wants to collect. For example, they were interested to know which CCRRs had not signed up for an account yet, and who had p

[2018-08-28 21:15] alex-418 commented on #526
@kathreenriel now redirecting learners to myEYPD via https://github.com/BCcampus/eypd/commit/4fe72e1afd4fa4a1381f4720f558ea01c172c249 , and no need to make a separate issues as I've changed the email field validation text via https://github.com/BCcampus/validate-by-domain/commit/3c75e1fb0e79e45bc4d1e3e4e5e55a0769e2deae

[2018-08-28 21:29] alex-418 commented on #530
Completed via https://github.com/BCcampus/eypd/commit/a03dc00fc1759b5d01767dd8cdb2df3b4d617929 changes the footer structure to 5 columns, everything is widgetized (under your control) except the "funded by". You must assign the correct Menu's to the correct widget locations, I've done that on cert so that you can see where, and created the new "Explore" menu as an example. But someone has to go cr

[2018-08-28 22:45] mandily-p opened #536 "Analytics: Add marketing campaigns reporting to EYPD site"
### Description
We'd like to be able to track conversions of our goals for the EYPD site. To do this, we need to install this plugin: https://plugins.matomo.org/MarketingCampaignsReporting

The conversion we'd like to track is how many new learner and organizer signups we're getting from the facebook page.

[2018-08-29 00:07] alex-418 commented on #264
Update: I've created the modal and working on passing the data back, so I can in the background save the new event information. One thing that we can't avoid is a reload of the page because the other elements on the page require this to update the data. So i've made that happen when the "save" past events button is clicked.

@kathreenriel @mandily-p  Please note: This won't update the donut, only

[2018-08-29 15:31] kathreenriel commented on #529
Okay let's Keep "Name your place of Work" and the domain plug in but  go with the broader categories that are visible on the form.  @alex-418 Is this something we can do on the front end or does this need to be coded?

[2018-08-29 16:11] alex-418 commented on #529
@kathreenriel pretty sure this is a profile field you can edit in the dashboard yo please. Validate by domain only cares about the whitelist of domains, it uses that to check against the email addres they enter.

[2018-08-29 19:14] mandily-p commented on #526
@kathreenriel I like where you're going with trying to explain to users what's happening. Can we give an example and make this even more lay person speak?

What do you think about using something like, "The part of your email address that follows the @ symbol must match your organization's website. (sarah@bccampus.com must be used if Sarah's work's website is bccampus.com)

[2018-08-29 19:26] paulagaube commented on #530
@alex-418 is it technically possible to add a target=_blank to that Facebook URL in the Support Menu? (It is a "Custom Link") If we click the Facebook link now, it loads over the EYPD site.

[2018-08-29 19:28] mandily-p opened #537 "Add Facebook icon to the footer"
### Description
As a learner or organizer,
I want to be able to see the Facebook link at a glance,
So that I can check out EYPD's social media posts.

Add this Facebook icon to the left side of the Facebook link: `https://www.facebook.com/BCEYPD/`
[facebook.svg.zip](https://github.com/BCcampus/eypd/files/2333529/facebook.svg.zip)

[2018-08-29 19:29] mandily-p commented on #530
I created a new issue to handle the Facebook icon: #537

[2018-08-29 19:34] paulagaube commented on #530
@kathreenriel I'm looking at the footer now, and did we decide to get rid of the "Explore" menu category on the left of the footer and put "About Us" under "Get in Touch"? I was going to change these menu items, but wanted to check with you first. My notes aren't clear.

[2018-08-29 19:34] mandily-p opened #538 "Open external links in a new tab"
### Description
If we're linking users to a place that isn't contained within the EYPD site, or is a PDF, open that file/page in a new tab/window (user setting specific)

Add an icon to the right side of each of these links.
[i-external-link.svg.zip](https://github.com/BCcampus/eypd/files/2333545/i-external-link.svg.zip)

Can we write a script to just target full links instead of local ones and ma

[2018-08-29 19:35] mandily-p commented on #530
@paulagaube I opened up a new ticket to make all external links on the site open in new tabs. This will be useful for the event pages too. #538

[2018-08-29 19:35] paulagaube commented on #530
@kathreenriel OR ... Keep the headings as they are: Support and Policies and just delete the "Explore" menu?

[2018-08-29 19:36] mandily-p commented on #530
I'm sorry, I did this work and then didn't attach the screen shot.

![screen shot 2018-08-29 at 12 35 51 pm](https://user-images.githubusercontent.com/20425828/44810929-1de13300-ab88-11e8-9054-54255d3aaebf.png)

[2018-08-29 19:37] paulagaube commented on #530
Thanks, @mandily-p. If external links are automatically opened in a new tab, then we don't need to figure out how to add that external open-in-a-new-tab on the menu itself.

[2018-08-29 19:38] mandily-p commented on #530
Although - yesterday we were talking about how partners could be populating blog posts. In that case we'd want the first column with Explore and the blog link under it. But we can wait until we have that content to worry about those updates :)

[2018-08-29 19:40] mandily-p commented on #529
The more I think about this form, the more I think we should tell the users why we're collecting this information. People are way more trusting and likely to fill things in if they know how their person information is going to be used. And no one will ever read the terms and conditions or privacy policy to figure that out. So I'd like to remind them here.

I'm not 100% sure on the reasoning for co

[2018-08-29 19:45] mandily-p commented on #264
How much effort would be involved in adding multiple states to the save button so the user would be able to tell if they needed to save the page to see updates vs "clicking just in case"? It's not the front end work I'm wondering about here, but more about whether it's "easy" to check for stale data on the page? Or maybe it's a check to see if the add function has been called but the save button h

[2018-08-29 19:47] mandily-p opened #539 "myEYPD: Auto update the donut when user's manually add events"
### Description
When users manually add an event to their myEYPD page, they then need to hit an additional submit button to see a refreshed view of the page with that manually inputted data now included.

In a polished perfect world - this would happen automagically without the need to submit any forms.

[2018-08-29 19:51] mandily-p commented on #519
@kathreenriel Are you ok with me moving forward and installing this plugin on prod? We don't need to populate it in the post yet, but I'd like to get it installed if you're ok with the mobile look and feel of the plugin.

[2018-08-29 20:14] alex-418 commented on #264
I'll see what I can do. But working outside the current limitations will be significant effort. There's no easy way to accomplish this. I also feel like there might be value in defining the exact problem we're trying to solve in that new issue you created. Especially if there will continue to be changes to this. The time spent in piecing it together like this, might be better spent solving the roo

[2018-08-29 20:16] paulagaube commented on #530
Okay, I added the menus at the bottom....but still some attention needed.
The **myEYPD** link is a custom/personalized link, so not sure how to do that in the menu in the footer. Also not sure where the **Learning Showcase** link should go. Do we need to add named anchor on the home page to jump to the Learning Showcase section of the home page? Or is there a blog page we could link to instead?

[2018-08-29 20:18] paulagaube commented on #530
Also did not remove the "Policies" Menu item yet.

[2018-08-29 20:27] mandily-p commented on #264
I'm really just trying to minimize user interaction for them to get the information they want. But I'd say this is low priority because it's more of a polish item than a necessity. Let's hold off on any extra work until further down the road. There's bigger fish to fry at the moment :)

[2018-08-29 20:53] kathreenriel commented on #530
@paulagaube  this is in validating but are you still working on this?

[2018-08-29 20:55] alex-418 commented on #264
Yes, totally agree. But from my end as well... it's pretty frustrating to not be able to quickly deliver on that. Hate to put so many steps/decisions on the user to get what they need.

[2018-08-29 20:55] kathreenriel commented on #519
@mandily-p yes, please proceed with installation of plugin on prod and formatting of this post page.

[2018-08-29 21:28] paulagaube commented on #530
@kathreenriel I will move this back to doing as it is not "done" yet. I added menus and items, but need advice on how to make the links go to the appropriate places. Will need input from @alex-418 and perhaps @mandily-p

[2018-08-29 21:45] kathreenriel commented on #264
Thanks @alex-418 @mandily-p for working through these options/ideas
Here's some feedback.
1. Change "Learning Domains" to "Categories"
2. Re:  "multiple states save" @alex-418 this is significant progress on this issue we can make refinements at a later date.
3. Question about jquery replacement  how do users know the categories without prompts or a list to choose from?  I would like to keep the c

[2018-08-29 21:54] kathreenriel commented on #526
@mandily-p How about if we add this to the FAQ? @paulagaube could we add this as a FAQ for Organizers?
How can I check that my work email matches the Internet domain of my organization?

[2018-08-29 22:18] paulagaube commented on #526
Yes, I can create an FAQ for this.

I tested the signup as an Organizer and it worked seamlessly. I was taken to my Events page after creating the account and could immediately start posting events.

HOWEVER, @kathreenriel, it occurs to me that if we allow an Organizer to immediately post after creating an account, what is to stop me from entering a fake, yet valid, email address, and then immedia

[2018-08-29 22:35] paulagaube commented on #526
I created a Fake Event by a Fake Organizer.
https://eypd.bccampus.ca/events/fake-event-by-fake-organizer/
You can register today for only $1000!

[2018-08-29 22:35] kathreenriel commented on #526
@paulagaube yes I agree this is risky and it will require closer monitoring of events that are posted.

[2018-08-29 22:47] kathreenriel commented on #526
@paulagaube ha..ha...point taken! :)  I think this is still the best option until Comments In A Box provides an update.

[2018-08-29 23:16] mandily-p commented on #526
Ideally sites don't require FAQ's because most things are intuitive and anything that isn't has contextual help build in :)

I'd be curious to know - out of the spam accounts that were getting created when there was no protection - how many were learners vs organizers, and out of the organizers, how many actually posted events?

[2018-08-29 23:46] mandily-p commented on #530
I'm fairly certain Alex will need to work some magic for the myEYPD link - duplicating whatever he did for the main nav.

The best option for a link for the professional learning showcase would be to send them here: https://earlyyearsbc.ca/category/homepage/

But I'd recommend removing those two protected posts from the category "homepage" until you're ready to make them live.

[2018-08-29 23:49] alex-418 commented on #530
@mandily-p The myEYPD link is to a BuddyPress feature, which requires the username in the URL... so yes, I have to pull the current username and then generate the link, and then append it to the existing menu... this requires checking the menu exists before adding it, and other fun stuff.

[2018-08-30 00:30] mandily-p opened #540 "Content: About us page"
### Description

1. On the about page, we link to the website, and tell the user to contact us at an email address that isn't a link. With @kathreenriel 's permission, I'd like to remove both the link to the website and the contact CTA.

2. I'd also like to remove the links and text earlyyearsbc.ca and replace it with plain text in the Q&A's down below.

3. And I'd like to remove the bullets from

[2018-08-30 01:16] kathreenriel commented on #540
@mandily-p

[2018-08-30 04:26] mandily-p commented on #540
My apologies @kathreenriel I feel like this is the first project all over again. I didn't read the page, but rather was only looking at the styling of it. I should have known that if even I didn't want to read it, it might not be the best format for our users either.

I've went ahead and wrote a more story-like and hopefully engaging about page that I'd like to use instead of the copy that's curre

[2018-08-30 04:38] mandily-p opened #541 "Contextual validation errors"
### Description
Currently when a user submits a form that has errors, we display a message at the top of the screen about where those errors are.

**Expected behaviour**
I'd like to give the users more context of what fields need to be filled in/corrected, by highlighting them with a red border.

**Current page**
![screencapture-earlyyearsbc-ca-post-event-2018-08-29-21_32_02](https://user-images.g

[2018-08-30 04:45] mandily-p commented on #350
I'm curious to know why we need a plugin for FAQ's? Ideally this is just a regular page with headings for the question and the answer as a paragraph underneath.

Accordions are great for hiding information when there's too much. But I generally find them to be a bandaid to the bigger problem - which is that there's too much information. Here's some more words that I didn't write, but that I totall

[2018-08-30 05:36] mandily-p commented on #519
Plugin is installed and configured the same as what I've done on cert. Unfortunately it's not showing up properly in the post though. I've sent an email to the developer with details on what I've tried to debug and asking for assistance in next steps for troubleshooting. He's been fairly responsive in the past so I'm confident he should get back to me soon.

[2018-08-30 15:58] kathreenriel commented on #350
Some good points here @mandily-p
@paulagaube I'm also wondering about 2 things:
1. We will be able to link instructions on other pages  to a specific question? For example the words Internet domain on the sign up page could be linked to the question "What is an Internet domain?"
2. Is there a search feature so that users can search for support by keyword on this Help page?

[2018-08-30 16:30] mandily-p commented on #350
1 - I would suggest not using any language on a page that any user would have to visit a FAQ to understand. :)

2 - I think help is a useful tool when there's a lot of content to shift through, but in this case, there's a very short list that would be easily scannable as just a list.

[2018-08-30 18:27] kathreenriel commented on #519
@mandily-p The issue I've had with blog posts in the past is this Images Glitch with Blog Posts #268
But I don't this is related.

[2018-08-30 18:31] alex-418 commented on #519
@kathreenriel I can confirm these would not be related.

[2018-08-30 18:48] mandily-p opened #542 "Site styling: Spacing within typography"
### User story
As a site visitor,
I want to be able to scan content as quickly and easily as possible
So that I can find what I need quicker

### Description
The site in general could benefit from an update to the typographic styles to add more space above headings and between bullets and form elements. Adjusting the spacing will help group like items together, reducing the cognitive load it takes

[2018-08-30 18:50] mandily-p commented on #519
I did a little more debugging this morning and realized that it works with 3 items, but as soon as a scroll bar would appear with the fourth - it no longer works. I've emailed the dev with a screenshot of the log errors to see if he can help.

[2018-08-30 18:52] mandily-p commented on #510
I am closing this in favour of doing a site wide review of spacing. This will be addressed with #542

[2018-08-30 18:52] #510 closed

[2018-08-30 18:58] kathreenriel commented on #540
@paulagaube would you read this over please.

[2018-08-30 19:10] mandily-p opened #543 "Content: Rename "Edit events" to "My posted events""
### User story
As an organizer,
I want to be able to see my posted events at a glance
So that I can edit, remove, and add new ones as quickly as possible.

### Description
The current `Edit events` page is the perfect dashboard for organizers - they can do everything from this page. Unfortunately the title and link to the page in the nav makes it look like users can only edit events here. I'd like

[2018-08-31 19:03] mandily-p commented on #519
The dev responded:

If you use this one http://two.lambertgroup.ro/wp-includes/js/jquery/ui/mouse.min.js it will not throw the error.

@alex-418 The file he’s suggesting we use is minified, so I can’t tell what this is actually running. Should we (you) be trying to figure out why our file is corrupt and fix it, or is it ok to use the one he’s suggesting after testing on cert?

[2018-08-31 19:12] alex-418 commented on #519
@mandily-p That is definitely not the cause of this issue... those two files are actually identical. jQuery is part of WordPress core, and both of those links are to the exact same file. So definitely won't be swapping that out. I also ran them through a diff checker to be sure (even without doing that you can see they are the same version of jQuery).

[2018-08-31 20:01] alex-418 commented on #264
Progress in https://github.com/BCcampus/eypd/pull/544

[2018-08-31 20:38] paulagaube commented on #530
Paula to add menus to Prod so Alex can link/update footer.
Alex will update the footer to move Terms and Conditions and Privacy Policy.

[2018-08-31 21:00] mandily-p commented on #519
Another option might be not using a plugin. I accidentally bought/downloaded the jquery version of the plugin. @alex-418 What do you think?

[codecanyon-7964882-youtube-and-vimeo-video-player-with-playlist.zip](https://github.com/BCcampus/eypd/files/2341569/codecanyon-7964882-youtube-and-vimeo-video-player-with-playlist.zip)

[2018-08-31 21:08] kathreenriel commented on #519
@mandily-p @alex-418  No please stop further development with this plugin. I think the post/page should be designed manually.

[2018-08-31 21:39] paulagaube commented on #530
@kathreenriel could you look at the footer on the eypd site and let me know what you think? Shall I copy the two left menus and put them in Prod?

Note that the "ProD" title that is displayed can change back to Professional Development before we finalize if you like, but @alex-418  needs final menu names to link the "myEYPD" to the correct dynamic place.

[2018-08-31 21:43] kathreenriel commented on #530
@paulagaube How about "Learn" instead of ProD? The active verb goes with **Get** In Touch

[2018-08-31 21:59] paulagaube commented on #530
@kathreenriel nice, I like "Learn".
How about the other menu. Which do you prefer?
"About" or "About Us"
"Contact" or "Contact Us"

The "Us" is currently on the production site. Either is ok with me, but I'm torn about which is better.

[2018-08-31 22:14] kathreenriel commented on #530
I prefer
About Us
Contact Us

Keeps it personal

[2018-08-31 22:15] paulagaube commented on #530
@alex-418 I created two new Menus in earlyyearsbc.ca.
"Learn Menu" which replaces the Footer Left menu widget
"Contact Menu" which replaces the Footer Middle/"middle bottom" menu

[2018-08-31 22:35] paulagaube commented on #540
@kathreenriel @mandily-p I'm not a fan of all the text on that About Us page. The first paragraph is government jargon and makes my eyes glaze over. The second paragraph is a better place to start, though needs some editing for tense and clarity.

It seems like this text is really about the EYPD project, and not About Us (Which I think is BCcampus and the BC Office for the Early Years, and possibl

[2018-08-31 22:40] kathreenriel commented on #540
@paulagaube @mandily-p  Ha..ha..I'm chuckling...the "eye glazing" effect is due to my edits. Amanda's version was more approachable. I agree now when I read it again the second paragraph gets my attention. Given that Alex is not pushing anything to production until Wednesday there is time for edits.

[2018-08-31 22:44] alex-418 commented on #530
@paulagaube For the footer terms/privacy links, I've added a new menu location to our theme called "copyright-info" so that you can now manage these in the menu manager. I've created this in cert so you can see how it works:

![copyright](https://user-images.githubusercontent.com/17072191/44938373-52452280-ad33-11e8-9808-41e772b06671.png)

@kathreenriel @paulagaube Please note, I've also created t

[2018-08-31 22:46] kathreenriel commented on #515
@paulagaube looking at it on my iphone it renders really well I like the option of swiping down the topics without the extra text. There's no extra white space at the bottom on my phone

[2018-08-31 23:12] paulagaube commented on #540
@kathreenriel @mandily-p I really do like the text in the image shown above much better. It's clean, clear and organized. "Our Goals" and "Fast Facts" makes a lot of sense (but removing the second instance of "Our Goals" in the paragraph below the video).
Could change "Fast Facts" to "About the Project" but that is not quite as fun as "Fast Facts".

[2018-08-31 23:25] alex-418 commented on #530
@paulagaube Cache :)

[2018-08-31 23:26] paulagaube commented on #530
@alex-418 sweet, yes. Chrome cache cleared. Duh. Thank you.

[2018-08-31 23:27] kathreenriel commented on #526
thanks @alex-418  how/where do I disable this plugin to check?

[2018-08-31 23:28] alex-418 commented on #526
@kathreenriel in the dashboard there's a "Plugins" menu. You can activate/deactivate the plugin there.

[2018-08-31 23:31] mandily-p commented on #540
We could also rename the page to "About" Instead of "About us" instead of rewriting it about BCcampus. Right now, there's no information on what the project is about anywhere else on the site. Although that being said, I can write it into a new home page.

[2018-08-31 23:32] mandily-p commented on #519
By "Manually" so you mean without the use of a script? So just html and css?

[2018-08-31 23:34] kathreenriel commented on #519
@mandily-p yes

[2018-08-31 23:35] mandily-p opened #545 "Add cache buster to site"
### User story
As a site visitor and a QA tester,
I want to see the most current version of the site,
Because, well - relevancy!!

### Description
Currently, the cache would prevent a returning user from seeing updates made to the site. I'd like to add a cache buster so that new content gets delivered every time a user visits.

[2018-08-31 23:44] mandily-p commented on #519
How about this? Native Youtube player with instructions for accessing the playlist.

<img width="853" alt="screen shot 2018-08-31 at 4 43 21 pm" src="https://user-images.githubusercontent.com/20425828/44939811-0bf4c100-ad3d-11e8-99e7-6f6f0ba30a07.png">

[2018-08-31 23:47] kathreenriel commented on #526
@alex-418 thanks, yes I disable, and checked Learner and Organizer registrations without the plugin and it works.

[2018-08-31 23:56] kathreenriel commented on #519
This would help to clarify the location of the content but I would like to see each video  illustrated with a thumbnail and a short description.

[2018-09-01 00:01] mandily-p commented on #519
At the moment, all of the thumbnails look relatively the same - just the same guy with half a blue screen, and the description of each video is exactly the same too.

If we have a list of video thumbs - they'd link to youtube.com, away from the site. It's probably better to keep them on our site, is it not?

I'd suggest using what we've got, knowing the user can click that icon to get the full lis

[2018-09-01 00:13] kathreenriel commented on #519
@mandily-p I agree it's optimal to keep them at our site

Here's original  request they sent us
Actually, the preferred format would be for each of the video segments to be posted separately.  That requires going into the playlist and pulling out each link, and posting each one.

I think they want each video to be more prominently illustrated on the page.

[2018-09-05 00:43] mandily-p opened #547 "Allow users to upload category featured image"
### User story
As a member of the marketing team,
Show site visitors images at the top of each category page
To pique interest and draw them down into the content.

### Description
We'd like to add images to the tops of each category page, like [this one](https://earlyyearsbc.ca/category/brain-development-and-behaviour/). I *think* we can do this by associated featured images with each category th

[2018-09-05 16:49] kathreenriel commented on #519
In the end this plugin did not work at expected. Blog post was created with all of the videos on one page.

[2018-09-05 17:15] mandily-p commented on #519
The developer emailed back again, adamant that our file was corrupt. He said he swapped out his for ours and it worked fine.

________________________________
From: kathreenriel <notifications@github.com>
Sent: Wednesday, September 5, 2018 9:49 AM
To: BCcampus/eypd
Cc: mandily-p; Mention
Subject: Re: [BCcampus/eypd] Install YouTube thumbnail plugin (#519)

In the end this plugin did not work at ex

[2018-09-05 17:37] alex-418 commented on #519
@mandily-p Please see my comment in https://github.com/BCcampus/eypd/issues/519#issuecomment-417766361
That file is part of WordPress core. We never modify WordPress core files.

[2018-09-06 18:27] kathreenriel commented on #535
Needs documentation for Organizers in FAQ so that many duplicate events are not posted.

[2018-09-10 22:53] mandily-p opened #548 "Unique urls for categories"
### User story
As a member of the marketing team,
I want to direct users to an event page for a specific category
So that I can deliver focused content and increase signup conversions.

### Description
Currently the url for the search page is the same no matter what filters are applied. I'd like to add to the url something like category=[category_name] so that we can send users to specific groupin

[2018-09-10 23:08] mandily-p commented on #542
Change the padding on this style from 0 to what's below
`.css-events-list table.events-table td {
  padding: 10px;
}
`

Edit width of Event table date/time column to 250px

Current
<img width="1161" alt="screen shot 2018-09-10 at 4 07 21 pm" src="https://user-images.githubusercontent.com/20425828/45329100-a611f180-b513-11e8-945c-9e0759fb1c52.png">

Desired
<img width="1166" alt="screen shot 2018-0

[2018-09-10 23:13] mandily-p opened #549 "Content: Clean up city/town/community list"
### Description
Some towns/cities are represented twice in the list, sometimes due to a spelling error, sometimes due to `, BC` being added to the end of it.

I also see a room number, test, and various options as well. I suspect these don't all need to be here :)
Note there are more than what are shown in the screenshot.
<img width="278" alt="screen shot 2018-09-10 at 4 10 36 pm" src="https://use

[2018-09-10 23:18] mandily-p opened #550 "Events page: Add cost as a filter"
As a learner,
I want to be able to find the free courses as easily as possible,
Because I don't want to pay or waste my valuable time.

### Description
During user testing, it was mentioned that some learner users may only be interested in free courses to get their hours. We should cater to that audience and add a "cost" column to the table and allow users to filter by free or paid.

[2018-09-16 22:35] mandily-p opened #551 "Remove our IP's from analytics"
### User story
As a UX researcher,
I want to make sure that the user data I am looking at is only from users visiting outside of the EYPD office/contractors
So that I know the data isn't skewed

### Description
Filter out IP addresses from the analytics tools. I'm not sure we should be posting them in a public repo though. Will set up a [spreadsheet](https://docs.google.com/spreadsheets/d/1GR9gq1n

[2018-09-17 20:54] bdolor commented on #551
Victoria and Vancouver office IP's are already excluded from being tracked on all websites.

[2018-09-17 21:31] kathreenriel commented on #507
<img width="712" alt="screen shot 2018-09-17 at 2 29 27 pm" src="https://user-images.githubusercontent.com/16693738/45651464-694f7880-ba86-11e8-8fd5-5f36a4c0e3d9.png">

[2018-09-17 22:38] bdolor commented on #489
taking over the activation template solved this via https://github.com/BCcampus/eypd/commit/7eb104902149c65029883bb4ee09ebf150584fc9

hotfix pushed to cert and prod.

now the expected behaviour is that the activation code is automatically pasted into the area. The user only has to click 'Activate' and they're in.

![image](https://user-images.githubusercontent.com/2048170/45654232-b2f09100-ba8f-11

[2018-09-17 22:42] bdolor commented on #507
wondering if this is still valid in light of: https://github.com/BCcampus/eypd/issues/489#issuecomment-422194798

[2018-09-18 00:44] paulagaube commented on #507
It looks like adding this text is no longer necessary! Thanks, @bdolor
@kathreenriel Since the Activation Key now appears in the Activate box, we don't need this descriptive text. Time will tell if we need other descriptive text on this page, but for now, let's close this ticket?

[2018-09-18 00:45] paulagaube commented on #489
This is a lovely fix, thank you. I tested with both Learner and Organizer accounts, and account creation was successful in each case. Wonderful.

[2018-09-18 01:17] kathreenriel commented on #489
WOW @bdolor this works for me! Just tested it again it works. @paulagaube we'll change the FAQ to go with this.

[2018-09-18 15:56] bdolor commented on #287
In light of the recently disclosed vulnerability, this ticket needs to be prioritized and addressed:

- https://nvd.nist.gov/vuln/detail/CVE-2018-14041
- https://blog.getbootstrap.com/2018/07/12/bootstrap-4-1-2/

[2018-09-25 22:20] paulagaube opened #552 "Organizer/Editor taken directly to Dashboard after password reset"
### Description

Using an Organizer test account (pgaubesfu) on earlyyearsbc.ca, I successfully changed my password after clicking the link I was emailed, entered and saved my new password, then clicked the "login" link. This link took me to a login screen where I entered my username and password. I was then taken directly to the back-end Dashboard of the earlyyearsbc.ca site.

**Expected behaviou

[2018-09-26 21:00] kathreenriel commented on #552
This is related to #505 and #506

[2018-09-27 06:04] mandily-p commented on #529
@kathreenriel or @paulagaube before I bother the guys I was wondering - do you know where these settings are? I keep looking in the admin and I just don't see them. :/

[2018-09-27 06:15] paulagaube commented on #529
Look in Users > Profile... or is it Profile Settings?

Edit the group with the organizations.

Paula

______________________
Paula Gaube
Project Support Coordinator
BCcampus

[2018-09-27 06:44] mandily-p commented on #529
We don't have the capability to add in a dynamic "other" field without sone extra code. In lieu of that, I added the other option, and thought if anyone selects it and we want to know more - we can reach out to that person.

[2018-10-11 19:18] kathreenriel opened #555 "Notifications plugin not sending future training events"
Description

When I sent a test email from the  WP notifications plugin to three different users the training events that are sent are the events that occurred in the past as well as one event sending the user to a 404 page.

Expected behaviour
Training events listed in the email notification are events happening in the future based on the users selected interests.

[What you expect/want to happen

[2018-10-11 21:18] kathreenriel commented on #540
Added in some graphics and subtitles to break up the text .

[2018-10-11 21:18] #540 closed

[2018-10-11 21:29] bdolor commented on #536
I believe this is a matomo plugin, not a WP plugin.

[2018-10-11 22:01] #547 closed

[2018-10-11 23:33] mandily-p opened #556 "Misalignment of top footer columns"
### Description
The last footer item (logo) is higher than the three previous columns of text. They should all be in alignment with each other by their top location.
<img width="1252" alt="screen shot 2018-10-11 at 4 31 47 pm" src="https://user-images.githubusercontent.com/20425828/46839559-596c4100-cd73-11e8-96d0-fd9e932529c2.png">

[2018-10-12 18:07] #489 closed

[2018-10-12 19:08] bdolor commented on #555
Should be resolved so that test emails are now displaying updated/recent events.

There are two processes, _build_ and _notify_ that are triggered by various things and out of an abundance of caution, **not** triggered by various things. The last time it _'built'_ the most recent events was in April, so was email testing was displaying those not-so-recent recent April events. Prior to the actual _

[2018-10-12 19:08] #555 closed

[2018-10-12 19:14] kathreenriel commented on #555
Great! Just tested this again and it shows all future events. I will activate this next Tuesday.

[2018-10-12 19:14] kathreenriel commented on #555
@bdolor Thank you!

[2018-10-12 19:45] mandily-p opened #557 "Homepage: Extend the number of Search fields"
### Description
Currently, organizers can post events that have phrases like, "Registration cannot be completed online. Please call to register" and those events will appear in a search for "online". I'd like to restrict searches for "online" to only search the category so that the results are better aligned with what a user is searching for.

[2018-10-12 19:45] mandily-p commented on #557
This would probably also be useful for TLPD.

[2018-10-16 16:45] kathreenriel opened #558 "EYPD Notifications: Not sending to all registered users"
This morning, (October 16, 2018) I activated notifications on the production site EYPD. The logs indicate that the notification was only sent to 20 people and I think the notification was sent out twice. I randomly checked those registrations who did not receive the notification and their extended profile  indicates that notifications are permitted.

**Expected behaviour**
Notifications are sent t

[2018-10-16 16:57] bdolor commented on #558
I received a notification this morning (just one at 7:26am) and it looks great. The 20 at a time is meant to slow the distribution down to avoid getting flagged as a spammer. If the cron job that breaks it up into chunks isn't triggering there can be a few things to look at. I notice the plugin is disabled on production. Is there risk in leaving it enabled?

[2018-10-16 23:22] kathreenriel commented on #558
My BCcampus and gmail account did not receive a notification so after a few minutes I didn't think it was working. I'll leave it activated and see what happens tomorrow morning.

[2018-10-16 23:33] kathreenriel commented on #558
Oh oh....I activated plugin to send a notification tomorrow morning but was sent immediately. I deactivated it again because I'm not sure if this will send a duplicate email tomorrow morning too so I'm going to deactivate and try again in a week's time.

[2018-10-16 23:39] bdolor commented on #558
I should walk you through what to expect with that plugin...it sounds like it's working correctly, but perhaps not in line with expectations. Could speak to better documentation on our part. It's likely that everyone received a notification today, which I think is what we want.

[2018-10-16 23:44] kathreenriel commented on #558
Yes, a walk-through would be great!

[2018-10-18 15:48] #526 closed

[2018-10-18 15:50] #525 closed

[2018-10-18 15:55] #519 closed

[2018-10-18 16:01] #511 closed

[2018-10-18 16:02] #509 closed

[2018-10-18 16:02] #515 closed

[2018-10-18 16:05] kathreenriel commented on #514
I cannot replicate this issue

[2018-10-18 16:05] #512 closed

[2018-10-19 15:48] #484 closed

[2018-10-23 18:56] #507 closed

[2018-10-23 18:57] #514 closed

[2018-10-23 19:02] kathreenriel commented on #524
This I think is a duplicate of #548

[2018-10-23 19:03] #84 closed

[2018-10-23 19:07] kathreenriel commented on #349
This was started as an Archive issue look  at documentation in Issue #85

[2018-10-23 19:08] kathreenriel commented on #85
This has been described and crosschecked with issue #349

[2018-10-23 19:08] #85 closed

[2018-10-23 19:10] kathreenriel commented on #557
This is related to issue #86

[2018-10-23 19:11] kathreenriel commented on #86
This issue is now detailed in #557

[2018-10-23 19:11] #86 closed

[2018-10-23 19:14] kathreenriel commented on #123
We worked around this by manually changing names of Organizers to improve clarity of identity of organizations and adding best practice  to FAQ's

[2018-10-23 19:14] #123 closed

[2018-10-23 19:24] #175 closed, assigned to nobody

[2018-10-23 19:25] #193 closed, assigned to nobody

[2018-10-23 19:27] #196 closed, assigned to nobody

[2018-10-23 19:31] #217 closed

[2018-10-23 19:44] kathreenriel commented on #268
We have created several blog posts since Nov. 30 and there is not issue with formatting.

[2018-10-23 19:44] #268 closed

[2018-10-23 19:46] #269 closed

[2018-10-23 19:46] #270 closed

[2018-10-23 19:47] #271 closed

[2018-10-23 19:47] #272 closed

[2018-10-23 19:48] #273 closed

[2018-10-23 19:49] #275 closed

[2018-10-23 19:50] #276 closed

[2018-10-23 19:50] #277 closed

[2018-10-23 19:51] #278 closed

[2018-10-23 19:51] #280 closed

[2018-10-23 19:53] kathreenriel commented on #287
@bdolor Not sure if this was updated from V3 to V4

[2018-10-23 19:54] #293 closed

[2018-10-23 19:54] #295 closed

[2018-10-23 20:01] kathreenriel commented on #317
I think it's okay
![screen shot 2018-10-23 at 1 00 47 pm](https://user-images.githubusercontent.com/16693738/47387297-c234b100-d6c3-11e8-9411-04a32384f312.png)

[2018-10-23 20:01] #317 closed

[2018-10-23 20:02] kathreenriel commented on #342
Number of hours drop-down was created to specify a specific time. But tried it this morning for a second time and I don't think it works.

[2018-10-23 20:04] #347 closed

[2018-10-23 20:06] #348 closed

[2018-10-23 20:08] kathreenriel commented on #350
The new FAQ plugin has been put on the production site. There are potential modifications that could be applied. Let's evaluate traffic patterns to this page and conduct some user testing to determine if further modifications warrant another plugin.

[2018-10-23 20:09] bdolor commented on #287
we were able to apply the upgrade to tlpd but has yest to be applied to eypd. In light of it being a security concern, I would advise making it a priority

[2018-10-23 21:00] #380 closed

[2018-10-23 21:00] #381 closed

[2018-10-23 21:05] kathreenriel commented on #382
Added new Organizer using, Chrome, Safari and Firefox cannot replicate this issue.

[2018-10-23 21:05] #382 closed

[2018-10-23 21:08] #383 closed

[2018-10-23 21:08] #386 closed

[2018-10-23 21:09] #457 closed

[2018-10-23 21:09] #396 closed

[2018-10-23 21:13] kathreenriel commented on #403
This is related to #557 closing this issue

[2018-10-23 21:13] #403 closed

[2018-10-23 21:14] kathreenriel commented on #557
This issue needs to be refined to include the needs as described in #86 and #403

[2018-10-23 21:14] bdolor commented on #342
I received an email from the plugin this morning at 9:28am

[2018-10-23 21:16] kathreenriel commented on #342
I selected the notifications to be delayed for 17 hours (to happen after the build scheduled for tomorrow) but the notification was sent within minutes.

[2018-10-23 21:31] #558 closed

[2018-10-23 21:33] kathreenriel commented on #410
For now I think this should all stay on the same page.

[2018-10-23 21:33] #410 closed

[2018-10-23 21:39] kathreenriel commented on #420
Instead of section on the myEYPD a Recommend Events page has been created based on Professional Interests selected in a checklist.

[2018-10-23 21:39] #420 closed

[2018-10-23 21:41] #417 closed

[2018-10-23 21:43] kathreenriel commented on #418
This was investigated by Alex in #424 and current developing resources constrain this enhancement.

[2018-10-23 21:43] #418 closed

[2018-10-23 21:45] kathreenriel commented on #452
This issue has been investigated as part of #424 and development resource constrains implementation of these enhancements.

[2018-10-23 21:45] #452 closed

[2018-10-23 21:46] kathreenriel commented on #426
This needs to be further tested and confirmed by users before changes are made.

[2018-10-23 21:46] #426 closed

[2018-10-23 21:52] kathreenriel commented on #462
![img_2719](https://user-images.githubusercontent.com/16693738/47393039-46426500-d6d3-11e8-9a66-bb7216544619.png)

[2018-10-23 21:54] kathreenriel commented on #466
This needs to be part of a bigger re- design of the homepage of what users see when they are not logged in.

[2018-10-23 21:55] #474 closed

[2018-10-23 21:56] kathreenriel commented on #476
This needs be be part of a bigger re-design plan

[2018-10-23 21:57] kathreenriel commented on #478
This issue is part of a bigger plan for a re-design of the homepage.

[2018-10-23 21:59] kathreenriel commented on #480
This is identified in #521

[2018-10-23 21:59] #480 closed

[2018-10-23 22:02] kathreenriel commented on #481
The myEYPD items were removed from the users drop-down profile to simplify the homepage.

[2018-10-23 22:02] #481 closed

[2018-10-24 17:50] kathreenriel commented on #482
This needs to be considered along  with #462

[2018-10-24 20:00] kathreenriel commented on #487
Given results by Alex #424 as to what can be "ajaxified" this is being closed

[2018-10-24 20:00] #487 closed

[2018-10-24 20:02] kathreenriel commented on #504
Alex applied a lot of effort and time to determine if this is possible. Concluded that there were a lot of dependencies that we do not wish to address or modify at this time.

[2018-10-24 20:02] #504 closed

[2018-10-24 20:04] kathreenriel commented on #501
We need to consider the illustration or results that will be shown after a user exceeds 40 hours. @mandily-p the calculation you suggested may not take into account that several categories are also taken into account of the calculation currently presented in the legend.

[2018-10-24 20:09] kathreenriel commented on #521
@mandily-p This isn't a bug because we were aware of this behaviour however this is connected with #480. It would be ideal if the user saw confirmation message when inserting an image and was also able to upload multiple images, and see them before publishing.

[2018-10-24 20:09] kathreenriel commented on #522
If the user types in, "Free" it works but it would be good to have more flexibility with this field.

[2018-10-24 20:16] kathreenriel commented on #527
Closing for now. We need to consider more implications tying in social media accounts.

[2018-10-24 20:16] #527 closed

[2018-10-24 20:28] kathreenriel commented on #532
We reverted this sign-up process to its original state for now.

[2018-10-24 20:28] #532 closed

[2018-10-24 20:35] kathreenriel commented on #533
@mandily-p I'll need help validating this :)

[2018-10-24 20:42] kathreenriel commented on #534
@mandily-p reviewed this but it looks similar to the original. Please clarify what to validate

[2018-10-24 20:45] kathreenriel opened #559 "Add FAQ Duplicating an Event"
Write a question for the process of how an Organizer follows the process for duplicating an event. This needs to be done when #535 is completed.

[2018-10-24 20:49] kathreenriel commented on #539
This blocked by #264

[2018-10-24 20:56] kathreenriel commented on #543
I disagree with this point. I think the audience of Organizers is not likely to change and they are used to Edit Events. Also Edit Events fits with all the other active descriptions. Find, Post,

[2018-10-24 20:56] #543 closed

[2018-10-24 21:01] kathreenriel commented on #550
This is related to recent discussions with WestCoast CCRR needing a category for Vancouver Early Years Partnership

[2018-10-24 21:07] kathreenriel commented on #557
This is also connected to #550

[2018-10-25 23:07] bdolor commented on #548
Will the following not suffice?

- https://earlyyearsbc.ca/events/categories/early-care-and-education/
- https://earlyyearsbc.ca/events/categories/administration-communication/
- https://earlyyearsbc.ca/events/categories/online/

the full list of categories that can be referenced: https://earlyyearsbc.ca/events/categories/

[2018-10-25 23:37] mandily-p commented on #548
I'd like to show them in a table format similar to the search page. Is it easier to format the above linked page template or to create links for the search page?

[2018-10-27 04:42] bdolor commented on #120
This may have been addressed already, there is currently https://github.com/BCcampus/eypd/pull/500/commits/d6fb2ee9c3b02e9554d22545e427d3cf94558820

[2018-11-01 22:03] kathreenriel opened #561 "Bootstrap Security Vulnerability"
Security vulnerability XSS in a framework we use (twbs/bootstrap)

<img width="471" alt="screen shot 2018-11-01 at 3 01 33 pm" src="https://user-images.githubusercontent.com/16693738/47882558-24d62d00-dde7-11e8-9038-1171c46c5905.png">

Link to vulnerability description
https://nvd.nist.gov/vuln/detail/CVE-2018-14041

Fix is to update bootstrap to the latest 4.1.3 https://blog.getbootstrap.com/2018

[2018-11-01 22:05] bdolor commented on #561
duplicate of https://github.com/BCcampus/eypd/issues/287

[2018-11-01 22:08] kathreenriel commented on #561
Oh I thought we were at version 4.1.2 and need to go to 4.1.3

[2018-11-01 22:09] kathreenriel commented on #561
Oh I see it as upgraded on TLPD but not EYPD

[2018-11-01 22:10] kathreenriel commented on #287
Security vulnerability XSS in a framework we use (twbs/bootstrap)

<img width="471" alt="screen shot 2018-11-01 at 3 01 33 pm" src="https://user-images.githubusercontent.com/16693738/47882558-24d62d00-dde7-11e8-9038-1171c46c5905.png">

Link to vulnerability description
https://nvd.nist.gov/vuln/detail/CVE-2018-14041

Fix is to update bootstrap to the latest 4.1.3 https://blog.getbootstrap.com/2018

[2018-11-01 22:11] #561 closed

[2018-11-01 23:10] #529 closed

[2018-11-05 17:33] bdolor commented on #483
looks like clearing browser cache would solve the problem.

[2018-11-05 17:34] kathreenriel commented on #483
Yes, will check other browsers now.

[2018-11-05 18:44] bdolor commented on #287
work done on the TLPD project will be relevant, captured in https://github.com/BCcampus/tlpd/issues/84 and in PR's https://github.com/BCcampus/tlpd/pull/92 and https://github.com/BCcampus/tlpd/issues/93

[2018-11-05 21:33] mandily-p commented on #550
I shortened up the "Search by category" field and added the "cost" field beside it. Same size as the date fields, but it doesn't have to be that way. Whatever works with the grid.

I purposely didn't do filters .01 - 19.99, 20 - 29.99, 30 - 39.99 etc
I figured people are filtering by cost because it's what they can afford, not that they wouldn't want to pay less than $50.
So each consecutive optio

[2018-11-05 21:34] mandily-p commented on #534
It needs to be merged into dev before you can validate :)

[2018-11-05 22:17] mandily-p commented on #557
@kathreenriel you asked for a mockup, but I'm not sure what you need mocked up. Can you give me some details please?

[2018-11-09 18:57] kathreenriel commented on #557
Details found in Trello https://trello.com/c/BRNthyIV/49-eypd-homepage-mock-up-more-search-options-that-include-a-format-drop-down-menu-cost-and-sponsor

[2018-11-10 00:05] brettjforsyth commented on #287
BS4 will run with the default jQuery of WP but yarn throws errors if jQuery is not in its dependancy list. I added WPs jQuery as a devdependancy (I think this might also solve #93). BS4 also moves to a flexbox based layout system. For speed I didn't attempt to rework the whole site to the new BS4 layout mode but overrode the .row CSS for BS4 to make it work like the old BS. I checked all the layou

[2018-11-12 17:54] brettjforsyth commented on #462
I have reworked the chart so that the donut is SVG and scalable between 200px and 300px. This allows the whole thing to fit on a range of small screens. I have change the legend to remove it from a SVG legend and made it regular HTML so that it will work with the column system. I have also incorporated some visual changes are per a mockup sent to me by @mandily-p
![screen shot 2018-11-12 at 12 49

[2018-11-12 18:42] brettjforsyth commented on #501
This might have been fixed somewhere else as I can not reproduce it. I have included a screen shot of it working for 500+ hours but also tried it with +123,456 hours and it works. Checked on FF and chrome on a Mac.
![screen shot 2018-11-12 at 1 40 27 pm](https://user-images.githubusercontent.com/439832/48368062-a8faa100-e680-11e8-9edf-b2ba4bd5e011.png)

[2018-11-12 21:00] mandily-p commented on #501
The container was previously on the page for the chart, it just didn't render properly. It may have just been a math error. In any case, it looks like it's working now! 👍

[2018-11-14 04:53] brettjforsyth commented on #462
@mandily-p now with better line breaks
![screen shot 2018-11-13 at 11 52 35 pm](https://user-images.githubusercontent.com/439832/48460958-4fd55f00-e79f-11e8-8446-5e1d933976aa.png)

[2018-11-14 17:46] dshaykewich opened #566 "Update Google Account used to access maps API"
### Description

Currently, Brad's personal Google account is being used to access Google APIs for embedding maps into the site.  There is now a BCcampus account, which should be used instead.

**Expected behaviour**

Use the "devops@bcccampus.ca" google account to access google maps apis.

**Actual behaviour**

Using Brad's personal account.

[2018-11-14 17:48] kathreenriel commented on #528
Moving this to the Sprint for November

[2018-11-15 19:54] kathreenriel commented on #483
@brettjforsyth in validating this donut when I change the status of attended to did not attend in the My Past Events section. The donut does not change but remains 55 hours

Logged in as Olivia set the training events to attended just one 2 hour training event. The donut should reflect the table of My Past Training Events to just one 2 hour training event.

Also, there are some extra characters in

[2018-11-16 18:19] brettjforsyth commented on #483
@kathreenriel For the headings I didn't modify this but I can remove them if you like.

Seems like the donut was totaling all of the hours attended or not. Just submitted a new pull that should sort this out.

[2018-11-16 18:23] kathreenriel commented on #483
@brettjforsyth Great, we'll see what what happens when the PR goes through. Yes, please remove the numerals and characters below "Attended" and "Did Not Attend"

[2018-11-17 01:16] mandily-p commented on #408
Looks good to me 👍

[2018-11-17 01:17] mandily-p commented on #462
So much better. Thanks!

[2018-11-19 16:20] brettjforsyth commented on #522
@mandily-p @kathreenriel Is there any other check we want to include here. Currently the validation is very basic. Anything like "free" and numeric values only? Or is anything entered ok as long as its not blank?

[2018-11-19 16:23] brettjforsyth commented on #362
@kathreenriel is this active on staging?

[2018-11-19 17:29] kathreenriel commented on #362
@brettjforsyth it is now -  thanks

[2018-11-19 17:36] kathreenriel commented on #522
There are a lot of pricing structures, I would like it to be a fillable field that would accept a numerical value as well as
Free
0
Members Fee:
Non- Members Fee:
Student Fee
Early Bird Fee
Sponsorship Available
Bursary Available
By Donation

[2018-11-19 19:39] kathreenriel commented on #550
This issue is now accounted for in #557

[2018-11-19 19:39] #550 closed

[2018-11-19 19:49] kathreenriel commented on #517
I think we should consider another validation process other than manually uploading certificates. The Advisory Group also suggested Organizers following a system that validates the professional development taken by Learners - may a unique number or word that is entered by the Learner as a validation key.

[2018-11-19 19:57] #337 closed

[2018-11-19 19:59] kathreenriel commented on #557
Moving this to the Sprint for next week

[2018-11-19 20:13] kathreenriel opened #570 "Events Export"
**Description of Current Status**
The export function for events exports all past and future event data on prod from the Dashboard-myEYPD - Export to Excel. When an administrator clicks on Export to Excel the following information is created in a Spreadsheet:

- Event Title
- Owner
- Status
- Published date
- Start date
- End date
- Start time
- End time
- Presenter
- Registration Contact E-mail
-

[2018-11-20 14:06] brettjforsyth commented on #522
@kathreenriel Is it better at this point to just let it be open to any input?

[2018-11-20 20:22] brettjforsyth commented on #362
@bdolor I think this one might be over my current nginx skill level. Appears to be a permalinks/nginx config issue. I attempted to modify my pd.test.conf file with the info from here https://wordpress.org/support/topic/sitemap-is-not-created-2/ but it didn't change anything.

But I also notice that you have
location / {
    try_files $uri /index.php
  }

and then a little further down
location ~ \

[2018-11-20 21:23] brettjforsyth commented on #362
Ok a bit more info.
https://eypd.bccampus.ca/members/ahealey/profile/ works and is likely what https://eypd.bccampus.ca/members/ahealey/ should resolve too

The member profile link is generated by bp_member_permalink() (which seems to be embedded everywhere a profile link exists) function found in bp-members-template.php and it references bp_core_get_user_domain found in bp-members-functions.php.

[2018-11-21 05:50] mandily-p commented on #517
I like the idea of this eventually moving to something the organizers and governing certification body can use to validate hours, but it would probably be best to do this in a multi-step process. Especially as the system of unique identifiers would need to be a project taken on by the governing body before we could do anything with it on the site.

1. **Track hours** - Allow learners to manually e

[2018-11-21 07:43] mandily-p commented on #549
@paulagaube Do you have any ideas on how we could do this? I can't even trigger this dropdown on the cert site right now to know if this is still a problem. What do you think?

[2018-11-21 17:18] kathreenriel commented on #557
@mandily-p this design would replace the current view found on https://earlyyearsbc.ca/events/ correct?
I also wonder how this would render on a phone. How about the Cost, Location Category being accordian components thus less text on one page

[2018-11-21 17:37] kathreenriel commented on #483
@brettjforsyth I just reviewed this on cert (https://eypd.bccampus.ca/) and it donut does not calculate the correct values and the statement at the top stays the same. Is this ready for validation?
<img width="845" alt="screen shot 2018-11-21 at 9 37 05 am" src="https://user-images.githubusercontent.com/16693738/48858777-1ab5a780-ed71-11e8-9db6-99b71e837ff7.png">

[2018-11-21 17:38] paulagaube commented on #549
@mandily-p This drop down list is taken from the "Locations" list, which is created when a new Event is added. So if someone enters a new location with a slightly different name of the location, it will appear twice in the list.

You can see this on the cert site by going to the home page, under the "Search for training events" in the top section, select the drop-down list under "City/Community/To

[2018-11-21 17:40] paulagaube commented on #549
Also, to find the locations on the back end, go to Dashboard > myEYPD > Locations

[2018-11-21 18:14] paulagaube commented on #549
@mandily-p to answer your original question about how to manage/correct these duplicate locations, :) right now we have to do this manually. In the past, I've found the duplication locations, marked them as "duplicate" and then searched for those and replaced the duplicate location with the singular location. Manual, painful.

[2018-11-21 18:53] kathreenriel commented on #549
@mandily-p @paulagaube there is something wrong with locations on cert. I tried posting an event and the autofill doesn't work for the location section on the post an event form.

[2018-11-21 19:02] kathreenriel commented on #483
@brettjforsyth oh...hold on the donut is working now.

[2018-11-21 19:32] kathreenriel opened #574 "Forum: Homepage revise favourite and delete"
The home page of the Forum has two options in the activity feed which are confusing for the user especially the delete function.

Take out the favourite and delete options. So that both Learners and Organizers cannot favourite or delete activities/announcements on this home page.

[Test Forum Link](https://earlyyearsbc.ca/groups/test-appetite-to-play/forum/)
<img width="792" alt="export and delete

[2018-11-21 19:49] kathreenriel opened #575 "Forum: Docs"
Currently, while logged in as an Organizer and at the [Test Forum ](https://earlyyearsbc.ca/groups/test-appetite-to-play/) When I click on Docs in the left vertical nav and then click on create a new doc I'm taken to an error page.

Make it possible for Organizers and Learners to upload documents to share in the forum.
<img width="499" alt="docs" src="https://user-images.githubusercontent.com/1669

[2018-11-21 19:52] kathreenriel opened #576 "Forum:"
### Description

[Description of the bug or feature]

**Expected behaviour**

[What you expect/want to happen]

**Actual behaviour**

[What actually happened]

### Steps to reproduce the problem

[First Step, Second Step, etc]

### System Information

- EYPD: [Enter Version here]
- WordPress: [Enter WP Version number here]

[2018-11-21 20:09] kathreenriel opened #577 "Forum: Revise left vertical nav bar"
Currently myEYPD in the left vertical navigation of the [forum page](https://earlyyearsbc.ca/groups/test-appetite-to-play/) takes the Organizer and Learner to the events page.

Take out the numbers beside myEYPD on the navigation and link myEYPD to the users myEYPD page.
<img width="521" alt="myeypd nav" src="https://user-images.githubusercontent.com/16693738/48866052-5018c000-ed86-11e8-8eca-56964

[2018-11-21 21:53] kathreenriel opened #578 "Forum: Friend Request sends email with broken link"
When an Organizer or a Learner clicks on Add Friend on the Members List (on cert EYPD this does not exist on Prod) the intended "Friend" receives an email with a link but the link is broken.

How do people interact as "Friends" when the Add Friend function works? Through email?

For the purpose of the Pilot in January I think we may wish just deactivate this "Add Friend" function.

<img width="582

[2018-11-22 05:05] bdolor commented on #362
It's much simpler and will resolve #578 and #575 - In the move to pare things to the bare minimum and respond to member pages not serving a business need at the time, much of the sidebar functionality was taken out a year and a half ago: https://github.com/BCcampus/eypd/pull/179

The `home.php` file as part of the buddypress template system in the parent theme calls these same functions — it displ

[2018-11-22 14:21] brettjforsyth commented on #362
@bdolor oh so sneaky

[2018-11-22 15:15] brettjforsyth commented on #362
@mandily-p I have reworked the profile pages. I left out a couple of fields (agree to terms and notifications). Agency/Institution is conditional on the profile being an organizer.
![screen shot 2018-11-22 at 10 13 17 am](https://user-images.githubusercontent.com/439832/48910978-6e8ec200-ee3f-11e8-8d2f-41f87d8d0486.png)

[2018-11-24 01:12] mandily-p commented on #557
Yes, these are recommendations to improve the current events page.

## Mobile
On a phone there would be a text label, "filter". When the user clicked on that, the whole screen would be the filters. Once selected, they could close the screen and see the filtered view of events. It would be similar to [this site](https://tommyjohn.com/collections/womens-underwear)

## Side filter bar
There's pros an

[2018-11-24 01:14] mandily-p commented on #517
👍

[2018-11-24 01:16] mandily-p opened #579 "BUG: Auto suggest does not work on the locations dropdown"
### Description

[Description of the bug or feature]

**Expected behaviour**

[What you expect/want to happen]

**Actual behaviour**

[What actually happened]

### Steps to reproduce the problem

[First Step, Second Step, etc]

### System Information

- EYPD: [Enter Version here]
- WordPress: [Enter WP Version number here]

[2018-11-24 02:20] mandily-p commented on #574
I don't have the right permission level to access buddypress forum settings. @kathreenriel are you able to give them to me?

[2018-11-26 00:03] kathreenriel commented on #577
Good idea. Revised direction for this issue - take out the myEYPD in the left vertical nav
<img width="235" alt="delete myeypd from vertical nav" src="https://user-images.githubusercontent.com/16693738/48986555-972aec00-f0cb-11e8-9b9c-7b0af3bfbb5b.png">

[2018-11-26 00:06] kathreenriel commented on #574
@mandily-p I have the same level of access as you. Maybe you need Keymaster?

[2018-11-26 00:11] kathreenriel commented on #579
Yes, will include in the Sprint. It's a mystery to me why this stopped working.

[2018-11-26 00:47] kathreenriel opened #580 "myEYPD Page: My Past Events Title"
My Past Events title is missing the colour and the triangle.

<img width="345" alt="missing triangle" src="https://user-images.githubusercontent.com/16693738/48987200-bc225d80-f0d1-11e8-8f70-cef063f3fd3f.png">

What it should look like
<img width="335" alt="screen shot 2018-11-25 at 4 47 23 pm" src="https://user-images.githubusercontent.com/16693738/48987211-d2301e00-f0d1-11e8-9475-c1c0b9f4f76c.pn

[2018-11-26 14:58] brettjforsyth commented on #483
@kathreen I will take a look. I didn't notice the blue box it isn't displaying the correct info so I will fix that.
There are two types of calculation going on here which is likely what is causing the non-whole number issue. There is an hours calculation that splits the hours evenly between the categories for the donut graph that was also being used for the summing of the hours for display in the

[2018-11-26 15:13] brettjforsyth commented on #483
@kathreenriel not sure how many decimal placers you want on the right or if they should even be there (@mandily-p you had them in the mock up but not sure if this issue trumps that)
![screen shot 2018-11-26 at 10 11 31 am](https://user-images.githubusercontent.com/439832/49022827-d1e06300-f163-11e8-838a-1d11d373460b.png)

[2018-11-26 17:35] mandily-p commented on #520
Notes from sprint planning: Will try to change the button behaviour to stay active until the end time of the event instead of the start. If that doesn't work, we'll change the messaging to the user.

[2018-11-26 18:41] bdolor commented on #574
requires discussion between peeps

[2018-11-26 18:46] bdolor commented on #570
requires a conversation about the text blob that are attributes

[2018-11-26 18:58] kathreenriel opened #583 "Profile Activity Feed"
Refine what the registered user sees about other member's site activity.

[2018-11-26 20:47] bdolor commented on #362
resolved via https://github.com/BCcampus/eypd/commit/f7f8cbd898dfcdf3461cec4c3a806e1a25dafe09

[2018-11-26 20:47] bdolor commented on #576
resolved via https://github.com/BCcampus/eypd/commit/f7f8cbd898dfcdf3461cec4c3a806e1a25dafe09

[2018-11-26 20:48] bdolor commented on #575
resolved via https://github.com/BCcampus/eypd/commit/f7f8cbd898dfcdf3461cec4c3a806e1a25dafe09

[2018-11-26 20:48] bdolor commented on #578
resolved via https://github.com/BCcampus/eypd/commit/f7f8cbd898dfcdf3461cec4c3a806e1a25dafe09

[2018-11-26 21:37] brettjforsyth opened #584 "Profile page formating"
### Description

Once enable the default profile page is poorly formated
**Expected behaviour**

The page should display user information in a more visually pleasing way and remove Agreement terms and Notifications

**Actual behaviour**
Returns everything as a key value pair

### Steps to reproduce the problem
got to members/[member name]/profile/
![screen shot 2018-11-26 at 4 32 56 pm](https://us

[2018-11-26 22:06] kathreenriel commented on #575
Logged in as a Forum Administrator under user name Bradner Family Place. I created folders for documents but when I go to create a doc for a folder I get an error message. Logged out and cannot create docs under my site admin kriel role either
<img width="517" alt="can t create doc" src="https://user-images.githubusercontent.com/16693738/49044950-38757900-f184-11e8-9203-bb245a13f0d9.png">

[2018-11-26 22:17] bdolor commented on #575
@kathreenriel - can you link to a page where I can see what you're seeing? I can't recreate this.

[2018-11-26 22:19] kathreenriel opened #585 "Forum Home Page: Change Delete title to hide"
Currently the delete function is inconsistent in its purpose. While on the Forum homepage when a user clicks on delete beside a topic or response it hides that connected content from the homepage feed but if a user clicks on delete beside their announcement the announcement is deleted.

Proposed Change:

1. Change the delete button to "hide" when it appears beside a topic or response on the forum

[2018-11-26 22:23] kathreenriel commented on #575
@bdolor here https://eypd.bccampus.ca/groups/community-of-practice-appetite-to-play/docs/
I'll send you the login and password in rocketchat

[2018-11-26 22:48] kathreenriel commented on #362
Currently, Learners and Organizers can now see all the activity of all other members on the site including their public conversations with other members. Also, non-registered users can view activities of all members if they type /members/*username* into the address bar which they could get in the headings of the posted events.

Limit what is viewed to all registered users and non registered users

[2018-11-26 23:18] paulagaube commented on #574
@mandily-p @kathreenriel Yes, we need Keymaster to administer the forums. I found this description online:
The keymaster role is not a default WordPress role, rather it is part of buddypress. Once you install buddypress the keymaster role is created and is to bbpress what the Administrator role is to WordPress. The keymaster controls the forums.
I scooted over to Brad's desk and he made me a Keyma

[2018-11-26 23:20] bdolor commented on #362
Let's move the new work noted here into a new ticket. The scope of work defined in this ticket has been addressed.

[2018-11-26 23:55] paulagaube commented on #349
@kathreenriel If we have some time left on this sprint... this issue would be a good one to revisit. :)

[2018-11-27 00:04] kathreenriel commented on #574
Okay thanks @paulagaube

[2018-11-27 00:07] kathreenriel commented on #362
Okay will create a separate issue for this

[2018-11-27 00:29] bdolor commented on #566
this is complete...will likely take a few minutes to propagate

[2018-11-27 15:50] brettjforsyth commented on #476
@kathreenriel @mandily-p At this point do we want all users who login to be redirect to myEYPD page. Is there any set plan on the big search button?

[2018-11-27 15:54] mandily-p commented on #585
Does the 1st button hide it just from the user that hides it, or everybody? It would be nice if we could either put that context in the button text or at least in a hoverable tooltip.

[2018-11-27 15:55] mandily-p opened #587 "Forum: Style emails with EYPD branding"
### Description

[Description of the bug or feature]

**Expected behaviour**

[What you expect/want to happen]

**Actual behaviour**

[What actually happened]

### Steps to reproduce the problem

[First Step, Second Step, etc]

### System Information

- EYPD: [Enter Version here]
- WordPress: [Enter WP Version number here]

[2018-11-27 15:58] mandily-p commented on #349
👍

[2018-11-27 16:03] mandily-p commented on #476
@kathreenriel We have the "find events" menu item. We don't need a second button.

@brettjforsyth Yes, ideally in the future organizers would be sent to their own dashboard type of page where they'd see all of their own posted events, but we don't have that at the moment so the myEYPD dashboard will work for them now too.

[2018-11-27 16:03] brettjforsyth commented on #476
@mandily-p perfect

[2018-11-27 16:33] mandily-p opened #588 "Dashboard for organizers"
The Organizers currently go to the same page as the learners, where they'll see a bunch of features that they don't need. I'd rather send them to their own type of dashboard where they can manage all of their existing events.

I think I've heard stories about some organizers posting a hundred events at a time, in which case, I think it would be valuable to give them the same kind of filtering opti

[2018-11-27 16:42] mandily-p commented on #466
@kathreenriel I agree that the homepage needs some work, but I don't think it's dependent on the navigation. Can I sway you to prioritize navigation right now?

Here's what I was thinking (only the nav is different, it's just within the home page to give it context):

**Non-signed in users**
![non-signed in users](https://user-images.githubusercontent.com/20425828/49096645-d23e3400-f21f-11e8-8287-

[2018-11-27 18:02] mandily-p commented on #523
WRT Wordpress plugins, it looks like [this is the best option](https://www.marcobeierer.com/wordpress-plugins/link-checker):
We can check for links manually through the WP interface for free, or upgrade to pro for 95 Euro a year so that we could enable email notifications. I'm not sure it's worth it.

The alternative (which I didn't know existed previous to this exploration) is to use a [free onli

[2018-11-27 18:03] mandily-p commented on #549
@paulagaube @kathreenriel I can do this if someone lets me know what your process is. Otherwise I'll leave it for one of you. Let me know :)

[2018-11-27 18:31] #476 closed

[2018-11-27 18:55] mandily-p commented on #536
@kathreenriel I'd still like to install this plugin on Matomo. Is there a process for that? or can I just go ahead and do it?

[2018-11-27 18:58] mandily-p commented on #566
Looks like there's something up with the css on the minus and plus size icons in the lower right.
![screen shot 2018-11-27 at 10 56 38 am](https://user-images.githubusercontent.com/20425828/49104655-56e67d80-f233-11e8-9842-94a16982c53c.png)

[2018-11-27 19:02] paulagaube commented on #501
@brettjforsyth The colour wheel does display when I have completed 50/40 certification hours, which is great, but I noticed two things, which may be addressed in other issues:
1. The colours are not consistent across all browsers (Windows 10 Firefox and Chrome are different than Edge, and also different than iPhone browsers Safari, Chrome and Firefox.) See image below.
2. Chrome and Firefox on Win

[2018-11-27 19:03] bdolor commented on #566
if the icon display is connected to the scope of work outlined in the ticket it can be addressed here, otherwise it may warrant opening up a new ticket.

[2018-11-27 19:03] paulagaube commented on #501
I am also going to add an event with an odd number of hours to see how the numbers render.

[2018-11-27 19:11] brettjforsyth commented on #501
@paulagaube hmm.. it looks like the chrome and firefox screen shots are running the old code from your cache. Can you try clearing your cache and testing again. The colors still aren't set in the admin so it will look a bit weird for the time being.

[2018-11-27 19:15] brettjforsyth commented on #552
This looks to have been resolved by #589
@paulagaube Can you confirm

[2018-11-27 19:38] mandily-p commented on #588
Related to #466 Unique nav links for each user type: non-logged in, learner, organizer
Related to #557 Adding filters to the event page

[2018-11-27 19:41] kathreenriel commented on #483
The numbers are missing from the center of the donut. Logged in as Olivia on Mac Chrome (cleared my cache)
<img width="576" alt="numbers in the center" src="https://user-images.githubusercontent.com/16693738/49106962-5f41b700-f239-11e8-998d-7aa419796c34.png">

[2018-11-27 20:02] brettjforsyth commented on #483
@kathreenriel hmmm....this is crhome and firefox for me. Something seems stuck somewhere.
![screen shot 2018-11-27 at 2 50 51 pm](https://user-images.githubusercontent.com/439832/49107522-ed2a9b80-f253-11e8-8ed5-828e7967eec0.png)
![screen shot 2018-11-27 at 2 58 35 pm](https://user-images.githubusercontent.com/439832/49107962-0122cd00-f255-11e8-84bc-2efd78401e51.png)

[2018-11-27 20:20] kkilbey commented on #120
The Registration Link field seems to hyperlink any text that is entered into it, whether the text constitutes a valid URL or not. I created an event called Sign Language for ECEs (https://eypd.bccampus.ca/events/sign-language-for-eces/) and used it to test five different registration links.

**1. Entered link:** bccampus.ca (without https://)
After saving the event, this link displayed as https://

[2018-11-27 20:30] mandily-p commented on #520
@kathreenriel Can you let us know what you would prefer here?

1. Persistent button all of the time
-So the user can add the event to their myEYPD page at any point.

[2018-11-27 20:38] paulagaube commented on #501
@brettjforsyth Right! Thanks. The multiple decimal points in Chrome and Firefox disappeared after I cleared my cache. The donut is consistently displaying even if certification hours exceeds 40.
@kathreenriel I believe this issue is DONE.

[2018-11-27 20:39] kathreenriel commented on #483
I see the hours now.

[2018-11-27 20:44] paulagaube commented on #483
Checked on Chrome, Firefox, and Edge on Win10 and Chrome and Firefox on iPhone, and this works as expected. Numbers are consistently appearing.

[2018-11-27 20:59] paulagaube commented on #476
@kathreenriel I have confirmed that login directs users to their myEYPD page.

[2018-11-27 21:08] paulagaube commented on #462
This looks good on my iPhone and browser windows.

[2018-11-27 21:57] paulagaube commented on #379
@mandily-p @kathreenriel @brettjforsyth
I took a stab at changing the colours in Admin > myEYPD > Event Categories
Chose HEX colors from a palette generated at: http://colorsafe.co/

Tested the colour display on various user profiles and the colours appear to be working properly in the donut. (Whether we want to tweak the colours is another matter. At least they are not mostly bright green and whi

[2018-11-27 22:43] bdolor commented on #579
resolved via https://github.com/BCcampus/eypd/commit/a2d4d62638d8ae02f751a674bd048328c65b85de

[2018-11-27 22:46] paulagaube commented on #548
@brettjforsyth @mandily-p I'm not sure how to test the unique URLs for categories. Could you provide some guidance please?

[2018-11-27 22:55] mandily-p commented on #585
Chatted with Kathreen. The hide button just hides the event from the user. Let's use the label "Hide from view"

[2018-11-27 23:00] mandily-p commented on #520
Caution users with a modal confirmation if the event has already finished, "This event has happened in the past, are you sure you want to add to your events" options include "cancel" and "save event"

[2018-11-27 23:06] mandily-p commented on #566
Good call. I assumed it was related. It's not. I will open up a new ticket.

[2018-11-27 23:06] mandily-p commented on #566
Otherwise, the maps are loading so this looks 👍 to me.

[2018-11-27 23:09] mandily-p commented on #580
Looks good to me 👍

[2018-11-27 23:12] mandily-p commented on #579
I can't access the post event page on cert to validate this. @paulagaube @kkilbey Are either of you able to see the post event page?

![screen shot 2018-11-27 at 3 11 10 pm](https://user-images.githubusercontent.com/20425828/49117790-d8033c00-f256-11e8-87a7-544195c05967.png)

[2018-11-27 23:14] mandily-p commented on #552
This works!  👍

[2018-11-27 23:17] paulagaube commented on #580
This works for me in Windows 10 and iPhone as well. Moving to Done column.

[2018-11-27 23:19] mandily-p commented on #362
Both links from the admin and from the myEYPD sidebar link to an activity page. Looks done to me. 👍

[2018-11-27 23:21] mandily-p commented on #578
I attempted to add both Olivia and Larry Learner as friends. Can whoever has access to those accounts validate that the email links work please? @paulagaube maybe?

[2018-11-27 23:29] bdolor commented on #579
this can also be validated in the dashboard...the page not showing is unrelated to the autocomplete feature.

[2018-11-27 23:35] mandily-p commented on #576
I can post images and videos https://eypd.bccampus.ca/groups/community-of-practice-appetite-to-play/forum/topic/this-is-a-dog/#post-4403

BUT I think the UX is wierd. At the very least I'd like to rename "source" to "url".

Ideally we'd also allow uploading of files, like the usual wp wysiwyg. But I understand if that's a lot of work for a short test run and dev doesn't want to do that.

[2018-11-27 23:41] mandily-p commented on #548
@paulagaube I just click on any event, and then click on the category in the breadcrumb to get to the url.

@brettjforsyth This looks way better, but we're missing the capacity column.
I'd also like to get cost in there, but I'll make another ticket for that.

[2018-11-27 23:47] mandily-p opened #592 "Add cost column to the events page"
### User story
As a learner,
I want to be able to see the cost of each event at a glance,
So I can decide if it's within my budget without needing to view the event details.

### Description
Add a cost column to the events page with a sort icon to allow users to sort events by low to high, or high to low cost.

[2018-11-27 23:48] kathreenriel commented on #520
@mandily-p My understanding is as you have described and we discussed changing the title of the button  from "Plan To Attend" to "Save to myEYPD"

[2018-11-27 23:51] mandily-p opened #593 "Google maps embed - button css is broken"
The +/- icons and dotted square "moveable" icon on the google map embed on the home page are not displaying properly. I'm not sure if this is an embed problem or a global google problem. It looks like a sprite sheet just isn't being cropped properly.

Current design
![screen shot 2018-11-27 at 3 49 27 pm](https://user-images.githubusercontent.com/20425828/49119192-31219e80-f25c-11e8-8f09-c9f2d249b

[2018-11-28 00:01] paulagaube commented on #578
@mandily-p Olivia and Larry are both Kathreen's accounts, so I can't validate those. I have Bradner Community Place Victoria, and on of my test learners is paulatest.

I was able to click a link to the forum in one of the forum notification emails and then was taken to the forum on the website, so that is a good sign. (That didn't happen before.)

[2018-11-28 00:02] kathreenriel commented on #483
Sweet! Yes, I can confirm chrome, Firefox, Safari, on my laptop and on my iphone all render the donut! Donuts all round!

[2018-11-28 00:03] kathreenriel commented on #501
Yes, done! Thanks Paula.

[2018-11-28 00:06] kathreenriel commented on #462
Confirmed but I have the same phone as you @paulagaube

[2018-11-28 00:07] kathreenriel commented on #379
Colour palette looks good to me too. @mandily-p your thoughts?

[2018-11-28 00:11] kathreenriel commented on #580
Works for me too on laptop and phone.

[2018-11-28 00:29] kathreenriel commented on #579
@mandily-p @kkilbey @paulagaube I just posted an event and the auto-suggest locations works.

[2018-11-28 00:35] kathreenriel commented on #552
Yes I confirm this works!

[2018-11-28 00:36] kathreenriel opened #594 "User Profiles: Visibility"
Currently, Learners and Organizers can now see all the activity of all other members on the site including their public conversations with other members. Also, non-registered users can view activities of all members if they type /members/username into the address bar which they could get in the headings of the posted events.

Limit what is viewed to all registered users and non registered users to

[2018-11-28 00:47] kathreenriel commented on #578
<img width="861" alt="screen shot 2018-11-27 at 4 45 37 pm" src="https://user-images.githubusercontent.com/16693738/49121056-f3c10f00-f263-11e8-8965-369f2c0f7b8e.png">

[2018-11-28 00:48] kathreenriel commented on #578
This friend request link works. @mandily-p as you mentioned it would be good to modify the styling of this.

[2018-11-28 00:49] kathreenriel commented on #576
@mandily-p Given that they have access to "Docs" we can create some support documentation that would show them how to also add images/videos/links from websites.

[2018-11-28 00:53] brettjforsyth commented on #520
@kathreenriel @mandily-p This page has a few default options that I would need to override to make this button show up all the time.
- Bookings not enable
- Available spaces 0
- event has started (which brings up the N/A message

Which of those needs to stay and what needs to go?

[2018-11-28 00:53] kathreenriel commented on #588
@mandily-p We don't want Organizers modifying past events as this would interfere with the records of past events that people have recorded as attended. But we could allow for Organizers to duplicate an event in this interface.

[2018-11-28 00:58] kathreenriel commented on #520
Stay:
Bookings not enable needs

Available spaces and event has started...I"m not sure the effects of leaving those out or in.

[2018-11-28 01:01] kathreenriel commented on #593
@mandily-p Thanks I saw this last week and forgot to include it in the Sprint

[2018-11-28 01:05] kathreenriel commented on #592
I really like this idea. We have encountered some challenges with applying filters to tables. Please documentation in #504

[2018-11-28 01:18] brettjforsyth commented on #520
The button will not be shown when its full booked
event started is what is causing the N/A leave blank currently which is actually just a settable label

[2018-11-28 14:56] brettjforsyth commented on #520
@kathreenriel @mandily-p I have reworked this page so that the button shows after an event starts and shows the modal popup. Let me know if there are any visual changes needed before I submit the pull.
![screen shot 2018-11-28 at 9 50 52 am](https://user-images.githubusercontent.com/439832/49159790-40076000-f2f3-11e8-847b-d769ee6a0a49.png)

[2018-11-28 14:57] brettjforsyth commented on #537
@bdolor Can we close this issue as we are going to put it in through the menus admin? Also should we capture that in the documents somewhere?

[2018-11-28 14:59] brettjforsyth commented on #548
Is capacity = availability
Here are the options we have:
#_AVAILABLESPACES
   Shows available spaces for the event.
#_BOOKEDSPACES
   Shows the amount of currently booked spaces for the event.
#_PENDINGSPACES
   Shows the amount of pending spaces for the event.
#_SPACES
   Shows the total spaces for the event.

[2018-11-28 15:05] brettjforsyth commented on #585
@kathreenriel @mandily-p can I get a screen shot and URL for this? I can't find a trash button

[2018-11-28 16:40] kathreenriel opened #595 "MyEYPD: My Upcoming Events - delete function"
The section My Upcoming Events is missing the trashcan/delete function on Cert. It currently exists on Prod.

Put back the trashcan so that users can delete Upcoming Events from their profile.

<img width="856" alt="upcoming events" src="https://user-images.githubusercontent.com/16693738/49166973-47297080-f2e9-11e8-8af1-f5e6e52fe4de.png">

[2018-11-28 17:59] kathreenriel commented on #585
https://eypd.bccampus.ca/groups/community-of-practice-appetite-to-play/
<img width="812" alt="hidefromview" src="https://user-images.githubusercontent.com/16693738/49171848-5366fb00-f2f4-11e8-8c51-0deb75d7f3e1.png">

<img width="815" alt="announcement delete" src="https://user-images.githubusercontent.com/16693738/49171826-4813cf80-f2f4-11e8-8109-f64efb86be86.png">

[2018-11-28 19:22] bdolor commented on #537
I agree, labelling it non-dev and keeping it open is appropriate.

[2018-11-28 19:55] bdolor commented on #523
The 500 URLs limit is going to be an immediate barrier and we'll soon find ourselves in a position where the pro option will seem less like an option. Locally I installed and ran [linkchecker](https://github.com/linkchecker/linkchecker) and put it against `earlyyearsbc.ca` for about 20 minutes before cancelling the operation prior to completion and it ran checks on 689 URLs.

While this is one of

[2018-11-28 21:12] mandily-p commented on #379
For reference I put the colours Paula chose into Illustrator so I could see them together as a whole.
![screen shot 2018-11-28 at 1 08 51 pm](https://user-images.githubusercontent.com/20425828/49182398-0e03f700-f30f-11e8-9952-869b14dac013.png)

I have two thoughts:
1. Some of these colours are too close to each other to be easily recognizable, and in some cases may even blend into each other in th

[2018-11-28 21:18] mandily-p commented on #379
@kathreenriel Can you validate that I've grouped these categories appropriately. Feel free to edit my comment here to straighten things out if needed.

Child growth and development
Child health and wellbeing
Middle years

Early care and education
Extra support
Family support
Kindergarten transitions

Administration and communication
Curriculum/program development
Professional networking
Profession

[2018-11-28 21:36] bdolor commented on #120
Thanks @kkilbey for such a thorough analysis. I've moved the validation routine to the input side via https://github.com/BCcampus/eypd/commit/468d006133862df544d1e49719497b794a0d5b4b which will generate an error if anything that is not a URL is detected.

![image](https://user-images.githubusercontent.com/2048170/49183742-7c968400-f312-11e8-87aa-d9e667604be4.png)

[2018-11-29 08:16] mandily-p commented on #520
Just curious - Did you ever find modals elsewhere on the site? I just had the thought that I'm not sure which pattern the site uses - Cancel first or second.

[2018-11-29 08:19] mandily-p commented on #585
I'm not sure how fontawesome works here, but here's two icons that you can use for hide and delete.

<img width="200" alt="screen shot 2018-11-29 at 12 18 59 am" src="https://user-images.githubusercontent.com/20425828/49208357-6e755180-f36c-11e8-8f80-7ed1b91800fd.png">
<img width="193" alt="screen shot 2018-11-29 at 12 19 12 am" src="https://user-images.githubusercontent.com/20425828/49208358-6e75

[2018-11-29 15:16] brettjforsyth commented on #379
@kathreenriel @mandily-p at this point can we start a new issue for the colors as this isn't a coding related task anymore?

[2018-11-29 16:23] kathreenriel commented on #379
@brettjforsyth I just added a non-dev tag to clarify

[2018-11-29 16:24] kathreenriel commented on #379
@mandily-p let's keep Online as a category so that users can search for just online events - for now.

[2018-11-29 18:31] mandily-p opened #597 "Make button styles consistent across the site"
There are various font sizes, button sizes and transitions on the buttons around the site. I'd like to take an inventory of them and make them consistent across the board.

This ticket holds space for both the inventory and also the css adjustments based on what exists. I'll provide a mockup to demonstrate what I'll be doing after the initial inventory work.

[2018-11-29 18:31] paulagaube commented on #549
Brad suggested we could copy the notification system currently being used on the BCcampus website to send a note to RocketChat (communications-notifications channel)  when something is changed/updated on the Earlyyears website. Issue to discuss with @kathreenriel

[2018-11-29 18:54] bdolor commented on #120
excellent @kkilbey - good sleuthing.

[2018-11-29 19:04] kathreenriel commented on #575
@bdolor I am able to add "Docs" to all the folders in the Forum now. Both as an Organizer and a Learner. Organizers and Learners have access to all folders to add and delete content. The pilot participants may want stricter constraints but let's keep it edit options open for now.

[2018-11-29 19:15] kathreenriel commented on #379
@mandily-p changed the order of some of the categories above

[2018-11-29 20:13] kathreenriel commented on #570
@bdolor @paulagaube and @kkilbey have discussed prioritizing all the text 'blobs' We're thinking we want to see it all and what it looks like in an export then determine how we can organize it and/or what we may need to do next to make sense of it all. Please proceed with the export as described above. Ready, aim, fire! and we'll deal...

[2018-11-29 20:47] bdolor commented on #120
resolved via https://github.com/BCcampus/eypd/commit/7ed4b842d3ddd0dbeb46bdff3cfd07b48542c51c

[2018-11-29 21:00] bdolor commented on #523
Depending on the requirements and where the need is coming from I would need to confirm that this is the right solution, or look for an alternate solution or drill down on some of the details or adjust the estimated time. If the scope of this is changing significantly, then we would want to bring this back into a discussion about how this fits in the current sprint.

If this is a one off, and the

[2018-11-29 22:23] paulagaube commented on #549
Success! On getting an email to send automatically to the Administrator email earlyyears@bccampus.ca when a new event is published on CERT.

The CERT site has default emails set up under: Dashboard > myEYPD > Settings > Emails > Event Submissions Templates

I configured the Administrator Email address first and then made sure there was an appropriate Subject line on the "Event Published" email. (T

[2018-11-29 22:40] paulagaube commented on #120
@bdolor I just tried to add an event without anything in the "Registration Link" field, and was unable to Post the event. I received the error message you showed above, which is: "Registration Link is not a valid URL".

Since this is not a "required" field, (i.e., there is no asterisk* after the text Registration Link and the text below says "if available"): I believe leaving this field empty must

[2018-11-29 22:43] bdolor commented on #120
that makes sense. boy, this is the ticket that just won't quit
¯\_(ツ)_/¯

[2018-11-29 23:11] bdolor commented on #120
resolved via https://github.com/BCcampus/eypd/commit/650e46e77b292be73d330dbb0f5ca785de5471ee

[2018-11-29 23:45] bdolor commented on #264
@kathreenriel - With a data creation mechanism in place, usually what follows is the desire for *updating/editing* that data, and/or *deleting* that data. As it currently is, once it's recorded there's no way for anyone to do anything but look at it. At first blush, I'm thinking this needs to be scoped out a bit more.

[2018-11-29 23:51] paulagaube commented on #120
Kelsey and I tested and this works for us now. Thanks, @bdolor

@kathreenriel I'm moving this to done, but you may want to check it too?

[2018-11-30 00:11] mandily-p commented on #549
@paulagaube How do I validate this? Can you post a link at where the list is located please?

[2018-11-30 00:21] kathreenriel commented on #482
@mandily-p and @kathreenriel discussed potential mockups and implications of changing the location of the donut. We need to conduct more user testing on donut as it appears now that several modifications have been made.  We agreed to narrow the scope of this issue.

Requesting that the vertical nav bar on the MyEYPD page be hidden from users as step one of a multi-step process for now.

myEYPD pag

[2018-11-30 00:22] mandily-p commented on #523
Ideally, I'm looking for a persistent, automated weekly check. I don't think the scope is changing significantly, there's just a low cost opportunity to reap benefit from this ticket across other properties.

The need is one I identified, but I don't think it's wise than an external contractor assume ownership of a permanent solution that covers multiple sites within the org - That's why I was ask

[2018-11-30 00:31] kathreenriel commented on #120
@paulagaube yes, I'll check it

[2018-11-30 00:32] bdolor commented on #523
issue is less about bandwidth and more about requirements...

[2018-11-30 00:32] kathreenriel commented on #549
@mandily-p I'll check/confirm  duplicate locations are gone

[2018-11-30 00:37] mandily-p opened #598 "Add delete and edit icon and functionality to the past events table"
Users may want to remove events they haven't attended so that their list isn't so cluttered. We can allow them to do this by including the same functionality as we do in the "upcoming events" section.
![screen shot 2018-11-30 at 9 40 32 am](https://user-images.githubusercontent.com/20425828/49305451-28131600-f484-11e8-9ca1-0d91df9d1e2d.png)

[2018-11-30 00:49] mandily-p commented on #592
Ah, I missed that this was a problem that could not be solved previously. At the very least, I'd like to add cost to the table, even if we can't add sorting right now. What do you think @kathreenriel? Should we revise this ticket to only include adding cost as a filter?

[2018-11-30 00:51] mandily-p commented on #588
Ooh! Good catch! I was just throwing everything on the page.

I agree - Past events don't need share or edit buttons. I wonder if they need anything else though? Maybe the number of people who said they were going to attend? What do you think?

[2018-11-30 01:04] mandily-p commented on #576
To simplify things, we could just edit the text in the title of the modal.

![screen shot 2018-11-29 at 4 58 55 pm](https://user-images.githubusercontent.com/20425828/49261690-1edc6780-f3f8-11e8-8185-4409da514fbf.png)

If you wanted to be super explicit, we could tell them exactly what they can't do too.
![screen shot 2018-11-29 at 4 58 55 pm](https://user-images.githubusercontent.com/20425828/492

[2018-11-30 16:52] paulagaube commented on #576
@mandily-p @kathreenriel  If we're going to add descriptive text on this modal, I would rather the message be spun in a positive way (what you can do) and not negative (what you cannot do). Perhaps we can think about the messaging on this one.
And I'm curious if there is documentation on the Forum we need to read to clarify some of its features. I'm not up to speed on the Forum yet.

[2018-11-30 19:22] bdolor commented on #327
the plugin already exports:

- First Name
- Last Name
- Nickname
- Email
- User Role
- Registration Date

so really, the work for this ticket is to add:

- Last Activity
- Certificate Expiry
- Location/City
- Place of Work

[2018-11-30 23:52] kathreenriel commented on #549
I found these

11907 228th St - Maple Ridge
11907 228th Street - Maple RIdge (capital I  and Street spelled out)

[2018-12-01 00:00] paulagaube commented on #520
@brettjforsyth @kathreenriel FYI, I just created a new event as an Organizer on CERT and inadvertently entered a date for the event that was in the past (January 2018). Since I couldn't see the event anymore as the Organizer (I can't see past events that I haven't planned to attend), I went in as an Administrator and changed the event's dates to 2019, as I had originally intended. Here is the even

[2018-12-01 00:16] kathreenriel commented on #549
2020 Massey Dr - Prince George
2020 Massey Drive - Prince George

2020   Massey Dr - Prince George
--
2020 Massey Drive - Prince   George

[2018-12-01 00:18] kathreenriel commented on #549
@kkilbey would you fix the Maple Ridge and Prince George locations?

[2018-12-01 00:20] kathreenriel commented on #595
Looks good

[2018-12-02 07:20] mandily-p commented on #379
@kathreenriel If you're ok with this colour palette, I'll go ahead and populate in Wordpress. I've attached a pdf that includes all variations of colour-blindness. [color-blind-palette.pdf](https://github.com/BCcampus/eypd/files/2636726/color-blind-palette.pdf)

[2018-12-03 17:17] kathreenriel commented on #528
Stay tuned for most recent mock-ups for the Sign up and profile page.

[2018-12-03 17:53] mandily-p commented on #523
@kathreenriel @paulagaube Who's the best person to email the list of broken links? (They would need to contact organizers if the links belonged to them.)

[2018-12-03 19:12] mandily-p commented on #264
Blocked by #598 - Add delete and edit functionality into the past events table.

[2018-12-03 21:21] kathreenriel commented on #327
@bdolor I reviewed the user export function on cert and the export function on prod and they are different both in how they are used and the data they render.  I will edit this issue at the top with the export feature as it appears on prod.

[2018-12-03 21:34] kathreenriel commented on #523
@mandily-p @bdolor see revisions in the description at the top of the page

[2018-12-03 23:11] kkilbey commented on #549
@kathreenriel Those locations are now fixed!

[2018-12-03 23:15] paulagaube commented on #523
@mandily-p @kathreenriel I would say email the list of broken links to earlyyears@bccampus.ca.

[2018-12-04 00:18] mandily-p opened #602 "Persistent messaging"
## User story
As a site owner,
I want to remind learners and organizers to fill out their profile
So that I can track who's signing up for our services.

As a site owner,
I want to remind learners to fill in their certification date,
So that we can set them up to use the site features as best as we can.

As a UX designer,
I want to provide a persistent messaging solution for site owners to communi

[2018-12-04 16:32] mandily-p commented on #379
How about this @kathreenriel ?

<img width="736" alt="screen shot 2018-12-04 at 8 30 46 am" src="https://user-images.githubusercontent.com/20425828/49457103-19d43b00-f79f-11e8-969e-3318e16338e0.png">

[2018-12-04 16:38] kathreenriel commented on #379
@mandily-p It looks good - Admittedly I'm not sure until I see it in the donut @paulagaube your thoughts?

[2018-12-04 16:52] paulagaube commented on #379
@mandily-p @kathreenriel The latest palette looks good to me, too. Amanda, could you add the HEX values next to the colour palette so that we have a record of that for future? That will make it easier to update WordPress as well.

[2018-12-04 20:10] paulagaube commented on #549
This issue is done on Prod for now. Look in the Search section, on the drop down "City/Community/Town" list. We have cleaned up the duplicate Town names as they exist today. (Note that someone can still create a new event and location that will get added to this dynamic drop-down list as a new Town).

There are two Town names on the list we may want to discuss later: "N/A" (used for Online courses

[2018-12-04 21:09] bdolor commented on #327
I think I have all that I need.

[2018-12-04 21:19] paulagaube commented on #537
@brettjforsyth This Facebook "f" looks good in the footer. Tested on my iPhone and in Windows browsers.

As this link is going to an external site, is it possible to also add a  **add target="_blank" ** (or similar), so when clicked, a new window/tab is opened)?

[2018-12-04 21:52] mandily-p commented on #379
<img width="490" alt="screen shot 2018-12-04 at 1 50 57 pm" src="https://user-images.githubusercontent.com/20425828/49475346-d47a3280-f7cb-11e8-84cf-bf4fbb6ff4c8.png">

[2018-12-04 22:04] bdolor opened #604 "tooltip regression"
### Description

A regression in the tooltip behaviour has been introduced recently

**Expected behaviour**

Links in the tooltip area should bring unauthenticated users to the appropriate page.

**Actual behaviour**

When unauthenticated, hovering over any of the main menu items triggers the tooltip functionality. Clinking on the menu items to generate the tooltip works, and hovering over the lin

[2018-12-04 22:10] mandily-p commented on #379
From my account on cert.

@kathreenriel Should we look at ordering categories in their genres as I did in the mock or are we ok with the order of them now?
<img width="744" alt="screen shot 2018-12-04 at 2 08 19 pm" src="https://user-images.githubusercontent.com/20425828/49476224-3b98e680-f7ce-11e8-804f-0c477935d8c5.png">

[2018-12-04 22:30] mandily-p commented on #379
The order of the colours in the donut should be the same order in the legend. @brettjforsyth Can you tell us where we can edit these please?

[2018-12-04 22:45] kathreenriel commented on #523
@bdolor Worked with @mandily-p to refine the requirements and reasoning about this ticket. Putting it back in the Sprint backlog to discuss with you when you can

[2018-12-04 23:00] kathreenriel commented on #379
Yes it would be ideal if the colours in the legend were in order with the colours as they are represented in the donut.
<img width="616" alt="screen shot 2018-12-04 at 2 55 47 pm" src="https://user-images.githubusercontent.com/16693738/49478659-3e4b0a00-f7d5-11e8-9794-f9848d0fbda7.png">

[2018-12-04 23:02] kathreenriel commented on #379
@mandily-p does the colour scheme order in the graphic above reflect your idea of how the colours should render in the legend?

[2018-12-04 23:51] kathreenriel commented on #520
Tested this issue and found the following items to be corrected:

When a registered user (Organizer or Learner) opens an Event Description page and clicks on SavetomyEYPD a message appears that says, "Please Wait While The Booking Is Being Submitted" the message never disappears until the user clicks on "Save"
![bookings](https://user-images.githubusercontent.com/16693738/49480659-6a1dbe00-f7dc-11

[2018-12-05 00:14] kathreenriel commented on #537
@brettjforsyth Yes, It would be good to have this open in a new tab/window

[2018-12-05 05:45] mandily-p opened #605 "Update github issue template"
### Description
To me (Amanda), the current issue template seems to be more suited for bugs than features. I'd like to add another section for feature requests. I don't have access to do this myself, so thought I'd make a new ticket so that we could have a bit of a conversation before changing the settings.

### User story
As a _[user type]_
I want _[thing you want]_
Because _[the reason you want

[2018-12-05 07:13] mandily-p opened #606 "Email notification: Remind users to complete their profile"
### User story
As a site owner,
I want to remind users to complete their profiles and fill in their certification expiry date
Because I want them to benefit from all features of the website, and I need that data to report back to the ministry.

### Summary
While another issue exists to prompt users _within_ the site to update their profiles and certification expiry dates, we also need another way

[2018-12-05 07:20] mandily-p opened #607 "Promote benefits of sign up to non-logged in users"
### User story
As a site owner
I want to market the benefits of signing up for an EYPD account to non-account holders
So that we can increase the number of people using the site, and help those people manage their PD more effectively than they are without the use of the site.

### Summary
Create a marketing-esque component that can be used on non-logged in areas of the site to promote the benefits

[2018-12-05 07:49] mandily-p opened #608 "Modal sign up form"
### User story
As a UX designer and site owner
I want to minimize the amount of information we need from a user to create an account
So that we can reduce the barrier to signing up, reduce the bounce rate on the signup page and increase new account creation.

### Summary
The current signup page is very busy both in the amount of information that is asked, and in the way it is organized on the page

[2018-12-05 08:02] mandily-p opened #609 "Revised profile page"
### User story
As a UX designer and site owner
I want to collect profile information from a user _after_ they sign up
So that we can reduce the barrier to signing up, reduce the bounce rate on the signup page, increase new account creation, and still collect the data we need to report back to the ministry

### Summary
The current signup page is very busy both in the amount of information that is a

[2018-12-05 08:09] mandily-p commented on #528
I broke this up into multiple issues. @kathreenriel and @bdolor Can you review these and make sure we have enough information please? We'll also need to chat about whether we want to through these new issues into this sprint or leave them until later - or a combination of the two. As long as the information contained in this ticket is covered in the others, I think it might be best to close this o

[2018-12-05 08:20] mandily-p opened #610 "Login flow"
### User story
As a site owner
I want to ensure that we collect all user's profile information after they've signed up
So that we can collect the data we need to report back to the ministry.

### Summary
If a user hasn't completed their profile page, when they sign in, they should be redirected to the profile page with a message to complete it (Persistent messaging system)

### Acceptance criteria

[2018-12-05 15:18] brettjforsyth commented on #520
@kathreenriel
1) This seems to be functionality that has always been there. It is a JS alert message. We can remove it all together but not close it automatically.
2) Is this an issue or just needed clarity?
3) I am not sure what the issue is here? different style than expected?

[2018-12-05 15:21] brettjforsyth commented on #537
I have added this in (see https://support.vamtam.com/support/solutions/articles/202348-how-to-add-a-target-blank-on-a-wordpress-menu-item-or-other-elements for details on how to do this in the future).
@kathreenriel @bdolor Point of clarification: How will this be migrated to PROD since its added through the admin?

[2018-12-05 15:35] brettjforsyth commented on #604
@bdolor I can recreate on CERT but not my local. Are you seeing it on your local? I noticed some double quotes were missing so I have added them in there. Not seeing any JS issues.

[2018-12-05 16:23] kathreenriel commented on #520
@brettjforsyth
1. Re: bookings I looked through the bookings settings to disable the message but couldn't see the option to remove it. Yes, I think the message should be removed.
2. Re past dates and edits: I think this needs to be fixed. @paulagaube would like Organizers to see past events eventually so if an Organizer edits an event that includes a past date to a future date this message will ap

[2018-12-05 18:41] brettjforsyth commented on #520
@kathreenriel can you check in the bookings/Registration section what the "Booking cut-off date" is set to for your events

[2018-12-05 19:32] brettjforsyth opened #611 "Custom sort order for event categories"
### User Story
As a site admin I want to be able to sort the event categories

### Summary

Currently the "Event Categories" found under the myEYPD section of the dashboard are not sortable. This sort order is also to affect the display of the donut and donut legend on a users myEYPD page. This issue has emerged from conversation in #379

**Expected behaviour**

Would like a mechanism, preferably

[2018-12-05 19:41] brettjforsyth opened #612 "Remove JS alert from "Save to myEYPD" button"
### User story

As a user I don't need to see an alert confirmation when clicking on "Save to myEYPD" as there is already a visual loading icon and status message presented when saving events.

### Description

Currently when you click on the the "Save to myEYPD" button for future events you trigger a JS alert that is redundant. This is found in bookingsform.js on line 13. We currently don't own t

[2018-12-05 19:49] brettjforsyth commented on #520
@kathreenriel
1) I have created a new ticket to address this
2) I believe will be resolved with my above comment and is not a coding related issues.
3) @mandily-p create #597 which I think is the best place to capture all the work related to buttons

If this is all agreed upon I would like to move this back to validating.

[2018-12-06 05:37] mandily-p commented on #587
I was able to update the colour palette on cert through the admin config options, but I can't add the logo there.
<img width="804" alt="screen shot 2018-12-05 at 9 22 38 pm" src="https://user-images.githubusercontent.com/20425828/49563724-d7614a00-f8d5-11e8-9f7e-de44c102ed1a.png">

I dug around a bit and found a couple of options, and was hoping for some input from @bdolor or @brettjforsyth before

[2018-12-06 16:32] brettjforsyth commented on #379
@kathreenriel I would like to move this to validating or done as the original ticket discusses adding the colors to the donut. I have captured this new work (after discussing with @bdolor) in a new issue.

[2018-12-06 16:35] brettjforsyth commented on #587
@mandily-p @bdolor I think if we are being mindful of creating something that can be packaged up for others the plugin might make sense here.

[2018-12-06 16:40] bdolor commented on #327
complete via https://github.com/BCcampus/eypd/commit/cdb5fc60e5c335e2cee65d82aa33cb8269250c43 and commits/work done on https://github.com/BCcampus/excel-export/commits/dev

[2018-12-06 16:53] bdolor commented on #587
I can see room for improvement on gathering requirements and investigating implementation options prior to estimating and committing to the work. I'll note that the plugin hasn't been updated in three years and doesn't show signs of being actively maintained. It might hold the promise of fixing this issue immediately, which needs to weighed against the technical debt we would be incurring in the l

[2018-12-06 16:56] brettjforsyth commented on #587
@bdolor all really good points. One thing that I would love some more clarity on is how much emphasis should be placed on making things easy to maintain from the admin?

[2018-12-06 17:22] kathreenriel commented on #523
Kathreen to investigate the email options from Matomo about broken links a weekly report.

[2018-12-06 17:40] mandily-p commented on #536
An investigation of goals and campaigns needs to be investigated prior to making a decision on this. If our requirements aren't met, @Kathreen will follow up with George.

[2018-12-06 18:34] kkilbey commented on #537
The Facebook icon looks good to me, and the link opened in a new tab each time. Checked on Chrome, Firefox, Edge, and Safari (iPhone 6).

[2018-12-06 19:11] bdolor commented on #594
re-opening automated closure...ready for validation via https://github.com/BCcampus/eypd/pull/601

[2018-12-06 19:37] kathreenriel commented on #379
@paulagaube Extra Support and Special Needs mean the same thing I think we should remove rename extra support to special needs on cert

[2018-12-06 19:44] bdolor commented on #482
reopening automated closure...resolved via https://github.com/BCcampus/eypd/pull/600

[2018-12-06 20:03] bdolor commented on #593
google maps doesn't render well on my local, but it looks like this corrected one and introduced another:
![image](https://user-images.githubusercontent.com/2048170/49608904-d7516080-f94e-11e8-8b01-505d501063bc.png)

will move back to doing - ok with you @brettjforsyth ?

[2018-12-06 20:10] bdolor commented on #593
resolved via https://github.com/BCcampus/eypd/pull/614#pullrequestreview-182425720

[2018-12-06 20:12] paulagaube commented on #379
@kathreenriel I have renamed Extra Support on CERT and now the categories match on CERT and PROD.

[2018-12-06 20:17] kathreenriel commented on #520
Validated this issue in its original form at the top : N/A leave blank in place of "Place To Attend"  appears when events that began in the past and span to a date in the future

Tested this on Chrome macbook. Added two events as an organizer that span a range of dates that start in the past and end in the future.

SavetomyEYPD button appears and when clicked on expected message appears "This even

[2018-12-06 20:17] #520 closed

[2018-12-06 20:20] paulagaube commented on #520
@kathreenriel I have a couple questions about this issue that I have come across while validating. Can we discuss after lunch? I need a break.

[2018-12-06 20:22] kathreenriel commented on #520
Sure I'm on Skype let's chat when your ready

[2018-12-06 20:36] kathreenriel commented on #327
Checked the export function and based on what I see it exports the following
√User Name
√User Role (Roles)
√City/Town (from the extended profile)
√ Registration Date
√Last Activity (Last Active Date)
√Place of Work
√ Certificate Expiry (from the user's myEYPD page)

No longer exports as it did originally:
First Name
Last Name
Email

And still meets the needs of the user story as described above to

[2018-12-06 20:40] mandily-p commented on #605
Noted from December 6th standup - Brad would like to see us limit user roles to learner, organizer, and site admin with the ministry, data analyst, project manager etc all being grouped into the the site admin role and UX stories being from the perspective of one of the respective roles instead of independently.

[2018-12-06 20:53] mandily-p opened #615 "Add EYPD logo to BuddyPress email template"
### User story
As a learner or organizer
I want to see what organization sent me this email
So that I can trust the content that is contained within it.

### Summary
A logo in the email header would allow users to know at a glance who the email is from and would also aid in establishing brand recognition.

### Acceptance criteria
- Logo appears in the email header of the BuddyPress email template.

[2018-12-06 20:58] kathreenriel commented on #482
I checked this on Chrome, Firefox and Safari on my Mac. It looks good (blue box at the top is wider)
@paulagaube @kkilbey Would you check this on I.E. and on your phones.

[2018-12-06 21:07] kkilbey commented on #482
@kathreenriel this looks good for me on Edge and mobile (iPhone 6). I'm afraid I don't have I.E., so I'll leave that for @paulagaube to check :)

[2018-12-06 21:17] bdolor commented on #327
@kathreenriel - it does export Email...First Name and Last Name are fields that don't exist. Perhaps they did in the BP extended field area, but I see that was amalgamated into one field 'First and Last Name'. In discussions with Paula, display name was settled upon and confirmed it would meet her needs.

[2018-12-06 21:35] paulagaube commented on #482
Tested the myEYPD page Edge and IE as a Learner and Organizer. The left navigation bar is not there, as expected.

Tip I learned: If you are using Windows 10 / Edge, click the three dots on the upper right to reveal the drop-down menu. One option is to "Open with Internet Explorer". If you click that option, IE 11 opens. I needed to log in again because this is a new browser. :)

[2018-12-06 23:19] paulagaube commented on #482
@kathreenriel  This also looks good on my iPhone and iPad. Moving to done.

[2018-12-07 00:08] paulagaube commented on #529
@kathreenriel @mandily-p The "Sector" drop-down list was only added to the sign up page of the PROD site, so I added this to CERT site so they match.

[2018-12-07 16:55] kkilbey opened #616 "myEYPD: Donut displaying hours disproportionately"
### Description

On the myEYPD page, the Event Summary donut is not displaying certificate hours accurately. The number of certificate hours attributed to an event in the My Past Events table does not align with the way those hours are distributed by category in the donut.

The images below show this issue in my myEYPD page (logged in as organizer). The top three categories beside the donut are as

[2018-12-07 17:43] brettjforsyth commented on #616
The issue should be resolved now but I am seeing some rounding errors. If we went to 2 decimals this would get reduced.
This example totals correctly
![screen shot 2018-12-07 at 12 35 13 pm](https://user-images.githubusercontent.com/439832/49663670-5dd47380-fa1d-11e8-8549-dfcd39c48b4c.png)

This one is up .2 on the legend
![screen shot 2018-12-07 at 12 36 45 pm](https://user-images.githubuserconte

[2018-12-07 18:18] kathreenriel commented on #616
@mandily-p what's your thinking about 2 decimal places in terms of visual clarity for the user?

[2018-12-07 18:20] kathreenriel commented on #593
Checked this on Safari, Chrome and Firefox for laptop Mac all work as expected. @paulagaube would you please check on the PC especially on I.E.

[2018-12-07 20:24] paulagaube commented on #593
@kathreenriel Checked on PC, looks good. Had to clear the cache on Firefox and Chrome to see the update. Edge and IE 11 look good.
Check on iPad - Safari and Firefox both look good.
Moving to DONE.

[2018-12-07 21:55] kathreenriel commented on #327
@paulagaube let me know if/when you wish to talk about this issue.

[2018-12-07 22:59] paulagaube commented on #594
@kathreenriel This is done.
Validated this issue by testing this URL: https://eypd.bccampus.ca/members/fakeuser/
Not Logged in - Fakeuser's name shows at the top middle of the page, but no other content shows except the Forum links on the left nav bar (I believe the forum is currently set to Public viewing)
Logged in as User - same as not logged in
Logged in as Organizer - same as not logged in
Lo

[2018-12-07 23:06] kathreenriel commented on #594
Thank you @paulagaube

[2018-12-07 23:07] paulagaube commented on #587
@mandily-p could you document where you made this colour change please?
Dashboard > ...?

[2018-12-07 23:31] paulagaube commented on #350
Tidying up. This issue is done and I will close. We are currently using the Arconix FAQ plugin.

[2018-12-07 23:31] #350 closed

[2018-12-07 23:45] kathreenriel commented on #616
@brettjforsyth please leave as one decimal point.

[2018-12-07 23:46] mandily-p commented on #616
Just to play devil's advocate, we could do a bit more complex math like what's detailed in this article :) https://revs.runtime-revolution.com/getting-100-with-rounded-percentages-273ffa70252b

[2018-12-10 22:59] kkilbey commented on #120
This looks good on prod.
Perhaps in a future sprint, these registration links could be set to open in a new tab? But in regards to this ticket: mission accomplished.

[2018-12-10 23:11] paulagaube commented on #379
I am updating the colours on PROD to match CERT.

[2018-12-10 23:12] kkilbey commented on #552
This works for me on prod.

[2018-12-10 23:20] kkilbey commented on #476
This worked for me on prod.

[2018-12-10 23:34] paulagaube commented on #379
This is DONE

[2018-12-10 23:53] kkilbey commented on #579
Auto-suggest menu works for locations on the Post an Event page on prod. However, it does not work for the location field in the Sign Up page on either cert or prod (part of original ticket description).

[2018-12-11 00:11] bdolor commented on #579
The location field on the sign up page has never had auto-complete...

[2018-12-11 00:15] bdolor commented on #327
@paulagaube - thanks for the feedback and the discovery of a bug...I would like to suggest grabbing what you have and putting it in a bug ticket.

[2018-12-11 00:22] kkilbey commented on #579
@bdolor Ah, so disregard Steps to Reproduce the Problem - Version 1 (above)? If so, this is done on prod!

[2018-12-11 00:51] kathreenriel commented on #379
@paulagaube Thank you

[2018-12-11 01:02] kathreenriel commented on #501
checked this under Olivia's username this is works as expected.

[2018-12-11 01:04] kathreenriel commented on #483
works on Prod.

[2018-12-11 01:06] mandily-p opened #618 "Open external links in a new tab"
** User story
As a site visitor,
I want to open links external to the eypd site in a new tab, and know that behaviour will occur, before clicking on it,
So that I know what to expect and won't accidentally close my EYPD tab when I'm done with the external content.

** Acceptance criteria
- External link icon is on the right side of each external link
- External link icon does not wrap to a new lin

[2018-12-11 01:08] kathreenriel commented on #594
This works as expected.

[2018-12-11 16:58] paulagaube commented on #327
@bdolor Is the "bug" you mention the wrong label on the two columns of the exported data?

[2018-12-11 17:18] bdolor commented on #327
well, I can say for sure it's not a feature :wink:

[2018-12-18 18:58] kathreenriel opened #620 "Cert. vs Prod.: Doc "create one" not working on Prod."
As a forum moderator and participant I wish to load documents in to the Docs section of the Forum to share/link resources in discussions.

The "create one" link goes to a 404 page on Prod. The "create one" link on Cert. goes to a "New Doc" page for the user to describe the doc and multiple attachments if necessary.

**Expected behaviour**

- Click on Docs in the Forum
- Create and entitle a folder

[2018-12-18 19:10] bdolor commented on #620
@kathreenriel I've copied some template files over from buddypress into the child theme on prod. Can you try this again and let me know if that fixed it?

[2018-12-18 19:12] kathreenriel opened #621 "Forum: remove myEYPD link"
### Description
As an Organizer and a Learner I would like to view myEYPD page from the Forum left navigation bar to minimize scrolling to the top right hand corner to access myEYPD.

**Expected behaviour**
- Go to https://earlyyearsbc.ca/groups/appetite-to-play/
- Click on myEYPD on the left vertical navigation.
- MyEYPD page opens

**Actual behaviour**

When a moderator or participant clicks on

[2018-12-18 19:40] kathreenriel opened #622 "Forum: Number beside myEYPD link"
### Description

Currently there is a number beside the myEYPD link in the left vertical nav bar on the Forum page. This number is a little confusing. The number is currently "0".  What does this represent? The number of training events the user has attended? The number of training events plans to attend? The number of training events on the site?

**Expected behaviour**
I'm not sure what the best

[2018-12-21 19:27] #120 closed, assigned to nobody

[2018-12-21 19:29] #287 closed, assigned to alex-418

[2018-12-21 19:41] #533 closed

[2018-12-21 19:41] #534 closed

[2018-12-21 19:41] #556 closed

[2018-12-21 20:39] bdolor opened #624 "user professional interest preferences mapped to email notification system"
### Description

map user preferences to event categories in the notification system

**Expected behaviour**

when a user expresses certain preferences for professional interest categories we would like to be able to present events that reflect those preferences.

- would like to reduce the redundancy of content in emails via delivering recently posted events
- would potentially like to see both r

[2018-12-21 20:49] #406 closed

[2018-12-21 20:49] #443 closed

[2018-12-21 20:49] #495 closed

[2019-01-03 01:22] mandily-p opened #625 "Collect user data in a survey at the end of their visit"
**User Story**
As a member of the team who manage and make decisions about the EYPD site,
I want to know what actual users think about their experience on the site,
So that we can make improvements for them.

**Summary**
I'd like to collect free form data and maybe a few answers to specific questions from users in the context of them using the site. We can use this data to prioritize and even crea

[2019-01-07 22:45] kathreenriel commented on #536
Understanding how to use the Goals functionality within Matomo is the direction of this ticket.

[2019-01-08 17:17] bdolor opened #626 "Export Users label order"
### Description

A bug was introduced in the custom-wp-notify plugin

**Expected behaviour**

when exporting user data, csv headers need to match the data in the column

**Actual behaviour**

two of the labels are in the wrong order

### Steps to reproduce the problem

export the users and look to the last two columns.

[2019-01-09 22:51] kathreenriel opened #629 "Forum: Formatting bug"
Logged in as an Organizer in the Moderator role and posting a topic or response in a Forum. The formatting options appear in the published display of the text. This **does not happen** when I'm logged in as Admin.  See example here:
https://earlyyearsbc.ca/groups/appetite-to-play/forum/topic/this-is-a-test/

<img width="834" alt="screen shot 2019-01-09 at 2 43 17 pm" src="https://user-images.githu

[2019-01-10 00:09] bdolor commented on #629
I suspect this is left over from adding images to the post an event page.
https://github.com/BCcampus/eypd/issues/191

Editors are restricted from posting unfiltered_html via:
https://github.com/BCcampus/eypd/blob/dev/functions.php#L1482

[2019-01-10 01:07] alex-418 commented on #626
Completed via https://github.com/BCcampus/eypd/commit/094b0cd71b16425c1d262e35f618827f4f7c8f60

Additionally updated the Readme with clarification/instructions on when/how BP extended profile data is exported https://github.com/BCcampus/excel-export/pull/27

[2019-01-10 17:34] mandily-p opened #630 "Style forum buttons for consistency with the rest of the site"
### Description
A while back we styled the site buttons so that they were consistent throughout. When we added the forum there were new button styles that are more specific than the site-wide ones. I'd like to make these buttons look like the rest of the site as per #419

**Expected behaviour**
Button should look like a button consistent with the rest of the site.
See styling notes in #419

**Actu

[2019-01-10 17:45] mandily-p opened #631 "Table header text should be dark for optimal contrast"
### Description
The table header row text in the forum is displaying very light text in all but the last column.

**Expected behaviour**
The table header row text should be the dark/black colour we use for text so that it's easiest to read.
The "tags" column is the correct colour of text. Please use this same value for the rest of the table head.

**Actual behaviour**
There are two different style

[2019-01-10 19:09] alex-418 commented on #604
@bdolor tested this on both trellis/non-trellis local devs, I couldn't replicate the issue with the links, they work as expected for me with these changes.

[2019-01-10 19:13] bdolor commented on #604
let's see how it looks on cert then.

[2019-01-10 19:33] alex-418 commented on #604
Looks okay to me on cert

[2019-01-10 20:03] bdolor commented on #604
It still does not work on cert.

[2019-01-10 20:44] kathreenriel commented on #629
Yes Learners and Editors will need the ability to adjust formatting. I discovered during this morning's training that even if this is restricted to Admin when an Editor clicks on "Edit" to just change the content of the post, the html code appears beside all the styling in the post that was originally formatted by Admin at an earlier time. Makes for a messy appearance.

[2019-01-10 20:44] alex-418 commented on #604
Could @kathreenriel or @paulagaube please also test this on cert? Do the tooltip links bring you guys to the appropriate pages?

[2019-01-10 21:03] kathreenriel commented on #604
On Mac Safari: None of the tool tip bubbles appear

On Mac Firefox: All the tool tips work

On Mac Chrome:Under Post An Event: The Login or Sign Up links  but do not link to their respective pages for unauthenticated users.

[2019-01-10 21:09] kathreenriel commented on #629
@alex-418 I was asked to create a couple of short videos for posting and reply in the forum. I'll wait until this bug is fixed before creating the videos.

[2019-01-10 21:12] alex-418 commented on #604
Thanks @kathreenriel I'm also on a Mac and works great on both Chrome and FF for me, however Safari is the same results as you.

[2019-01-10 22:22] paulagaube commented on #604
@alex-418 I tried on PC / MS Edge browser and after clicking "Post an Event" and "Edit Event", the links to login and sign up work. The links on the "myEYPD" menu item DON'T work on Edge.

Tested on IE and the links DO work, but it looks like I had to click the myEYPD links twice before it would go to the login or sign up screen. I did clear my cache first.

[2019-01-10 22:56] alex-418 commented on #629
@kathreenriel after reading the bbPress docs (the forum software buddypress uses) it revealed that the Visual editor is defaulted to off! I've added the necessary filter to toggle it back on, and that should fix this issue for you. There should be no need to allow unfiltered html (yay!)

Once #633 is merged please let me know if that solves the problem to your satisfaction.

[2019-01-10 23:20] paulagaube commented on #626
@alex-418 @kathreenriel
Tested and can confirm that the "Name of your place of Work" and "City/Town" column labels are now on the appropriate column heading.

1. Dashboard > Tools > Excel Export > Export Users
2. Click checkbox "Include personally identifiable information in export"
3. Click button "Export Users"
4. Excel spreadsheet is downloaded: "Users.xlsx"

There may be other refinements we w

[2019-01-10 23:54] kathreenriel commented on #629
I see that 633 was merged but there is still an issue with the formatting.  Do I need to wait for something to happen with 629 See formatting problem illustrated below logged in as Editor on Chrome.
<img width="909" alt="screen shot 2019-01-10 at 3 51 26 pm" src="https://user-images.githubusercontent.com/16693738/51004537-f748e680-14ef-11e9-9f2b-b3f9f76e4605.png">

[2019-01-11 19:23] kathreenriel commented on #629
@alex-418 I'm still seeing formatting code
Logged in as Olivia (Moderator) and then as Kathreen (participant) created a topic applied formatting (specifically headers, positioning) and still see the html styling code. See New Topic and Second Topic January 11 at https://eypd.bccampus.ca/groups/community-of-practice-appetite-to-play/forum/

<img width="779" alt="screen shot 2019-01-11 at 11 20 22 a

[2019-01-11 19:24] #604 closed

[2019-01-11 20:03] alex-418 commented on #629
@kathreenriel can you please screen share on bluejeans, want to see how the data is being entered

[2019-01-11 20:07] kathreenriel commented on #629
@alex-418 Sure here's the link https://bluejeans.com/806758741

[2019-01-11 23:34] alex-418 opened #637 "Forum: headings and alignment buttons in tinymce"
### Description

The editor in the forums (bbPress) has by default the following buttons, but the Headings select list, and alignment buttons get stripped out.
![tinymce](https://user-images.githubusercontent.com/17072191/51064719-fa0e0f00-15b5-11e9-9196-4496256b0fec.png)

**Expected behaviour**

Using headings and alignment should result in the expected formatting.

**Actual behaviour**

The html

[2019-01-11 23:35] alex-418 commented on #629
@kathreenriel added https://github.com/BCcampus/eypd/issues/637 to be reviewed in the future if this functionality is desired for forum moderators.

[2019-01-11 23:39] kathreenriel commented on #629
Limited editor works in Mac Chrome
<img width="441" alt="screen shot 2019-01-11 at 3 39 10 pm" src="https://user-images.githubusercontent.com/16693738/51064936-12325e00-15b7-11e9-8b22-d6128bcefd31.png">

[2019-01-14 19:00] paulagaube opened #638 "Spam and nonsense emails being submitted through Contact Form 7"
### Description

Spam and nonsense emails are being sent to the EYPD email address (earlyyears@bccampus.ca) through the contact form we are using at https://earlyyearsbc.ca/contact-us/

User story:
As an Early Years administrator who responds to legitimate emails that are sent to the earlyyears mailbox
I want the spam emails to stop
So that I don't have to read them and manually mark them as spam.

[2019-01-14 19:13] kkilbey commented on #604
Check on Chrome, Firefox, Edge, and Safari (mobile)--looks good. Moving to Done.

[2019-01-14 21:54] kathreenriel commented on #570
On my first review there appears to a duplication of events.
<img width="1170" alt="duplicate" src="https://user-images.githubusercontent.com/16693738/51143668-e0fa9d80-1803-11e9-91fa-f237207f2f70.png">

[2019-01-14 21:55] kathreenriel commented on #570
@paulagaube would you take a look at this export issue too.

[2019-01-14 22:06] bdolor commented on #570
ah, one repetition per category...okay I see the problem.

[2019-01-14 23:58] paulagaube commented on #570
**I am still looking and testing:**
Dashboard > Tools > Excel Export > Export Users (click "Include personally identifiable information in export") - This works as expected for me.

Dashboard > Tools > Excel Export > Export Post Types > _choose drop-down list item_ > Export
**post**
**page**
**attachment**
**features**
**forum**
**topic**
**reply**
**location** - still looking at this.
**event**
*

[2019-01-15 17:56] kkilbey opened #640 "Changes to Professional Interests checklist on Sign-Up page"
### Description

On the prod sign-up page, there is a typo in the list of professional interests. "Child Grown and Development" should read "Child Growth and Development"
![image](https://user-images.githubusercontent.com/44710357/51197937-b6fab700-18a7-11e9-92f4-544c8837fab8.png)

Additionally, this checklist does not exist on the cert Sign Up page and needs to be added.

**Expected behaviour**

[2019-01-15 18:09] bdolor commented on #640
These are fields that don't have any connection to code that we have control over...these are buddypress extended profile fields which can be accessed via the dashboard `Users->Profile Fields`

![image](https://user-images.githubusercontent.com/2048170/51200193-a77e6c80-18ad-11e9-8e7d-8aed9acc6e9f.png)