[2019-01-15 18:22] kkilbey commented on #640
@bdolor thanks! I have corrected the typo on prod and added this checklist to the cert sign-up page.

[2019-01-15 19:40] bdolor commented on #570
updates have been merged

[2019-01-15 19:59] kathreenriel commented on #570
@bdolor @alex-418 There are several errors with the exported date

1. There are still duplicate events
2. Missing event attribute information (see green highlighted sections)
3. Partial attribute information (see orange highlighted sections)
[errors.xlsx](https://github.com/BCcampus/eypd/files/2761216/errors.xlsx)

[2019-01-15 20:01] bdolor commented on #570
Kathreen, there was a delay in the build (service timeout) - I just checked and it works as expected...please export again.

[2019-01-15 20:04] kathreenriel commented on #570
Okay will check again

[2019-01-15 21:53] kathreenriel commented on #570
There still seem to be blanks in the Event attributes column. It appears to occur for events after November 15, 2017 (according to @paulagaube observation)

[blanks-see yello.xlsx](https://github.com/BCcampus/eypd/files/2761617/blanks-see.yello.xlsx)

[2019-01-15 21:59] bdolor commented on #570
okay, I see that too...and gather it's related to the data structure for attributes changing. Will address gathering event attributes from the new _and_ old data structure.

[2019-01-15 22:47] alex-418 commented on #371
Looks like we might be too early to the party on this one... bleeding edge! Please see below for details.

**PWA Notifications:**
Currently very limited Browser/OS compatibility and experimental. This means notifications would only work for the supported Browser/Device combinations (no iOS/Safari support). Please see the [compatibility chart](https://developer.mozilla.org/en-US/docs/Web/API/Servic

[2019-01-16 17:42] alex-418 commented on #371
- Investigate how the Badging API would be triggered
- Investigate how we can determine if we can track if people have added EYPD to their home screen
- Investigate what devices people are using and their compatibility with these features

[2019-01-16 17:46] bdolor commented on #371
would like to suggest preferring the PushAPI over Badging if the data for desktop users shows a majority

[2019-01-16 17:53] kkilbey commented on #640
As per our discussion in the stand-up meeting this morning, I have removed the Professional Interests fields  from Cert and Prod. As BuddyPress User Profile Fields, they were irrelevant to the Professional Interests categories on the myEYPD page that inform email notifications.

[2019-01-16 18:41] kathreenriel commented on #371
Here some data about user tools/browsers. Almost 50% of the visitors use Chrome the rest are distributed among other browser

In 2018 until yesterday there were 16,523 visits
7,478 use Chrome/Chrome Mobile
893 use Firefox
889 use Edge

![browsers](https://user-images.githubusercontent.com/16693738/51270981-31483b80-197b-11e9-8244-091a63f6a109.jpg)

[2019-01-16 18:44] alex-418 commented on #371
Thanks @bdolor agree there could be a good use case for Push Notifications as well, @kathreenriel [Here's a demo](https://web-push-book.gauntface.com/demos/notification-examples/) of the notifications he's referring to. That's what the PWA Notifications section in my [comment](https://github.com/BCcampus/eypd/issues/371#issuecomment-454581532) above talks about. Safari on both desktop/mobile would

[2019-01-16 19:00] kathreenriel commented on #371
I don't know how many people add EYPD to their Homescreen but the stats indicate that 5,030 people last year accessed EYPD through direct entry.

[2019-01-16 19:03] kathreenriel commented on #371
Given that almost 50% of the traffic is from Chrome I think it is reasonable to pursue development of push notifications. I like the looks of this one but I don't have and understanding of which type of push notification would be most effective.
<img width="623" alt="screen shot 2019-01-16 at 10 59 16 am" src="https://user-images.githubusercontent.com/16693738/51272213-5ee2b400-197e-11e9-8fd6-09f4

[2019-01-16 19:04] alex-418 commented on #371
I don't imagine it would be very many right now... we could look into prompting them so they know they are actually able to do this. [Here's](https://developers.google.com/web/fundamentals/app-install-banners/) what that would look like. Just not sure how we'd be able to track this.

[2019-01-16 19:31] alex-418 commented on #371
UX/Marketing expert would really nice right about now lol. Looks like we might be able to get it done for Safari as well... Apple independently created their own push notifications for their web browser! Please see [Safari Push Notifications.](https://developer.apple.com/notifications/safari-push-notifications/) The implementation video is 46 minutes long, so I haven't watched it... but good to kn

[2019-01-16 19:33] kathreenriel commented on #371
The "Add To Homescreen" prompt is already there...I think
I just observed Mirjam going to earlyyearsbc.ca and a message "Add EYPD to homescreen" appeared at the bottom of her phone on the homepage. The rest of us (except for George) are iPhone users so I can' verify.

[2019-01-16 19:45] kathreenriel commented on #570
I checked this and the 8 blanks that appear in the event attributes are indeed blank in the event descriptions. I don't see any disparities between the event descriptions and the export. @paulagaube would you confirm?

[2019-01-16 20:01] kathreenriel commented on #629
Here's a formatting issue with one of the moderators who posted two days ago.
![formatting](https://user-images.githubusercontent.com/16693738/51275292-5d1cee80-1986-11e9-9add-9dedff67dc52.jpg)

[2019-01-16 20:08] alex-418 commented on #629
Yes `<div>` and `<span>` get stripped out, they are not one of the options we left on the editor, so most likely these got manually added or they pasted in when they copied content from somewhere else.

[2019-01-16 20:14] alex-418 commented on #638
@paulagaube Can you confirm that you are not receiving any spam from [this contact form](https://solr.bccampus.ca/wp/register/)? If that anti-spam solution is working well, then I can look into using that same solution for EYPD.

[2019-01-16 20:21] kathreenriel commented on #570
Just exported data for topics and replies super stoked about getting the summary of users who are active in this forum.

[2019-01-16 21:52] paulagaube opened #642 "Update "Suggest an Event" Contact form text on bottom of myEYPD page"
### Description

On the bottom of the myEYPD page (on Cert), there is a "Send Suggestion" button and text entry field where logged-in users can enter a suggestion and send a message to us. That email gets directed through the Contact Form 7 to earlyyears@bccampus.ca.

The text above the "Send Suggestion" button is confusing and needs clarifying.

This is first a non-dev task to clarify the languag

[2019-01-16 23:36] paulagaube commented on #638
@alex-418 @bdolor I submitted a test through that SOLR form and I see the captcha with the images. I'm not a huge fan of those image ones, but it does seem to work.

However, the submitted form goes to Brad, so I've asked him if he gets much spam through that. (I haven't seen any, but can't confirm as I don't get the messages sent through that form!)

[2019-01-16 23:57] paulagaube commented on #570
@kathreenriel @bdolor this looks really promising. I want to do a couple tests tomorrow on this. I ran out of time today.

[2019-01-17 01:46] alex-418 commented on #371
Started down the road of figuring out exactly what would trigger push notifications. After some research, discovered that for push notifications to be effective in increasing engagement and retention, they need to be tailored for each role, otherwise we risk having the opposite effect (people turn them off, or get annoyed and don't come back). The notification should provide targeted, actionable,

[2019-01-17 03:41] mandily-p commented on #642
To play devil's advocate - if you don't have any evidence of users having trouble understanding this, you'll fall into the trap of changing things for the sake of change and busywork, instead of allocating resources to where they could be most effective.

I can do some guerrilla user testing on this easily enough if you'd like. All that needs to be done is to print out the bottom section of the pa

[2019-01-17 16:54] paulagaube commented on #642
@mandily-p  There are two issues here:

1. The suggestion form is not currently on PROD. My question in the standup meeting yesterday was do we want it to be on PROD? If the answer to this is YES, (@kathreenriel 's call),
Then,
2. The text needs to be updated to be factually correct, because WE are not going to offer workshops. We have nothing to do with facilitators or adding events. The website

[2019-01-17 17:00] kkilbey commented on #642
Just to chime in, I agree that the messaging isn't quite accurate. It sounds like we're promising to initiate these suggestions rather than pass them along to workshop organizers. I think the functionality of the field will be clear to users once it's on Prod, though.

[2019-01-17 17:53] bdolor commented on #342
ready for validation via https://github.com/BCcampus/custom-wp-notify/pull/45

[2019-01-17 19:50] #640 closed

[2019-01-17 20:52] alex-418 commented on #638
@paulagaube There's a solution [on cert](https://eypd.bccampus.ca/contact-us/) now that should be equally as effective as what is on SOLR with the advantage of not requiring user input. [recaptchav3](https://developers.google.com/recaptcha/docs/v3)

That being said, It wasn't my first choice because it requires we include links to Google's privacy/terms pages. It uses a lot of different factors to

[2019-01-17 21:18] kathreenriel commented on #371
I think the most relevant notification triggers right now would be for Learners who have signed up for an account but not used any/all the features of the myEYPD page or have not interacted with the myEYPD page for some time. (Drip Campaign?)

Types Notifications sent to Learners:
- Keep track of when your certificate expires!
- Your certificate expired! Do you have 40 credits?
- You have ## hours

[2019-01-17 21:19] kathreenriel commented on #342
Reviewed this and will look for results at 1:58 :)

[2019-01-17 21:30] alex-418 commented on #371
Thanks @kathreenriel updated the graphic to reflect most of the ones you've added

![eypd_push](https://user-images.githubusercontent.com/17072191/51350056-0a156b00-1a5c-11e9-8b21-f6c44c024e7f.png)

[2019-01-17 22:07] alex-418 commented on #371
Meeting summary: We decided on starting with a notification for Learners and Organizers based on the certification expiry. Proceeding with creating the required issues on the backlog that will be needed to implement that specific notification.

[2019-01-17 23:09] kkilbey opened #643 "Cities/Towns list disappears on Search form"
### Description

On the Early Years home page, the City/Community/Town drop-down list disappears after changing from "All Provinces" to "British Columbia" and back to "All Provinces."

This is how the City/Town list displays initially:
![image](https://user-images.githubusercontent.com/44710357/51354481-97f75300-1a68-11e9-90a1-025dabb68136.png)

When I select British Columbia from the list of prov

[2019-01-17 23:53] paulagaube commented on #342
@bdolor I am testing email notifications as well, and so far, so good!

Is there a way I can modify what the "{Unsubscribe}" message is? Right now the subject on the unsubscribe email is only "remove" when it sends an email to earlyyears@bccampus.ca. Could we change that subject line to "Remove me from EYPD notifications" instead?

[2019-01-18 00:03] paulagaube commented on #570
Still trying to figure out a workflow for identifying and correcting duplicate locations using the exported spreadsheets.
I gave Dave S a copy of the events and location spreadsheet so he could inspect the blob. :)

[2019-01-18 00:09] alex-418 opened #644 "Certificate expiry push notification"
## Overview
Notify a Learner or Organizer (via a browser notification) that their certificate:
- Has expired
- Expires soon
- Expiry date in profile is empty

![certificate_notifications_eypd](https://user-images.githubusercontent.com/17072191/51355088-c7a75a80-1a6a-11e9-9c57-0d73447c4bcd.png)

## Relevant functions are below:

Countdown function:
https://github.com/BCcampus/eypd/blob/369145969171

[2019-01-18 17:16] alex-418 commented on #371
During today's standup we identified the need for an options page to allow users to configure and setup push notifications.

[2019-01-18 19:16] kathreenriel commented on #342
@paulagaube I will create a new ticket for that "remove" request

[2019-01-18 19:23] kathreenriel opened #645 "Notifications: Unsubscribed email"
### Description
Right now, when a user unsubscribes from notifications via email, the subject line on the unsubscribe email is entitled, "remove" when it sends an email to earlyyears@bccampus.ca. Change the subject line from "remove" to "Remove me from EYPD notifications"
[Description of the bug or feature]

**Expected behaviour**
User clicks on "unsubscribe" at the bottom of the email. An email p

[2019-01-18 19:47] kathreenriel commented on #638
Reviewed the EYPD PIA form and we have not identified using a third-party program and possible mitigation strategies. Given that this spam issue affects more than this project I think there needs to be a better articulated strategy on how to deal with the spam on more than just the EYPD site.

[2019-01-18 19:47] kathreenriel commented on #638
Moving this back into the product backlog

[2019-01-18 20:18] kathreenriel commented on #570
Dave S reviewed with @paulagaube @kkilbey  and a formula for extracting the data from the Events Attribute column.
Manually moving the Events location (column J) and Events Link (column K) beside Column A Events ID is one way of finding duplicate event locations but does not clearly identify original event location from its duplicate. The original process for finding duplicate locations may still

[2019-01-18 20:19] kathreenriel commented on #629
The visual editor works now consistently as expected both for Learner and Organizer. Created a new issue to deal with the option of providing users with aligning text.

[2019-01-18 21:20] bdolor commented on #624
ready for validation. can be validated in 'Testing' tab in Settings->Custom WP Notify

[2019-01-18 21:37] kathreenriel commented on #624
@bdolor awesome! Tested it with a couple of accounts received the confirmation that the emails were sent. @paulagaube @kkilbey I changed the words slightly. Maybe we can work on the 'wording' to include a description that these are recently posted events, professional interests and/or a reminder to update the professional interests?

Aside from a slight editing in the template I observe this to be

[2019-01-18 21:52] alex-418 opened #646 "Push Notifications options page"
Give the website admin the ability to modify content and frequency of web push notifications.
These could live in the theme options, or be bundled in as an additional feature of the custom notifications plugin, or be an independent plugin.

[2019-01-18 21:57] bdolor commented on #645
addressed in https://github.com/BCcampus/custom-wp-notify/pull/48

[2019-01-18 21:57] #645 closed

[2019-01-18 22:32] alex-418 opened #647 "PWA Push Notifications"
Further investigation is needed. Specifically:

- What updates/configuration is needed in our PWA manifest
- How can we debug/test notifications on our local development environments
- Ensuring a service worker is registered and configured properly for push notifications
- Checking for user permissions (and what to do when the push is denied)
- Handling of user subscriptions to push notifications,

[2019-01-18 22:33] alex-418 commented on #371
Also including https://github.com/BCcampus/eypd/issues/647 to ensure we have enough information to develop /proceed with a well thought out implementation.

[2019-01-18 23:56] paulagaube commented on #624
@bdolor  The notification emails appear to be working as expected! Yes! I love that there are categories of events showing in the email.
And thanks for updating the text on the "unsubscribe" button. Most helpful.

@kathreenriel  I suggest we create a new, non-dev task for the wording update and meet to discuss next week or when convenient. I think the wording now is okay, but we may be able to fin

[2019-01-19 00:03] paulagaube commented on #638
Thanks, @alex-418 for exploring this spam/captcha issue! We will continue to monitor how much spam we get. May it disappear forever.

[2019-01-19 00:04] kkilbey opened #648 "Change wording on notification emails"
### Description
As discussed in issue #624, we would like to improve the wording on the notification emails so that they better express why users are receiving them.

### For discussion
How can we best convey the purpose of the email to the user? Maybe include a description that covers some or all of these points:

- these are recently posted events

- these are suggested events based on your prof

[2019-01-19 01:45] kathreenriel commented on #638
@alex-418 Just clarifying my previous comment. I think **BCcampus** needs to articulate a policy on how to deal with the SPAM on several sites. Thank you for your investigation @alex-418 I'm escalating this to Dave and Brian since it involves privacy and several websites.

[2019-01-21 20:00] paulagaube commented on #342
Confirmed that this features is on Prod. Have not tested with an actual outgoing message, but the plugin shows the date and time when the next scheduled message will be sent, which matches the time I chose.
Moved to Done on Prod.

[2019-01-21 20:05] paulagaube commented on #570
Confirmed this Events Export tool is on Prod and working as expected. Moving to Done on Prod.

[2019-01-21 22:05] kathreenriel commented on #342
@paulagaube let's discuss activation of this customized notification for a first scheduled notification possibly mid February.

[2019-02-14 20:06] kkilbey opened #650 "All posts by this author - Error page"
**Describe the bug**
On an Event page, you can click on the organizer's profile picture to see "all posts by this author." However, if the organizer does not have any blog posts, you are brought to a page that says "Darn it...nothing found" (see screenshots below). This looks like an error message and may be confusing for users.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an event

[2019-03-22 21:26] kathreenriel opened #652 "Learner Role: Access to create Groups"
Currently Learners have access to create Groups at earlyyearsbc.ca. Two Learner accounts were created on March 8 and March 12 and these new registered Learners created to groups and then populated a new topic with SPAM content.

There is no direct link to groups; however, if a registered Learner changes the web address to  https://earlyyearsbc.ca/groups/ a new webpage appears on the early years si

[2019-03-22 21:38] kathreenriel opened #653 "Sign up page: Add Vancouver Early Years Training Collaborative to the Sector drop-down list"
As administrator I would like to be able  to see which Organizers or Learners self-identify as being a part of a Vancouver Early Years Partnership consortium so that we can measure the uptake of this target audience consisting of the greatest population of early care and learning professionals in British Columbia.
Currently when a Learner or Organizer signs up on EYPD they select a sector from the

[2019-03-22 21:54] kathreenriel opened #654 "Homepage: Sector drop-down menu"
**User Story:** As new and influential consortium of training providers is working together to provide learning opportunities to early years professionals in the Greater Vancouver Area.
They would like to use the EYPD website to promote their collective offerings in one online space. This consortium's mandate is to  minimize duplicate training offerings by multiple agencies and build capacity with

[2019-03-22 22:01] kathreenriel opened #655 "Post An Event Page: Add Sector Option"
As an Organizer I would like to "tag" a training event by sector so that users may search for training events by sector.

Add a Sector tag option that operates the same way that the Category drop-down function works.
<img width="493" alt="Screen Shot 2019-04-22 at 1 58 46 PM" src="https://user-images.githubusercontent.com/16693738/56530296-ff5ced00-6506-11e9-8f44-7772d1945249.png">

Organizers wil

[2019-03-22 22:08] kathreenriel opened #656 "Post an Event Form: Change Category to Professional Interests"
Currently on the Post An Event form the word, "Category" is used to describe a professional interest.

Change the title, "Category" to "Professional Interests" for this field so that it matches the labels on the myEYPD page.
<img width="507" alt="Professional Interest" src="https://user-images.githubusercontent.com/16693738/54855612-4eb7bf80-4cb4-11e9-9595-6d1b87adeeba.png">

[2019-03-25 16:22] alex-418 commented on #652
Was able to restrict group creation to Admins only via the Buddypress admin menu (see screenshots below) Note: Changed this setting on PROD only.

![bp_option](https://user-images.githubusercontent.com/17072191/54936278-66bf5700-4edf-11e9-88bf-a081cb1d3562.png)
![bp_menu](https://user-images.githubusercontent.com/17072191/54936282-68891a80-4edf-11e9-96a8-39aed1df00d0.png)

If there's a need for an

[2019-03-25 16:54] paulagaube commented on #652
Thanks, @alex-418 !!

[2019-03-27 20:12] kathreenriel commented on #652
@alex-418 Thank you I tested this on Prod as a Learner and the "create groups" access is no longer available.

[2019-04-11 18:09] kathreenriel opened #657 "Homepage: Footer"
The Project Champion has changed for the EYPD website and the footer needs to reflect the new Champion/funder.

Change the graphic in the footer from The Provincial Office For The Early Years to Ministry of Children and Families. See attached graphic.
![Ministry-of-Children-and-Family](https://user-images.githubusercontent.com/16693738/55990944-dfebd780-5c5d-11e9-9f52-b79c6ec48888.jpg)

[2019-04-11 18:21] paulagaube commented on #657
@kathreenriel That image does not look right. Missing the family??
"Ministry of Children and Family Development"

[2019-04-11 20:30] kathreenriel commented on #657
Thanks @paulagaube I uploaded the revised graphic

[2019-04-16 20:56] alex-418 commented on #657
@kathreenriel I've replaced the image (please clear your browsers cache), but as you can see the new image has white background. The old one was a .png with a transparent background... if you can please provide a png with a transparent background, i'd be glad to update it again.

[2019-04-24 20:49] kkilbey opened #660 "Bounced email notifications"
**Is your feature request related to a problem? Please describe.**
As a new user, when I sign up on EYPD, I receive an auto-email with a link to activate my account. However, if I mistype my email address when signing up, the activation email will not be delivered. As part of EYPD pending-accounts process to sustain engagement, we would like to contact new users shortly after they have signed up o

[2019-05-03 20:28] kkilbey opened #661 "Update FAQ/messaging for Organizer sign-up error"
If someone tries to sign up as an Organizer but their email address does not correspond to our list of valid domains, they will receive an error message and be unable to complete their sign up.

This is the error message:
![image](https://user-images.githubusercontent.com/44710357/57161968-bc6e0580-6da1-11e9-877a-2a2cfdca57fa.png)

If they then go to the Help page, they will find an outdated FAQ (

[2019-05-08 18:10] #656 closed

[2019-05-08 18:11] kathreenriel commented on #656
Upon further review and consultation this issue is no longer requested.

[2019-05-08 18:16] #652 closed

[2019-05-08 18:53] kathreenriel commented on #660
@kkilbey Thank you for documenting this issue. I have updated it to follow the template of the user story.

[2019-05-08 19:06] kathreenriel commented on #642
Reviewing my notes from this timeline of discussions we decided to leave the suggestion field out of the bottom of the page because the user cannot determine if they can't see what they are looking for without clicking on "Recommend Events". The Suggestion Field belongs on the results page that appears after Recommend Events. Also the suggest a training event has been included in the contact form.

[2019-05-08 19:06] #642 closed

[2019-05-08 19:20] #629 closed

[2019-05-08 19:21] #626 closed

[2019-05-08 19:21] #624 closed

[2019-05-08 19:26] #620 closed

[2019-05-08 19:27] #616 closed

[2019-05-08 19:41] kathreenriel opened #662 "New Registrations: Automatic enrollment in forum"
It appears that people who sign up for an account as a Learner or Organizer are given access to a forum. As a administrator I would like to limit who has access to the forum tools.

Steps to resolution:
This may be a setting that needs to be adjusted.
Investigate settings for new registrants and if possible turn off any auto-enrolment setting that is assigning this access and role.

[2019-05-09 20:23] kkilbey commented on #638
I recently activated the Honeypot plugin on EYPD, and this has significantly reduced the amount of spam we receive through the contact form.

We noticed that the Honeypot is especially effective with this inline CSS configuration:
[honeypot Email move-inline-css:true]

I have also installed/configured this plugin on other BCcampus sites.

[2019-05-09 20:35] paulagaube commented on #638
The Honeypot plugin appears to be working as expected.
Looking through the spam received and saved through the earlyyearsbc.ca contact form, this now appears to be at a manageable level.
Here are number of spam messages currently in our Junk folder:
December 2018: 1
February 2019: 2
March 2019: 1
April 2019: 8
May 2019 (as of May 9th): 1

@kathreenriel @alex-418 I think we can close this ticket.

[2019-05-09 21:09] paulagaube opened #663 "Update/reassign duplicate locations on earlyyearsbc.ca"
**Is your feature request related to a problem? Please describe.**
**I am adding this issue as a Non-dev task so we make the time to correct these duplicate locations during the sprint.**

Details:
Organizers need to assign a location to an event. When they don't immediately find the location of their event in the drop-down list of locations, they create a new location by typing in the name and ad

[2019-05-09 21:11] kathreenriel commented on #583
I think this has been addressed. I can view personal information either as a visitor or logged in Organizer. I think this is resolved.

[2019-05-09 21:11] #583 closed

[2019-05-14 16:44] paulagaube commented on #612
One suggestion is to change the text on this pop-up window from:
"Please wait while the booking is being submitted" to
"This event is being added to your myEYPD page"

[2019-05-14 17:03] alex-418 commented on #650
We're not able to easily modify the events manager page, so we decided to provide copy for the error page

[2019-05-14 17:25] alex-418 commented on #660
We decided to add a "Confirm email" field to the sign up form to reduces the number of people signing up with a typo in their email.

[2019-05-14 17:35] alex-418 commented on #622
Covered in #621

[2019-05-14 17:35] #622 closed

[2019-05-14 19:32] kathreenriel commented on #612
**This event is being added to your myEYPD page** appears to be clearer.

[2019-05-14 19:35] kathreenriel commented on #650
@paulagaube @kkilbey How about the two statements below instead of the error message?

**Member profile information is not available.**

Back to [homepage](earlyyearsbc.ca)

[2019-05-14 21:15] paulagaube commented on #650
@kathreenriel I like the words you've chosen, however, I wonder if this is a specific error page or is it a generic 404 page that will appear whenever a page isn't found? @alex-418 can you clarify please? Do we want the message on this page to be specific or more generic?

[2019-05-15 16:56] mandily-p commented on #660
How many people signed up with the wrong email? The current trend is to reduce friction on signup by just asking for email and password once. But I’ve never seen data on how often a user signs up with a spelling error. Does anyone have data or references to other studies on this?

________________________________
From: Alex <notifications@github.com>
Sent: Tuesday, May 14, 2019 10:25 AM
To: BCcamp

[2019-05-15 16:56] mandily-p commented on #663
Oooh! This sounds like an opportunity to add a suggestive input box here. The same as how google does it. @Kathreen Riel<mailto:kriel@bccampus.ca> does that sound worthy of a new ticket to you?

[2019-05-15 17:07] kkilbey commented on #660
@mandily-p Since we started tracking and managing pending accounts about five weeks ago, five users have mistyped their email addresses that we know of (I just looked back through our records to confirm this number).

We've developed a procedure for dealing with these cases, but we won't always notice when someone makes a typo, so there's a chance that some of our follow-up emails are being sent o

[2019-05-15 17:16] paulagaube commented on #660
The procedure Kelsey mentioned is one Kathreen initiated for us to review users whose accounts are still "Pending", because they haven't confirmed their account through the activation link in the auto email they were sent. We review each of these Pending users and then send a series of emails to them to encourage them to complete the sign-up and log in to their account.

This procedure is time-con

[2019-05-15 17:24] mandily-p commented on #660
Whoa! That’s crazy pants! I never would have expected it to be that high. That’s good to know for this project and any future ones! Thanks guys!

[2019-05-15 18:35] kkilbey opened #664 "Update Early Years page in Confluence, Support space"
In the Support Confluence space, the Early Years page contains some outdated documentation (e.g., account activation keys). This is something we'd like to update during this sprint:
https://wiki.bccampus.ca/x/FgNJBQ

[2019-05-15 21:07] kkilbey opened #665 "Test view for each role"
For our reference, we would like to test and document what users see from:
- Public view (not logged in)
- Learner view (logged in)
- Organizer view (logged in)

[2019-05-15 21:10] kkilbey opened #666 "Create admin guide"
We would like to create an Admin guide for the EYPD site so that our maintenance procedures are documented for future administrators, and also for our own reference.

These are topics that we have discussed including in the guide:

- locations export and clean-up procedure
- Dave's formula for "the blob"
- duplicate event instructions
- procedure for managing pending accounts

[2019-05-15 21:17] kkilbey opened #667 "Update Help page"
Combining two tickets from the Support repository into this ticket.

Read through the EYPD [Help page](https://earlyyearsbc.ca/help/) to update FAQs. Add an FAQ for Organizers with steps for duplicating an event.

[2019-05-15 21:20] kkilbey opened #668 "Test email notifications"
We would like to test the email notification system that Brad set up in a previous sprint.

@kathreenriel Paula and I are wondering about the best way to do this. Can we test before activating the email notifications? Or could we activate them, and then monitor what we receive (testing while feature is already live)?

[2019-05-15 21:22] kkilbey commented on #668
Related to issue #648

[2019-05-15 22:57] kathreenriel commented on #668
I think we should "bite the bullet" and activate. Brad did take the time to show me how the interface works and assured me that it would work as expected.

[2019-05-16 17:51] alex-418 commented on #653
@paulagaube @kkilbey You guys should be able to tackle this one, no development work needed.

Here's the link to add to this field (BuddyPress extended profile fields show up on the registration form)
https://eypd.bccampus.ca/wp-admin/users.php?page=bp-profile-setup&mode=edit_field&group_id=1&field_id=1474

[2019-05-16 17:57] kkilbey commented on #653
Thanks @alex-418! Added on Cert. How do we validate this one?

[2019-05-16 17:58] alex-418 commented on #653
@kkilbey To verify, you can Visit the sign-up page after adding it, and ensure it's been added.

[2019-05-16 17:59] kkilbey commented on #653
@alex-418 Ah, of course! Was confusing with the new Sector search field. Thank you!

[2019-05-16 18:17] alex-418 commented on #650
Completed via https://github.com/BCcampus/eypd/commit/562352826ef7c3b814c465ac6f06af6d0711dcf3

Here's an event en cert, click on the users image to see the new message:
https://eypd.bccampus.ca/events/sign-language-for-early-childhood-educators-part-3/

[2019-05-16 19:54] alex-418 commented on #621
Done. Can be validated at on a group page on cert, such as: https://eypd.bccampus.ca/groups/appetite-to-play/

Please note: May require clearing your browsers cache.

[2019-05-16 21:14] kkilbey commented on #650
Looks good! This is working as expected for me.
@paulagaube @kathreenriel would either of you like to validate as well? Ok to move to "Done on Cert"?

[2019-05-16 22:20] alex-418 commented on #643
This has been resolved on cert and production. There was an update to the database structure on the WordPress side, which broke the plugins ability to create the relationships between provinces and towns(since it's a custom post type). All of our events are in BC, so I have disabled the Province dropdown list, and left the town field. It saves the user a step in searching, and resolves the issue.

[2019-05-16 22:30] kathreenriel commented on #653
I checked this on FF, Safari and Chrome. It works as expected.

[2019-05-16 23:38] kathreenriel commented on #650
I checked this as well. Great!

[2019-05-16 23:46] kathreenriel commented on #621
This is complete. The myEYPD option is no longer visible in the Forum .

[2019-05-16 23:52] kathreenriel commented on #643
Okay, I think the Province field is redundant too

[2019-05-17 18:41] alex-418 commented on #612
This has been fixed on cert and prod. I was able to remove the the unnecessary alert instead of just editing the text. Owning the file by bringing it over into our theme did not override the plugin file. So as discussed this alert was removed from the bookingsform.js file in the plugin.

[2019-05-17 20:50] kathreenriel commented on #612
Great! I've checked this on Chrome, FF, and Safari and it works as expected without the message.
@paulagaube or @kkilbey would you check this on IE and your phones to see if it works as expected?

[2019-05-17 21:01] kkilbey commented on #612
I've tested on Cert and Prod using Edge (PC) and Safari (mobile). Works as expected!

[2019-05-17 23:02] paulagaube commented on #537
The Facebook "f" icon now appears on the footer menu of PROD.
Tested and working on Chrome, Firefox, Edge, Internet Explorer on PC; and Chrome on iPhone.

I updated the menu here: Appearance > Menus > "Contact Menu" > Custom Link for Facebook
Added this in the "Navigation Label" box:
<i class="fa fa-facebook"></i> Facebook

Went up to "Screen Options" and dropped down the menu.
Under "Show advance

[2019-05-17 23:19] alex-418 commented on #660
New email field can be tested at https://eypd.bccampus.ca/sign-up/

[2019-05-20 21:45] kathreenriel commented on #537
Yes this works as expected.

[2019-05-20 21:57] kathreenriel commented on #660
This works as expected. @paulagaube would you check this too?

[2019-05-21 17:33] alex-418 opened #671 "Filter out sectors from the donut"
Please provide a list of the sectors you'd like to keep out of the donut.

[2019-05-21 19:39] kathreenriel commented on #654
In depth discussion, investigation and work resulted in a decision to not alter the "events manager plugin" and associated short code to create this functionality (tied in with #655). Instead the sectors will be added to the Categories section which will allow Organizers to "tag" their events according to Sector or professional interest and keep the search text fields as simple as possible. A new

[2019-05-21 19:40] #654 closed

[2019-05-21 19:41] kathreenriel commented on #655
This issue is closed based on reasonings described in #655. The events manager short code will not be modified to create this functionality.

[2019-05-21 19:43] kathreenriel commented on #637
Discussion with @alex-418 alerted us disadvantages to giving users access to headings which may affect SEO etc. The editor will remain as it is.

[2019-05-21 19:43] #637 closed

[2019-05-21 19:45] kathreenriel commented on #618
This requires editing of events manager plugin which requires unknown time and effort. There are disadvantages to providing "new tab" functionality with mobile devices.

[2019-05-21 19:45] #618 closed

[2019-05-21 19:57] kathreenriel opened #672 "myEYPD Page: Event Summary Donut"
As a Learner I wish to view those training events that relate to the topic/concept categories I am pursuing. I do not wish to view those system services that sponsored the training event illustrated in the event summary donut.

Create a white list that indicates those topics/concepts that can be illustrated in the event wheel. These include all categories except those prefaced with the words, Syst

[2019-05-21 19:58] kathreenriel commented on #672
@alex-418 did I describe this functionality correctly? May we bring this into the Sprint Backlog?

[2019-05-21 20:00] kathreenriel commented on #671
Oh I created an issue for this #672

[2019-05-21 20:01] kathreenriel opened #673 "Revise Category List"
As a visitor, Learner and Organizer I wish to view categories by topics / concepts and by service system.

Add Service system to the category list in the dashboard.

[2019-05-21 20:02] kathreenriel commented on #673
@paulagaube Would you take a look at this new list on cert. I also added two new categories as requested by the CCRR's Infant/Toddler and Cultural Safety.

[2019-05-21 20:17] alex-418 commented on #671
Duplicate, using #672 instead.

[2019-05-21 20:17] #671 closed

[2019-05-21 21:08] paulagaube commented on #660
I tested the "Confirm Email (required)" field and it works as expected. When the two emails don't match, an error message appears.
This appears done, @kathreenriel

[2019-05-21 21:26] paulagaube commented on #673
On the EYPD.bccampus.ca home page, (as a visitor) on the drop-down list "Search by Category", I now see, beneath the category Special Needs:
System Service: CCRR
System Service: Government
System Service: Post-Secondary
System Service: School District
System Service: Vancouver Early Years Partnership

I see these options using Chrome on my PC and on my iPhone.

Logged in as a Learner, I see these

[2019-05-21 22:05] paulagaube opened #674 "Allow users to create a nice-looking printout from earlyyearsbc.ca"
**Is your feature request related to a problem? Please describe.**
When I try to print out an event or the EYPD home page to PDF or paper copy, the page is not formatted properly and I may need to print three pages instead of just one to capture all page content. The header is on one page, the body on page 2, and the footer on page 3. The logos on the header also overlap, no matter which view or p

[2019-05-21 22:21] alex-418 commented on #570
Thank you @dshaykewich for articulating the problem to solve: `Identify which events are using duplicate or redundant locations, like the six different "University of Victoria" locations.` To solve this, I've added the `location slug` column to the `events and locations` export via https://github.com/BCcampus/eypd/commit/34c345e8df7532a1ba88a5658668e02d9a74b12b.

This allows us to see these redund

[2019-05-21 22:36] dshaykewich commented on #570
Thanks @alex-418 !

[2019-05-21 22:59] dshaykewich commented on #657
![BC_CFD_H_RGB_pos](https://user-images.githubusercontent.com/43043264/58136030-70b0be00-7be1-11e9-818a-cf3fc8b238ba.png)

[2019-05-21 23:10] alex-418 commented on #657
Completed on cert via https://github.com/BCcampus/eypd/commit/e49a30dc126e27f213b7f1e964268e69e83759b3

[2019-05-21 23:15] kathreenriel commented on #570
This could potentially save a lot of time we've spent in tracking down duplicate locations @paulagaube what do you think?

[2019-05-21 23:25] paulagaube commented on #570
I'm excited to look closely at this tomorrow! My hope is that this additional field will solve the problem I've had tracking down these duplicate locations and the events they are associated with.

[2019-05-21 23:56] alex-418 commented on #611
Sorting of categories by the admin is now possible on the dashboard on cert  (installed a [plugin](https://en-ca.wordpress.org/plugins/taxonomy-terms-order/).) Please keep in mind that sorting of the donut categories legend is done first by the **%** of the donut that a specific category represents, and then the custom sort order set by the admin.

The donut data uses the sort order set by the adm

[2019-05-22 15:24] dshaykewich commented on #657
@alex-418 , move to validating?

[2019-05-22 16:21] alex-418 opened #675 "Donut order"
As a Learner I wish to view the order of events as represented in the donut (with greatest % of events starting to show at "12:00" and tracking clockwise) in the same consecutive order as illustrated in the legend from largest % to smallest %. Where the  same % is represented by the two or more categories - alphabetical order will take precedence. This synchronous view is necessary so that the Lea

[2019-05-22 16:36] alex-418 commented on #570
Add city and state to export.

[2019-05-22 18:46] kathreenriel commented on #611
In reviewing #379 I thought that custom sorting  the categories would solve the issue of matching the legend to the donut – as seen in the comments in the illustration.  However, I misinterpreted this logic. I think the custom sort function does not fix the way the legend renders the categories from largest to smallest %.
<img width="449" alt="Screen Shot 2019-05-22 at 10 15 37 AM" src="https://us

[2019-05-22 20:18] alex-418 commented on #611
Just spoke with @kathreenriel on the phone, we will revert https://github.com/BCcampus/eypd/commit/5c27a6a0ebe82ee282b0a6149703825198a727ce to remove the custom sorting behavior from the donut (no longer needed, see #675 instead), but we will keep the sort functionality for use elsewhere (Front end search form)

[2019-05-22 20:25] alex-418 commented on #611
Donut legend sort order was reverted via cd2b783 and I have started the build process for cert. Please give it a few minutes, the donut will now ignore the custom sort order set in the back-end.

[2019-05-22 20:37] alex-418 commented on #570
Completed via https://github.com/BCcampus/eypd/commit/bccf00f926619ff868c53910c3efec1192d1e205

Here's a screenshot:
![province_city](https://user-images.githubusercontent.com/17072191/58207013-b5e2f780-7c96-11e9-9fc6-c045738e2559.png)

[2019-05-22 20:39] dshaykewich commented on #570
@paulagaube , looks like there's also an opportunity to reconcile the BC/British Columbia duplicates.

[2019-05-22 23:43] alex-418 commented on #672
Completed via https://github.com/BCcampus/eypd/commit/e7f2bc5188380b104a7545491dd4e112441af0fc
Because we have a predictable prefix, I opted to exclude these categories from the donut data by checking for the `System Service:` prefix. This eliminates the need for a whitelist.

[2019-05-23 03:39] alex-418 commented on #675
Completed via https://github.com/BCcampus/eypd/commit/6fba0b3e5eb166fe1ae4f0cbff91b0433fa0e3e0

[2019-05-23 15:50] paulagaube commented on #657
Cleared cache on PC and this looks good on Chrome, Firefox and Edge. Good on iPad using Safari.

[2019-05-23 15:58] paulagaube commented on #611
I can confirm that the custom sort works on the eypd.bccampus.ca home page under the "Search by Category" AND that change does not appear to affect the donut order, which is by ordered by percentage, highest to lowest, AND the colours are showing in the same order as the legend.
Excellent.

[2019-05-23 15:59] paulagaube commented on #672
This looks good to me!

[2019-05-23 16:07] paulagaube commented on #675
This looks good to me! Tested on a learner account and an organizer account.

[2019-05-23 19:14] kathreenriel commented on #662
This can be (and has been changed) in the Dashboard Settings-Forum.  Next steps: Go back and unenrol new sign-ups since February 14, 2019 (except for those enrolled in Vancouver Early Years Partnership and SECD)

[2019-05-23 19:18] kathreenriel commented on #675
Events are illustrated according to % and colour on donut! Yeh!

[2019-05-23 19:21] kathreenriel commented on #611
Confirmed this too. This needs to be manually changed in the dashboard on Prod.

[2019-05-23 19:27] kathreenriel commented on #570
This shows the city and province as requested. This will have a significant impact on the way we can find duplicates, and look for geographic patterns in training events that are posted.

[2019-05-23 20:25] alex-418 commented on #631
Completed via https://github.com/bccampus/eypd/commit/81c77cc4e54e6e21a0c1242794cc1ef5602e81d6

[2019-05-23 20:25] alex-418 commented on #419
Completed via https://github.com/bccampus/eypd/commit/81c77cc4e54e6e21a0c1242794cc1ef5602e81d6

[2019-05-23 22:21] paulagaube commented on #663
I am putting this back into the backlog until after issue #570 is implemented on PROD. I need to see the location slug in the spreadsheet to do this more efficiently. :)

[2019-05-23 22:26] paulagaube commented on #630
@alex-418 where do I need to go to validate this?

[2019-05-23 22:31] kathreenriel commented on #630
In a forum post or reply

[2019-05-23 22:34] kathreenriel commented on #630
This styling has been updated.

[2019-05-23 22:35] kathreenriel commented on #631
The headings are now clearer!

[2019-05-23 22:40] paulagaube commented on #630
Thanks. Cleared my cache and see the new button styling now. :)

[2019-05-23 22:47] paulagaube commented on #631
@kathreenriel @alex-418 I have an issue with the Table Header row. The word "Topic" is not Bold but the other Headings in the top row are. Is this a deliberate choice or an oversight? I'd prefer to see Topic in Bold to match the other headings.
<img width="686" alt="ForumTableHeaderRow-bold" src="https://user-images.githubusercontent.com/26391359/58291370-04b18f80-7d72-11e9-99f5-6d20c9f36cd1.png">

[2019-05-24 17:38] kathreenriel commented on #673
I completed the content change on Production. I changed the description of Service System: Vancouver Early Years Partnership to Service Partnership: Vancouver Early Years Partnership. This change has been completed on CERT and PROD

[2019-05-24 17:38] kathreenriel commented on #611
This has been completed on Prod.

[2019-05-24 17:39] paulagaube commented on #611
Yes, it looks good!

[2019-05-24 17:42] paulagaube commented on #611
@kathreenriel just checking... do you want leave "Administration" after "Middle Years"? The categories drop-down list is not in alphabetical order

[2019-05-24 17:45] kathreenriel commented on #611
@paulagaube thanks for checking. I changed the location of Administration.

[2019-05-24 18:06] paulagaube commented on #653
Confirmed this is on Prod. Thanks, Kathreen!

[2019-05-24 18:09] kathreenriel commented on #570
This works on Prod. Never thought i would be excited about a spreadsheet :)

[2019-05-24 18:11] kathreenriel commented on #672
checked this under Olivia and Larry's myEYPD profile. Works on Prod.

[2019-05-24 18:12] kathreenriel commented on #675
Order is working on Prod.

[2019-05-24 18:18] kathreenriel commented on #650
@paulagaube I'm still getting a "Darn It" page. How about you?

[2019-05-24 18:20] kathreenriel commented on #612
No extra messaging on Prod. This is done.

[2019-05-24 18:21] alex-418 commented on #650
@kathreenriel Works for me ... here's the direct link https://eypd.bccampus.ca/author/kelsey-kilbey/

[2019-05-24 18:25] kathreenriel commented on #660
Signed up for a new account and purposely put in unmatching emails. This works on prod

[2019-05-24 18:28] kathreenriel commented on #650
@alex-418 on Prod. there is still the "Darn it" error message

[2019-05-24 18:39] alex-418 commented on #650
@kathreenriel Interesting, I can see the change made it over to prod. Not sure why it's behaving differently, must be a setting or something that's different. The author.php template file is being ignored for some reason.

[2019-05-24 18:47] paulagaube commented on #650
I still see the Darn it message on Prod too.

[2019-05-24 18:49] paulagaube commented on #650
This page works as expected: https://earlyyearsbc.ca/author/paula-gaube/

[2019-05-24 18:52] paulagaube commented on #650
oh, but FYI, if I enter a fake name, the Darn it message appears. Which is perhaps expected behaviour?
https://earlyyearsbc.ca/author/fake-user/

[2019-05-24 19:21] alex-418 commented on #650
It must have been in the browser's cache, glad it's fixed. @paulagaube Yes, because it's a page that doesn't exist.

[2019-05-24 19:23] kathreenriel commented on #650
No I don't think it's fixed. I cleared my cache on Chrome and Safari...still when I click on the user's icon I get the Darn it page

[2019-05-24 19:24] kathreenriel commented on #650
Yep, checked it again...still get the darn it page when I click on the Organizers icon as described by Kelsey in the description at the top

[2019-05-24 19:33] paulagaube commented on #650
Oh yes, you are right, @kathreenriel , clicking the avatar/icon yields a Darn it message.

[2019-05-24 22:26] alex-418 commented on #650
@kathreenriel can you please provide the link you're checking?

[2019-05-24 22:35] paulagaube commented on #663
I downloaded the Events and Locations excel export and also the "locations" excel export, and it is easier to see the duplicate locations in the "locations" report, but there are no addresses on this report. There are, however, a lot of duplication locations to sort through. I need to look at this again another day.

[2019-05-24 22:43] paulagaube commented on #667
First step: I changed the FAQ "What if my organization is not listed on the drop-down list on the Sign Up page?" to Draft as it is no longer applicable.

[2019-05-27 16:25] alex-418 opened #677 "Synchronize Prod/Cert for parity"
Production and Development environments differ greatly. Synchronizing Server configurations, application settings, plugin settings is important to ensure we are getting the same results when validating and delivering new features.

Do this manually and document the process, to ensure smooth handoff.

[2019-05-31 19:41] kathreenriel commented on #677
@alex-418 @dshaykewich  is this a task that could be addressed during admin time on Mondays or does this require several hours/days?

[2019-05-31 19:46] kathreenriel commented on #48
Duplicating dashboard functionality on a front end form has been a persistent issue during EYPD web development. On of the foremost goals of this project was to design and present a simple user interface for Organizers to post events; therefore, we opted not to open the dashboard functionality to Organizers.

[2019-05-31 19:46] #48 closed

[2019-05-31 19:57] kathreenriel commented on #650
@alex-418 https://earlyyearsbc.ca/author/michelle/

[2019-05-31 20:02] #611 closed

[2019-05-31 20:02] #662 closed

[2019-05-31 20:03] #653 closed

[2019-05-31 20:03] #570 closed

[2019-05-31 20:03] #673 closed

[2019-05-31 20:03] #630 closed

[2019-05-31 20:03] #643 closed

[2019-05-31 20:03] #537 closed

[2019-05-31 20:03] #631 closed

[2019-05-31 20:03] #672 closed

[2019-05-31 20:04] #675 closed

[2019-05-31 20:04] #621 closed

[2019-05-31 20:04] #612 closed

[2019-05-31 20:04] #657 closed

[2019-05-31 20:04] #660 closed

[2019-05-31 20:08] kathreenriel commented on #57
Development of this issue would support the ongoing evaluation of this project.

[2019-05-31 20:12] kathreenriel commented on #145
@paulagaube should we continue to pursue this issue?

[2019-05-31 20:13] #198 closed

[2019-05-31 20:13] #220 closed

[2019-05-31 20:14] #240 closed

[2019-05-31 20:15] kathreenriel commented on #264
This is a high priority function for future development of the EYPD website

[2019-05-31 20:16] #342 closed

[2019-05-31 20:18] #378 closed

[2019-05-31 20:18] #400 closed

[2019-05-31 20:19] #425 closed

[2019-05-31 20:20] #466 closed

[2019-05-31 20:20] #478 closed

[2019-05-31 20:21] kathreenriel commented on #508
This could be an issue if this project progresses to scale-up stage.

[2019-05-31 20:21] #513 closed

[2019-05-31 20:22] #517 closed

[2019-05-31 20:23] kathreenriel commented on #517
this is detailed more explicitly in #264

[2019-05-31 20:23] #521 closed

[2019-05-31 20:23] #523 closed

[2019-05-31 20:24] #528 closed

[2019-05-31 20:24] #535 closed

[2019-05-31 20:25] #536 closed

[2019-05-31 20:25] #538 closed

[2019-05-31 20:31] #605 closed

[2019-05-31 20:33] #608 closed

[2019-05-31 20:33] #609 closed

[2019-05-31 20:33] #610 closed

[2019-05-31 20:33] #615 closed

[2019-05-31 20:35] kathreenriel commented on #625
This is addressed in #57

[2019-05-31 20:35] #625 closed

[2019-05-31 20:35] #638 closed

[2019-05-31 20:35] #644 closed

[2019-05-31 20:36] #646 closed

[2019-05-31 20:36] #647 closed

[2019-05-31 20:37] #655 closed

[2019-05-31 20:39] #597 closed

[2019-05-31 20:39] #592 closed

[2019-05-31 20:40] #584 closed

[2019-05-31 20:41] #585 closed

[2019-05-31 20:42] #574 closed

[2019-05-31 20:42] #557 closed

[2019-05-31 20:42] #551 closed

[2019-05-31 20:43] #545 closed

[2019-05-31 20:43] #542 closed

[2019-06-25 16:27] kathreenriel opened #678 "EYPD Infograph Review"
Review the EYPD infograph for the final report for distribution to the EYPD advisory group, sponsor and champion.

[2019-06-25 16:28] kathreenriel opened #679 "EYPD article for BCcampus"
Review article about EYPD Project for BCcampus new article.

[2019-06-25 18:51] kkilbey commented on #678
Reviewed! @paulagaube your turn :)

[2019-06-25 19:43] kathreenriel commented on #678
@kkilbey would you email me your edits

[2019-06-25 20:47] paulagaube commented on #678
@kathreenriel @kkilbey and I are just back from lunch and then called to something else. We'll send you combined comments shortly. It looks like there are only a couple small things to tweak.

[2019-06-25 21:31] paulagaube commented on #678
@kathreenriel notes sent by email to you.

[2019-06-25 22:34] paulagaube commented on #679
@kathreenriel I did a bit of chop-chop on this article. Kelsey and I discussed. I went for it. :)

[2019-06-26 18:03] paulagaube commented on #668
Clarified this with Kathreen: Test the email notifications on CERT first.
We will need to add new upcoming events in various categories and then test different users with different professional interests before sending out emails to the test Cert users. When we are satisfied that Cert users are receiving appropriate emails, we will be ready to activate the plugin on Prod to begin sending regular e

[2019-06-26 22:15] paulagaube commented on #678
@kathreenriel will you move this to completed when done?

[2019-06-26 22:22] kkilbey commented on #668
I have created some new events in EYPD Cert, one new event for each professional interest category. Each event is called "Summer Fun - [category]" so they will be easily distinguishable.

I have also logged in to both my EYPD Cert accounts and set my professional interests. When we test the email notifications, I will see if the emails I receive align with the interests I selected.

@paulagaube @k

[2019-06-26 23:00] paulagaube commented on #668
Hmmm.... we did not get expected results when I turned on notifications.
The first email was supposed to be delayed by one hour, and it wasn't. It looks like not all emails were received. We need to test this more.

[2019-06-27 18:49] kkilbey opened #680 "Add "unsubscribe" option to EYPD email signature"
As part of our process for dealing with pending accounts on EYPD, we send pending users emails from the Early Years inbox (now in Outlook). Unlike WP newsletters, these emails do not contain an "unsubscribe" button or any way to opt out of receiving them (short of blocking the EYPD email address).

Although no one has complained about these emails, we want to be sure we are not violating any priva

[2019-06-27 20:12] paulagaube commented on #668
We realized that we need to understand the Custom WP Notify better so that we can accurately document and use the email features this plug in provides. Kathreen suggested created a new issue so this task can be added to an upcoming development sprint.

[2019-06-27 20:22] paulagaube opened #681 "Clarify how plugin Custom WP Notify works so we can document its features"
**Is your feature request related to a problem? Please describe.**
Kelsey and I were testing the Custom WP Notify plugin on Cert eypd.bccampus.ca and found we did not get the results we expected when the plugin was activated.* This could be partly user-error or due to a difference in parity with Prod/Cert/Dev, (issue #677) or a misunderstanding of how the plugin works (i.e., is there a Cron Job th

[2019-06-27 23:17] kkilbey commented on #681
Notes from testing email notifications:
- The emails we received contained past events
- The notification emails were set to delay by one hour, but they were automatically sent only a few minutes after notifications were enabled
- Paula adjusted the subscription settings so that Amanda H. and Alex would not receive notifications while we were testing, but Amanda still received an email
- Related t

[2019-06-28 16:05] paulagaube commented on #666
I created a Confluence page to start working on the EYPD Administrators Guide.
I'd like to take all the menu items on the EarlyYears Dashboard and then explain each item.
Then perhaps add or link to instructions on how to do common tasks.
The page is here in the Support space: https://wiki.bccampus.ca/display/HELP/EYPD+Administrators+Guide

[2019-07-26 16:54] kkilbey opened #682 "Increase in spam account registrations"
Over the past few weeks, the number of spam users registering for accounts on EYPD has increased substantially. When I reviewed pending accounts today, 21 of 22 accounts were spam. Is there a way to prevent this?

The most common domains I see for spam accounts are "mail.ru" and "namnerbca.com"

[2019-07-26 17:45] alex-418 commented on #682
@kkilbey looked through the history of our spam prevention efforts for EYPD, and this is an ongoing battle, here's the list:

https://github.com/BCcampus/eypd/issues/638
https://github.com/BCcampus/eypd/issues/107
https://github.com/BCcampus/eypd/issues/102

I would recommend that we use [reCaptcha](https://www.google.com/recaptcha/intro/v3.html) if our current solutions aren't sufficient. Otherwi

[2019-07-29 18:50] dshaykewich commented on #682
@alex-418 , I support using reCaptcha.

[2019-07-30 23:19] dshaykewich opened #683 "Complete Technical Portions of Ministry RFP Template"
Pending provision from the ministry, complete RFP technical requirements for the operationalization of EYPD.

[2019-08-01 21:22] paulagaube commented on #682
This week I have already deleted about 40 "Pending" accounts that were spam, and then exported the Users report from earlyyearsbc.ca and discovered that there are about the same number of spam accounts that are currently subscribers (learners) on the prod site.

I started deleting those spam accounts and then decided to mark some as Spam and then remove the Role of Subscriber and adding "-spam" at

[2019-08-02 16:19] paulagaube commented on #682
@alex-418 Yes, it seems this issue is a continuation of #107
Except that some of these accounts have actually completed the sign up as Learners.

Domains with *.ru are common:
yandex.ru
ya.ru

Also, there are quite a few spam accounts with gmail.com addresses, which makes them harder to find.
You mentioned that perhaps there is a better captcha we can use?

[2019-08-06 17:37] dshaykewich commented on #681
Strikes me that this plugin:
- is unreliable
- is not being actively used

I suggest we disable it.

[2019-08-06 17:43] dshaykewich commented on #679
Looks like this is done.

[2019-08-06 17:43] #679 closed

[2019-08-06 17:43] dshaykewich commented on #678
Looks like this is done.

[2019-08-06 17:43] #678 closed

[2019-08-06 17:45] dshaykewich commented on #677
Let's invest some time in this, @alex-418 .

[2019-08-06 17:47] dshaykewich commented on #668
Per #681 , I feel we should disable this.

[2019-08-06 17:49] dshaykewich commented on #666
This will be valuable for eventual hosts of the system.

[2019-08-06 18:01] dshaykewich commented on #650
Verified that on Prod, Darn it! shows (whether I'm logged in  or not).

Preferred solution: remove link from the user icon (if possible/not too time consuming)

[2019-08-06 18:02] dshaykewich commented on #648
Per #681 suggest we remove this functionality.

[2019-08-06 18:04] dshaykewich commented on #607
Won't fix.

[2019-08-06 18:04] #607 closed

[2019-08-06 18:04] dshaykewich commented on #606
Won't fix.

[2019-08-06 18:04] #606 closed

[2019-08-06 18:04] dshaykewich commented on #602
Won't fix.

[2019-08-06 18:04] #602 closed

[2019-08-06 18:05] dshaykewich commented on #598
Won't fix.

[2019-08-06 18:05] #598 closed

[2019-08-06 18:05] dshaykewich commented on #588
Won't fix.

[2019-08-06 18:05] #588 closed

[2019-08-06 18:06] dshaykewich commented on #541
Won't fix.

[2019-08-06 18:06] #541 closed

[2019-08-06 18:06] dshaykewich commented on #539
Won't fix.

[2019-08-06 18:06] #539 closed

[2019-08-06 18:07] dshaykewich commented on #508
Done.

[2019-08-06 18:07] #508 closed

[2019-08-06 18:08] dshaykewich commented on #421
Won't fix.

[2019-08-06 18:08] #421 closed

[2019-08-06 18:09] dshaykewich commented on #404
Won't fix.

[2019-08-06 18:09] #404 closed

[2019-08-06 18:09] dshaykewich commented on #371
Won't fix.

[2019-08-06 18:09] #371 closed

[2019-08-06 18:09] dshaykewich commented on #349
Won't fix.

[2019-08-06 18:09] #349 closed

[2019-08-06 18:10] dshaykewich commented on #264
Won't fix.

[2019-08-06 18:10] #264 closed

[2019-08-06 18:11] dshaykewich commented on #70
Won't fix

[2019-08-06 18:11] #70 closed

[2019-08-06 18:11] dshaykewich commented on #69
Won't fix

[2019-08-06 18:11] #69 closed

[2019-08-06 18:11] dshaykewich commented on #46
Won't fix.

[2019-08-06 18:11] #46 closed

[2019-08-06 20:30] paulagaube commented on #682
FYI, this morning, on the day after a long weekend, I deleted 22+ "Pending" spam users on earlyyearsbc.ca and also about 15 "subscriber" accounts that were also spam users. I deleted the Pending accounts and marked the "subscriber" accounts as spam and removed their role from the site.

[2019-08-06 20:48] paulagaube commented on #145
I would like to test our assumptions on this issue. Here are some observations:

I believe this issue is related to the BuddyPress "Extended Profile" only. However, what is the user's Display Name? Is it the first name only or is it the Place of Work?
On the spam accounts that were recently created, they did not contain a last name in their Profile.

Should we keep this option enabled:
Settings >

[2019-08-13 16:18] alex-418 opened #684 "Remove custom WP notify plugin"
Ensure there's no other functionality disabled when removing this plugin. Deprecate repository, remove from dependencies.

[2019-08-13 16:19] #648 closed

[2019-08-13 16:19] #668 closed

[2019-08-13 16:19] #681 closed

[2019-08-13 16:31] alex-418 commented on #682
@dshaykewich to provide Google credentials to generate API key for reCaptcha.
@alex-418 to put this on cert for testing and validation after #677 is completed.

[2019-08-13 16:55] alex-418 commented on #650
@alex-418  to ensure https://github.com/BCcampus/eypd/commit/562352826ef7c3b814c465ac6f06af6d0711dcf3 made it over to prod. If it's there and not working, instead remove the user icon via css.

[2019-08-13 17:10] #680 closed

[2019-08-13 17:19] alex-418 commented on #661
@paulagaube and @kkilbey to provide new error message text

[2019-08-13 21:47] paulagaube commented on #682
@alex-418 @dshaykewich @kkilbey  I've just been checking and marking as spam the new spam accounts on the EarlyYears site and found that someone was able to register as an Editor and their domain name is not on the Validate by Domain list.

Here is the New User Registration Email we received:
Apache <apache@eypd.bccampus.ca> on behalf of WordPress <wordpress@earlyyearsbc.ca>
Fri 2019-08-09 1:08 PM

[2019-08-13 22:54] paulagaube commented on #682
@alex-418 @dshaykewich The **Validate by Domain** plug-in is not working on earlyyearsbc.ca.

I just tested signing up as an Organizer without using a valid domain name, and had no problem creating the account. I can now post events. This is not good.

We now have Organizers who are not authorized to post events on the site.

We had this problem before when I created the fake user.... will try to

[2019-08-13 22:55] alex-418 commented on #684
Documenting code to be removed from template to avoid fatal errors after https://github.com/BCcampus/custom-wp-notify has been removed.

https://github.com/BCcampus/eypd/blob/b866099a8c465d865757b84a4d3066a17785d974/plugins/events-manager/buddypress/profile.php#L23

https://github.com/BCcampus/eypd/blob/81c77cc4e54e6e21a0c1242794cc1ef5602e81d6/functions.php#L878

[2019-08-13 23:28] dshaykewich commented on #682
@alex-418
BCc DevOps Google Account: devops@bccampus.ca
Sending Password separately...

[2019-08-14 00:05] alex-418 commented on #684
Also remove email notification checkbox on signup page:
![notifications](https://user-images.githubusercontent.com/17072191/62985497-6a9b3980-bdec-11e9-848c-3c3822c8025d.png)

[2019-08-14 00:23] alex-418 commented on #682
@paulagaube @kkilbey @dshaykewich Can any of you recall why/when we might've removed https://github.com/BCcampus/validate-by-domain from both cert and prod? Currently https://github.com/BCcampus/validate-by-domain is installed on both, but that one is meant for PB. I checked our issue history, and can confirm the whitelist was added as a setting/feature in the dashboard to Validate by Domain, to e

[2019-08-14 15:58] paulagaube commented on #682
@alex-418 I have no idea why that feature was removed! Can you tell when that was done?

[2019-08-14 16:45] alex-418 opened #686 "Resolve build errors on Travis CI"
All builds are failing on our continuous integration tool. I suspect this is isolated to our configuration in Travis CI, and that the builds on Jenkins would succeed.

Here's the log, the error is specific to WP-CLI not being able to run unit tests.

https://travis-ci.com/BCcampus/validate-by-domain/jobs/225265814

[2019-08-14 16:46] alex-418 opened #687 "Fix Validate by Domain"
Thanks @paulagaube @dshaykewich  for the troubleshooting during out stand-up. I've renamed the plugin via https://github.com/BCcampus/validate-by-domain/commit/d92f2bbf38ef8a414ccb4c65809c33ba926adb87 and have also confirmed there's no validation happening due to the double email opt-in work that we did in https://github.com/BCcampus/eypd/pull/670/files to make users enter their e-mail twice.

I'v

[2019-08-14 17:05] alex-418 commented on #686
@dshaykewich Will require your help to troubleshoot this as my VPN is still not working. When you have time please get in touch. I just need to run a manual build on cert to see if succeeds and see the output of the log. All this will do is bring in the following commit: https://github.com/BCcampus/eypd/commit/5faafc6002ddb52d0439a97f2245a52f8f43ab54 which will then allow me to complete #684 on ce

[2019-08-14 18:10] alex-418 commented on #684
@paulagaube @kkilbey this is now on cert, ready for validation. The plugin is disabled, as is any functionality or wording associated with this in myEYPD and the registration page. Please let me know if you encounter any issues with these. Thanks @dshaykewich for pushing this to cert.

[2019-08-14 18:15] alex-418 opened #688 "Security Alerts"
Resolve the following security issues:
![alerts](https://user-images.githubusercontent.com/17072191/63045286-e5179800-be84-11e9-9359-ad8af06f1376.png)

[2019-08-14 18:27] alex-418 commented on #686
Completed via https://github.com/BCcampus/eypd/commit/fc7e9beb0af3d8253d2d23e58691e6de685ec3df and build are now successful see https://travis-ci.com/BCcampus/eypd/builds/123270294

@dshaykewich documenting our discussion on the reason for this change: We currently don't have any code coverage or unit tests in this code base, so this build step was unnecessary. We plan to ensure this happens going

[2019-08-14 19:19] paulagaube opened #689 "Validate all EYPD Organizers and remove unauthorized posted events."
**Is your feature request related to a problem? Please describe.**
Non-dev task
When the Validate by Domain plugin on EYPD was not working, users were able to sign up and create an Organizer account without validating their domain name. At least two new Organizers on Prod are not authorized to post events. At least one of these new Organizers posted what appears to be a fake event. (That event has

[2019-08-14 19:24] paulagaube commented on #145
Moving this backlog. Created a new issue to confirm that EYPD Organizers are valid first, before completing this task.  #689

[2019-08-14 21:02] dshaykewich commented on #683
Denise is waiting to hear back from the ministry.

[2019-08-14 21:49] paulagaube commented on #682
So we have this  written somewhere: In our standup this morning, we determined that the Validate by Domain plugin wasn't missing, but was not named correctly. One theory for why this plugin is not working is that the field number changed when we added the extra email verification field.

Here is a side-by-side screen shot of Prod and Cert. Not the different layout and the words underneath the fiel

[2019-08-14 21:51] paulagaube commented on #684
I have verified that the email notification checkbox is no longer showing up on the Sign up page as expected.

[2019-08-14 21:55] alex-418 commented on #682
Thanks @paulagaube I created https://github.com/BCcampus/eypd/issues/687 to tackle this, and #677 should resolve these other differences. I'm working on changes that will allow us to set the filed name, instead of the field number in these settings. Will update #687 for you to validate this there. This specific issue is getting kind of bloated, would like to re-focus it on implementing re-captcha

[2019-08-14 22:06] paulagaube commented on #684
Also have confirmed that the plugin at this location is now gone:
eypd.bccampus.ca > Dashboard > Settings > Custom WP Notify

This looks good, @alex-418 !

The Sign Up page seems less cluttered too, even though this is only one field.

[2019-08-14 22:07] alex-418 commented on #684
Awesome, thanks @paulagaube

[2019-08-14 22:10] kkilbey commented on #559
This FAQ already existed on Cert, so I have added it to Prod as well. Here is the text for reference:

How do I duplicate an event?

To duplicate an event on the Early Years web portal:

1. [Log in](https://earlyyearsbc.ca/wp-login.php?redirect_to=https%3A%2F%2Fearlyyearsbc.ca%2F) as an Organizer.
2. Click “Edit Events” at the top of the page.
3. If the event you wish to duplicate appears on your

[2019-08-14 22:12] paulagaube commented on #682
Okay, sorry, @alex-418 !

[2019-08-14 22:22] paulagaube commented on #687
@alex-418, FYI, the Validate by Domain plugin seemed to be working as expected on eypd.bccampus.ca when I tested it about an hour ago. i.e., My new sign up account was not validated as an Organizer because my email domain name was not on the whitelist for the plugin.

[2019-08-14 22:23] alex-418 commented on #687
@paulagaube thanks, I made some fixes but could not verify if they made it over to cert due to VPN being down for me. Can you try it again now?

[2019-08-14 22:23] paulagaube commented on #687
I will try again now!

[2019-08-14 22:39] paulagaube commented on #686
@alex-418 I'm not sure who can validate this, because I don't know how to validate this.

[2019-08-14 22:41] paulagaube commented on #687
@alex-418 Validate by Domain is NOT working now. Both Kelsey and I tried to sign up as an Organizer, but our role did not change to Editor.

[2019-08-14 22:47] alex-418 commented on #687
@paulagaube Thanks, looks like the changes haven't made it over. The admin screen should say "field name" instead of number.

[2019-08-15 17:05] dshaykewich commented on #687
@alex-418 please take the following actions:
1. Remove the confirm email address field
2. Ensure that the validate by domain settings point to the correct field and works properly.

[2019-08-15 17:37] paulagaube commented on #687
@dshaykewich why do you want Alex to remove the confirm email address field? Just to see if that is causing a conflict?

[2019-08-15 17:41] dshaykewich commented on #687
@paulagaube the two different email validations are being done in two different ways in two different places.  This will simplify the validation.

[2019-08-15 20:35] alex-418 commented on #687
@paulagaube @kkilbey This is now resolved on cert and ready for validation, please visit https://eypd.bccampus.ca/sign-up/ and confirm there's only one e-mail field and that the "whitelist" is working when trying to register as an organizer.

Thanks @dshaykewich for running the build jobs on cert, we'll have to do that again for prod once you're ready to make these changes live.

[2019-08-15 20:52] alex-418 commented on #682
@dshaykewich trying to login to the devops@bccampus.ca and it's asking for a verification code that got sent to a cellphone number that ends with 75. Hoping it's yours? Please send verification code.

[2019-08-15 20:58] kkilbey commented on #687
@alex-418 I just signed up on eypd.bccampus.ca as an Organizer, but my role did not change to Editor when I activated my account.

[2019-08-15 21:04] alex-418 commented on #682
@kkilbey @paulagaube I've enabled recaptcha v2 ("invisible") so there's no challenge to the user but should filter out bots. We can try this version out and see if it's sufficient, otherwise we can go to v3. As you're doing tests on #687 in the registration page, please keep this in mind to ensure there's no issues with the form being submitted. Thank you.

[2019-08-15 22:28] kkilbey commented on #667
I have reviewed and updated all of the FAQs on the Help pages for Cert and Prod. This task included:
- general edit for spelling/grammar, checking links
- creating parity between Cert and Prod
- checking that answers with step-by-step procedures are still accurate, updating where needed

@paulagaube ready for validating! :) I wouldn't mind talking more about the FAQ "I'm an event Organizer. How do

[2019-08-15 23:39] alex-418 commented on #687
@paulagaube @kkilbey @dshaykewich I've just pushed these changes to prod and as I suspected, they are working as expected there! The validation whitelist works on the e-mail field for organizers, and the correct role is assigned when organizer account is activated. (I temporarily whitelisted my personal email domain to test this). So, this in pretty good shape :)

Please let me know if you encount

[2019-08-15 23:43] alex-418 commented on #677
Plan is to export the production database and files, and bring them over to cert. As part of this, I will also delete the dev branch of both EYPD and Validate by domain, and re-recreate them from master to synchronize the code base and commit history as it's currently out of whack.

[2019-08-16 00:44] alex-418 commented on #684
@dshaykewich @paulagaube @kkilbey FYI - this is now done in prod as well.

[2019-08-16 16:48] kkilbey commented on #687
Tested on prod and found the following things working as expected:
- there is only one email field on the sign-up page
- I could not sign up with a hotmail email address, but I successfully signed up with my BCcampus email address
- my role changed to "Editor" once I activated my account

@alex-418 Just to confirm, my role still didn't change when I tried signing up as an Organizer on the cert sit

[2019-08-16 17:04] kkilbey commented on #682
I see the reCaptcha on the cert sign-up page, but I don't think it's the invisible one (?). I was prompted to check the box and then click on certain images to verify I'm not a robot.
@paulagaube your turn :)

[2019-08-16 17:09] alex-418 commented on #687
@kkilbey Perfect, thank you. Yes, cert won't work as expected with the role assignment until #677 is completed.

[2019-08-16 17:13] alex-418 commented on #682
@kkilbey great, yes I forgot to mention the invisible one didn't work as expected (was glitchy for me and wouldn't let me submit it) so I reverted to v2 "I'm not a robot" checkbox.

[2019-08-16 17:15] kkilbey commented on #682
@alex-418 Perfect! In that case, looks like it's working as expected.

[2019-08-16 20:58] alex-418 commented on #687
After our discussion yesterday at the stand-up, I wanted to give you guys a better breakdown of the options for adding another email confirmation field. @dshaykewich @paulagaube @kkilbey

**Option 1:** Integrate with the BuddyPress & Validate by Domain
Here's a visual of what the flow looks like in [WordPress registration hooks](https://usersinsights.com/wordpress-user-registration-hooks-visualize

[2019-08-16 22:18] kkilbey commented on #664
I have updated this Confluence page by removing/editing the outdated information. Moving this to Validating... @paulagaube would you mind taking a look?

[2019-08-16 22:34] paulagaube commented on #689
Exported the "Users" excel spreadsheet, sorted by roles, and colour-coded editors, subscribers, admins, and "no role" users.

While cross-checking the domain names of Organizers against the white list from the Validate by Domain plugin, discovered that not all valid Organizer's Domain names are on the whitelist. So this makes it harder to weed out fake accounts, but not impossible.

I am looking f

[2019-08-16 22:39] dshaykewich commented on #689
@paulagaube , I think we should leave the whitelist as is for now.  Other domains can be added on request.

[2019-08-16 22:39] paulagaube commented on #689
@dshaykewich Thank you!

[2019-08-16 23:34] paulagaube commented on #689
I have a colour-coded spreadsheet and have checked all Organizers.
There are a couple Organizers who shouldn't have been made an Editor automatically, but they may be valid. I will follow up with them next week.

[2019-08-20 20:45] alex-418 commented on #650
Resolved via https://github.com/BCcampus/eypd/commit/8883cd5f767143a3f40b220d399889437b68b463 the user avatar that links to the error page is now gone.

[2019-08-20 23:53] alex-418 commented on #677
Production database and files exported successfully. We can proceed with this.

[2019-08-21 16:59] dshaykewich opened #693 "Create logos for the cert site that clearly indicate that it's the testing instance"
**Is your feature request related to a problem? Please describe.**
Create logos for the cert site that clearly indicate that it's the testing instance

[2019-08-21 18:37] paulagaube commented on #661
Here is my suggested error message text to display when the "Work Email Address (required)" for an Organizer does not match a domain name on the whitelist:

**Your email must be associated with an authorized organization.**

@dshaykewich what do you think? @kkilbey

[2019-08-21 18:52] paulagaube commented on #687
@alex-418 Validate by Domain is not working as expected on Cert.

Account creation and activation works, on eypd.bccampus.ca, but my new account was not automatically made into an Organizer (with the role of Editor) as expected.

On eypd.bccampus.ca
I signed up as an Organizer using a BCcampus.ca email address,
And though an account was created, I was not authorized automatically as an Organizer/E

[2019-08-21 18:56] paulagaube commented on #682
I'm not a robot reCaptcha checkbox appears and is working on PC and Mac on Cert. eypd.bccampus.ca

[2019-08-21 18:58] paulagaube commented on #689
To clarify, this task was done on Prod. Up-to-date as of August 16, 2019.

[2019-08-21 19:01] paulagaube commented on #689
@kkilbey This task was done on Prod, not cert. Would you be able to double-check the spreadsheet (I will provide) against the actual Organizers list please and then mark this as done (if complete!)

[2019-08-21 19:14] alex-418 commented on #677
Holding off until we get the green light from @paulagaube to export production database.

[2019-08-21 22:35] alex-418 commented on #688
One of the alerts that persisted after updating our dependencies was js-yaml, After tracing it back to cosmiconfig, the issue was raised and I'm confident we can safely removed this security notice based on the results of https://github.com/davidtheclark/cosmiconfig/issues/183

[2019-08-21 23:21] paulagaube commented on #687
Okay, I have tested this in PROD and it works as expected. Thanks, Alex.
The old captcha is still on PROD.
I moved this to done in Cert, though it is not done in Cert yet. It is done in Prod. :)

[2019-08-21 23:39] paulagaube commented on #559
Thanks, @kkilbey , yes, delete that old FAQ if it is confusing.

This is done on PROD.

[2019-08-21 23:41] paulagaube commented on #667
Great, @kkilbey . Let's call this done for now and review the FAQ you mention above later... Or add the sentence you think is missing. Alex will be moving the Prod database to Cert so it might be best to revise this later.

[2019-08-21 23:45] paulagaube commented on #650
I confirm that this has been fixed on CERT.

It does still show up on Prod, perhaps as expected, @alex-418

[2019-08-21 23:48] paulagaube commented on #664
@kkilbey I think we will need to revisit this after Cert and Prod have been synchronized, and we may have to wait until after the sprint, or the next sprint to complete this task.

[2019-08-21 23:54] alex-418 commented on #650
@paulagaube That is correct, thank you for confirming this.

[2019-08-22 16:03] dshaykewich commented on #693
@alex-418 , could you please set my account up as an WP admin on eypd.bccampus.ca?

[2019-08-22 16:22] alex-418 commented on #693
@dshaykewich Documenting our discussion on this during the stand up meeting: This will now be a dev task where we'll display the tagline on cert but not prod. What should the tagline say? Should I make text ted and just put "TEST Site" and call it a win? I've also given you admin on cert as well in case you changed your mind about this.

[2019-08-22 17:59] paulagaube commented on #677
@alex-418 I talked with Kelsey and we want to give you the green light to go! Thank you!

[2019-08-22 22:31] alex-418 opened #695 "phpcs throwing deprecated messages during build"
**Describe the bug**
PHPCS is outdated and needs to be brought up to date.

**To Reproduce**
See the console output of a build https://travis-ci.com/BCcampus/eypd/jobs/227578192

**Expected behavior**
While the build succeeds, we should be using a version that takes into account deprecated php functions. There is 2 years of releases to catch up on, see the releases at https://github.com/humanmade/

[2019-08-22 22:58] alex-418 commented on #688
All security alerts have been cleared for dev and master branch

[2019-08-22 22:59] alex-418 commented on #661
@paulagaube @kkilbey this is now done on cert and prod

[2019-08-22 23:44] alex-418 commented on #677
@dshaykewich Had to change strategy on this as download/upload speeds when connected to the VPN are incredibly slow. I've created a private repository at https://github.com/BCcampus/eypd_prod/tree/master and will be pushing our production files here, and then pulling them into cert. This should simplify the process going forward. I've added a .gitignore file to ensure none of our configuration mak

[2019-08-23 19:56] alex-418 commented on #677
Cert and Prod now synchronized.

Documenting steps taken for future reference:

1. Export Production database
2. Drop tables on cert database
3. Import Production database tables into cert database
4. Overwrite Early Years directory in `/var/www/html/eypd` with the contents of `/var/www/html/earlyyears`
5. Update `wp-config.php` on cert with certification DB credentials
6. Update `Site URL` via `f

[2019-08-23 19:57] alex-418 commented on #677
@paulagaube @kkilbey @dshaykewich cert is now synced, feel free to kick the tires and see if you can break something :) 👍

[2019-08-23 19:58] dshaykewich commented on #677
Sweet!  Nice job, @alex-418 .

[2019-08-23 21:25] #688 closed

[2019-08-23 21:26] #684 closed

[2019-08-23 21:26] #687 closed

[2019-08-23 21:26] #689 closed

[2019-08-23 21:26] #686 closed

[2019-08-23 21:26] #559 closed

[2019-08-23 21:26] #667 closed

[2019-08-23 21:26] #650 closed

[2019-08-23 21:26] kkilbey commented on #661
Perfect! I like this wording; it's much clearer. Moving to Done in Cert!
![image](https://user-images.githubusercontent.com/44710357/63624647-f6158700-c5b1-11e9-9992-13f5afef0a27.png)

[2019-08-23 21:27] #661 closed

[2019-08-23 22:57] kkilbey commented on #677
@alex-418 I've been cruising through Cert, and so far haven't broken anything! Looks good :)

[2019-08-23 22:57] alex-418 commented on #677
@kkilbey thanks for doing that, glad to hear!

[2019-08-23 23:04] alex-418 commented on #682
Google's recaptcha v2 is now enabled for both cert and prod. Let's see if this reduces some of that spam!

[2019-08-23 23:24] alex-418 commented on #693
@dshaykewich This is where I landed with this, let me know if this works for you:

![test](https://user-images.githubusercontent.com/17072191/63628654-80fe7d80-c5c2-11e9-9def-cd0ebd8d4dcc.png)

[2019-08-23 23:30] dshaykewich commented on #693
Perfect!

[2019-08-23 23:30] #693 closed

[2019-08-23 23:31] #677 closed

[2019-08-27 19:37] kkilbey opened #696 "Remove "My Professional Interests" from Profile page menu"
The Professional Interests checklist was removed as part of ticket #684, but there is still a "My Professional Interests" tab in the profile page menu (pictured below). This tab now leads to a blank page and should be removed.

![image](https://user-images.githubusercontent.com/44710357/63802389-5dd81480-c8c7-11e9-96cd-4ce65e2a53e0.png)

Steps to reproduce this issue:
1. Log in to earlyyearsbc.ca

[2019-09-06 16:07] paulagaube opened #697 "Organizers are not automatically assigned the role of "Editor" on sign-up"
**Describe the bug**
When a new Organizer signs up for an Early Years account, and their email includes a valid domain from an authorized organization, they are not automatically assigned the role of "Editor". Their role remains "Subscriber" and they cannot post events without manual intervention from a site administrator.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://earlyye

[2019-09-06 18:03] paulagaube opened #698 "Change wording of text above Search box"
**Is your feature request related to a problem? Please describe.**
Kelsey and I have revised and replaced the text that is displaying above the search entry box under the heading "Search for training events" on the Earlyyearsbc.ca home page and Events page a number of times, but the text change does not stick when the site is updated.
A developer must make this change for it to be permanent.

http

[2019-09-06 18:30] paulagaube commented on #696
I wonder if this is there for a purpose? Could we discuss? I am creating a new issue about the Professional Interests that are missing from myEYPD. Maybe this is related.

[2019-09-06 18:45] paulagaube opened #699 "Professional Interests section with checkboxes missing from myEYPD page."
**Is your feature request related to a problem? Please describe.*

The Professional Interests section (with categories and checkboxes) is now missing from the myEYPD page. I noticed this after Prod and Cert were recently synchronized.

Is this a Bug or Feature? I'm not sure. This functionality already existed but is now gone.

**To Reproduce**

1. Go to myEYPD page
2. Scroll down to the bottom of

[2019-09-20 22:03] paulagaube opened #700 "Change one line of text on the Post an Event page"
**Is your feature request related to a problem? Please describe.**
See the text under the Heading "Post an Event" on this page: https://earlyyearsbc.ca/post-event/
Long message:
"This form is to be completed in order to post events on this web portal. To add your event, fill in the fields below. Fields marked with an * are mandatory. If you have multiple events to post please contact earlyyears[at

[2019-09-20 22:08] paulagaube commented on #697
Today two people signed up as Organizers on Earlyyearsbc.ca and were successfully assigned the role of Editor.
This issue appears to be resolved.
Did you do something magical, @alex-418 ?

[2019-09-20 22:21] alex-418 commented on #697
![giphy](https://user-images.githubusercontent.com/17072191/65361896-30c30d00-dbba-11e9-9242-3a9109983852.gif)

[2019-09-20 22:21] #697 closed

[2019-09-20 23:54] alex-418 commented on #700
Completed via https://github.com/bccampus/eypd/commit/bd6958d47c234417b058970f408c06ea802d7b70 please allow ~5 minutes for the changes to make it over to production.

[2019-09-23 17:03] paulagaube commented on #700
Thank you, @alex-418 I've confirmed the change is in Prod and it looks great! 👍

[2019-09-24 15:39] dshaykewich commented on #700
@alex-418 , when you have a chance, could you please also make the change on cert so that we keep parity between environments?  :-)

[2019-09-24 18:20] alex-418 commented on #700
@dshaykewich What preference for cadence do you have for parity on this project?

I ask because my current plan is to ensure the previous steps taken in https://github.com/BCcampus/eypd/issues/677 are repeated before the next sprint to maintain true parity. The reason behind this is to try an adhere to the dev/prod parity principle in twelve-factor: "all environments should be as similar as possib

[2019-09-24 18:32] dshaykewich commented on #700
@paulagaube noticed that the changes had not been 'tested' in cert, before promoting to prod.

@alex-418 , following the steps in #677 for future sprints sounds good.  My goal is to ensure we do not devolve into divergent sites again.

[2019-09-24 18:32] #700 closed

[2019-09-25 22:02] kkilbey opened #701 "(Re-)enable Matomo for earlyyearsbc.ca"
No stats have been collected for the Early Years prod site since Sept. 13 (when Matomo was moved). Please re-enable Matomo for earlyyearsbc.ca so we can begin tracking stats again. Thank you!

[2019-11-29 18:42] kkilbey opened #702 "Tab says "myEYP" instead of "myEYPD""
When I am logged in as a Learner or Organizer and on the myEYPD page, the browser tab says "myEYP" (see image below). Could this be changed to "myEYPD"? :)

![image](https://user-images.githubusercontent.com/44710357/69885908-6f4d0600-1294-11ea-965e-24a1d7486356.png)
(Chrome)

[2019-12-04 00:41] dshaykewich commented on #701
Reenabled

[2019-12-04 00:41] #701 closed, assigned to nobody

[2019-12-11 23:56] paulagaube opened #703 "Google Maps error message on EarlyYearsbc.ca and EYPD.bccampus.ca"
**Describe the bug**
On earlyyearsbc.ca and eypd.bccampus.ca websites, in the "Find training events near you" section, Google Maps shows an error message: "This page can't load Google Maps correctly." A watermark appears on the map "For development purposes only"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to earlyyearsbc.ca or eypd.bccampus.ca
2. Scroll down to "Find training events

[2019-12-12 16:42] dshaykewich commented on #703
The free Google account had expired.  I upgraded the account.  This appears fixed to me now.  Could you please confirm and close this ticket (if so), @paulagaube ?

[2019-12-12 16:54] paulagaube commented on #703
Thanks, @dshaykewich. Googlemaps are now displaying without the error message.
Closing this ticket. :)

[2019-12-12 16:54] #703 closed, assigned to dshaykewich

[2020-02-06 22:55] kkilbey opened #704 "Date Picker not displaying on Post an Event page"
**Describe the bug**
On the Post an Event page, organizers need to fill in the date of their event using the Date Picker. However, the Date Picker is not displaying, and if they type in the date instead, they get an error message and cannot post their event.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to earlyyearsbc.ca with an organizer or admin account
2. Click on "Post an Event

[2020-02-10 22:56] paulagaube commented on #704
@dshaykewich  and @alex-418 I'd like to escalate this issue as BUG please, as we've had another complaint from someone who is trying to submit an event on EarlyYearsBC.ca and is unable to do so.

I tested this afternoon on eypd.bccampus.ca and my test event cannot be submitted without the date picker. I tried manually entering dates in to a new event and this did not work. Here is a screenshot of

[2020-02-10 23:14] paulagaube commented on #704
There has been a third report of this problem, which means I will add an FAQ on the Early Years site explaining that this is a known issue and we our technical team is working on a solution.

[2020-02-10 23:15] alex-418 commented on #704
Thanks @paulagaube i'm looking into it now.

[2020-02-11 04:39] alex-418 commented on #704
@paulagaube @dshaykewich I've narrowed in on the cause. There's a front-end dependency that Events Manager requires which needs to be updated (jQuery ui), this is out of sync because we programmatically replaced the plugin version of this in our themes functions.php file with an older version via yarn(package manager) via our themes package.json. Currently yum fails to run on our server (used to i

[2020-02-12 21:01] alex-418 commented on #704
@paulagaube @dshaykewich This is now resolved, I created a test event and the date picker is now working as expected.

[2020-02-12 21:11] paulagaube commented on #704
Thanks, @alex-418 You are the BEST!!
I have confirmed the date picker now works on earlyyearsbc.ca.
Woot woot.

[2020-02-13 20:39] kkilbey commented on #704
Hi @alex-418 - unfortunately the Date Picker has stopped working again! Two people have reported that it was working for them yesterday, and now is not. I just tested in Chrome, and I don't see the Date Picker appear on the "Post an Event" page.

[2020-02-13 20:42] alex-418 commented on #704
@kkilbey How curious, the change I made yesterday was reverted. I suspect some sort of auto-update happened. It's now fixed again, but will keep this open until I discover the cause and prevent it from reverting again.

[2020-02-13 20:49] kkilbey commented on #704
@alex-418 Super strange! But thanks for fixing so quickly! I will let people know to try posting again now.

[2020-02-14 08:15] alex-418 commented on #704
@kkilbey This should be resolved, please re-open if you encounter this issue again.

[2020-02-14 08:15] #704 closed, assigned to nobody

[2020-03-02 16:44] dshaykewich opened #705 "Remove BCcampus Google Maps API ID from EYPD"
When we transition the EYPD site to a new host, remember to remove the BCcampus Google Maps API (and tell the new host to setup their own).

To date, there have been no charges from Google for the maps API, due to low traffic volume.

[2020-03-03 18:34] kkilbey opened #706 "Excel Export error - This site can't be reached"
**Describe the bug**
The Excel Export tool on earlyyearsbc.ca is not working. When I try to export a spreadsheet of users, I encounter an error screen (see screenshot below).

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to the earlyyearsbc.ca WP dashboard.
2. Go to Tools > Excel Export.
3. Check the box that says "Include personally identifiable information in export".
4. Click the

[2020-03-03 18:39] dshaykewich commented on #706
The error reported in the email:

[2020-03-04 23:38] kkilbey commented on #706
@alex-418 Just flagging this task as something to do before or during the week of March 16th in preparation for the EYPD transition. :)

[2020-03-04 23:45] alex-418 commented on #706
Thanks @kkilbey, this is a custom plugin we created for Kathreen to export some tables from the database. It's unclear if it's something that is still in use, or will be used in the future. @dshaykewich Will the new host require this functionality? Please let me know if I should spend time to fix and maintaining this custom plugin before the hand-off, or if it needs to be removed/retired instead.

[2020-03-04 23:48] dshaykewich commented on #706
I have my meeting tomorrow.  I'll find out.

[2020-03-04 23:55] paulagaube commented on #706
The custom export was useful to find duplicate locations and to see who was posting events, but also, I wonder about The Blob. If we keep this export functionality, @dshaykewich, will we need to include documentation on how to extract the info out of the blob?  (Just thinking out loud.)